[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox menu package"
edition     = { workspace = true }
keywords    = ["album", "artist", "menu", "playlist", "track"]
license     = { workspace = true }
name        = "moosicbox_menu"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert            = { workspace = true }
moosicbox_date_utils        = { workspace = true, features = ["chrono"] }
moosicbox_json_utils        = { workspace = true, features = ["database"] }
moosicbox_library           = { workspace = true }
moosicbox_library_music_api = { workspace = true }
moosicbox_menu_models       = { workspace = true }
moosicbox_music_api         = { workspace = true }
moosicbox_music_models      = { workspace = true }
moosicbox_paging            = { workspace = true }
moosicbox_profiles          = { workspace = true, optional = true, features = ["api"] }
moosicbox_scan              = { workspace = true }
moosicbox_search            = { workspace = true }
moosicbox_session           = { workspace = true }
switchy_database            = { workspace = true }
switchy_time                = { workspace = true, features = ["std"] }

# API Dependencies
utoipa = { workspace = true, optional = true }

actix-web = { workspace = true, optional = true }
log       = { workspace = true }
serde     = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tokio     = { workspace = true }

[features]
default = ["api", "local", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_library/fail-on-warnings",
    "moosicbox_library_music_api/fail-on-warnings",
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_profiles?/fail-on-warnings",
    "moosicbox_scan/fail-on-warnings",
    "moosicbox_search/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

local = ["moosicbox_scan/local"]

api = [
    "dep:actix-web",
    "dep:moosicbox_profiles",
    "moosicbox_library/api",
    "moosicbox_library_music_api/api",
    "moosicbox_menu_models/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_profiles?/api",
    "moosicbox_scan/api",
    "moosicbox_search/api",
    "moosicbox_session/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_library/openapi",
    "moosicbox_menu_models/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
    "moosicbox_scan/openapi",
    "moosicbox_search/openapi",
    "moosicbox_session/openapi",
]
