[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-tools"]
description = "MoosicBox menu package"
edition     = "2021"
keywords    = ["album", "artist", "menu", "playlist", "track"]
license     = "MPL-2.0"
name        = "moosicbox_menu"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
moosicbox_assert = { version = "0.1.0", path = "../assert", default-features = false }
moosicbox_core = { version = "0.1.0", path = "../core", default-features = false }
moosicbox_database = { version = "0.1.0", path = "../database", default-features = false }
moosicbox_library = { version = "0.1.0", path = "../library", default-features = false }
moosicbox_menu_models = { version = "0.1.0", path = "models", default-features = false }
moosicbox_music_api = { version = "0.1.0", path = "../music_api", features = [
    "db",
] }
moosicbox_paging = { version = "0.1.0", path = "../paging", default-features = false }
moosicbox_scan = { version = "0.1.0", path = "../scan", default-features = false }
moosicbox_search = { version = "0.1.0", path = "../search", default-features = false }
moosicbox_session = { version = "0.1.0", path = "../session", default-features = false }

moosicbox_qobuz = { version = "0.1.0", path = "../qobuz", optional = true, default-features = false }
moosicbox_tidal = { version = "0.1.0", path = "../tidal", optional = true, default-features = false }
moosicbox_yt    = { version = "0.1.0", path = "../yt", optional = true, default-features = false }

# API Dependencies
utoipa = { workspace = true, optional = true }

actix-web  = { workspace = true, optional = true }
log        = { workspace = true }
serde      = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror  = { workspace = true }
tokio      = { workspace = true }

[features]
default = ["all-sources", "api", "local", "openapi"]

fail-on-warnings = []

local = ["moosicbox_scan/local"]

api = [
    "dep:actix-web",
    "moosicbox_library/api",
    "moosicbox_menu_models/api",
    "moosicbox_music_api/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_core/openapi",
    "moosicbox_library/openapi",
    "moosicbox_menu_models/openapi",
]

all-sources = ["qobuz", "tidal", "yt"]

qobuz = [
    "dep:moosicbox_qobuz",
    "moosicbox_core/qobuz",
    "moosicbox_menu_models/qobuz",
    "moosicbox_scan/qobuz",
    "moosicbox_session/qobuz",
]
tidal = [
    "dep:moosicbox_tidal",
    "moosicbox_core/tidal",
    "moosicbox_menu_models/tidal",
    "moosicbox_scan/tidal",
    "moosicbox_session/tidal",
]
yt = [
    "dep:moosicbox_yt",
    "moosicbox_core/yt",
    "moosicbox_menu_models/yt",
    "moosicbox_scan/yt",
    "moosicbox_session/yt",
]
