[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox downloader package"
edition     = { workspace = true }
keywords    = ["audio", "download", "downloader", "multimedia"]
license     = { workspace = true }
name        = "moosicbox_downloader"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_assert         = { workspace = true }
moosicbox_config         = { workspace = true }
moosicbox_files          = { workspace = true, features = ["files"] }
moosicbox_json_utils     = { workspace = true, features = ["serde_json"] }
moosicbox_music_api      = { workspace = true }
moosicbox_music_models   = { workspace = true }
moosicbox_paging         = { workspace = true }
moosicbox_remote_library = { workspace = true }
moosicbox_scan           = { workspace = true, features = ["local"] }

switchy_async    = { workspace = true, features = ["tokio"] }
switchy_database = { workspace = true }
switchy_fs       = { workspace = true, features = ["tokio"] }

# API Dependencies
actix-web      = { workspace = true, optional = true }
moosicbox_auth = { workspace = true, optional = true }
utoipa         = { workspace = true, optional = true }

async-recursion     = { workspace = true }
async-trait         = { workspace = true }
atomic_float        = { workspace = true }
futures             = { workspace = true }
hyper               = { version = "=1.6.0" }
id3                 = { workspace = true }
log                 = { workspace = true }
moosicbox_audiotags = { workspace = true }
regex               = { workspace = true }
serde               = { workspace = true, features = ["derive"] }
serde_json          = { workspace = true }
strum               = { workspace = true }
strum_macros        = { workspace = true }
thiserror           = { workspace = true }
tokio               = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
switchy_database  = { workspace = true, features = ["schema"] }
test-log          = { workspace = true }
tokio             = { workspace = true, features = ["macros", "rt", "tracing"] }

[features]
default = ["all-formats", "api", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_auth?/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_remote_library/fail-on-warnings",
    "moosicbox_scan/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "dep:moosicbox_auth",
    "moosicbox_auth?/api",
    "moosicbox_config/api",
    "moosicbox_files/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_scan/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_auth?/openapi",
    "moosicbox_config/openapi",
    "moosicbox_files/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
    "moosicbox_scan/openapi",
]

all-decoders = [
    "all-os-decoders",
    "decoder-mp3",
    "moosicbox_files/all-decoders",
]
all-os-decoders = [
    "decoder-aac",
    "decoder-flac",
    "decoder-opus",
    "moosicbox_files/all-os-decoders",
]

decoder-aac  = ["format-aac", "moosicbox_files/decoder-aac"]
decoder-flac = ["format-flac", "moosicbox_files/decoder-flac"]
decoder-mp3  = ["format-mp3", "moosicbox_files/decoder-mp3"]
decoder-opus = ["format-opus", "moosicbox_files/decoder-opus"]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_files/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_scan/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_files/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_scan/all-os-formats",
]

format-aac  = ["moosicbox_files/format-aac", "moosicbox_music_models/aac"]
format-flac = ["moosicbox_files/format-flac", "moosicbox_music_models/flac"]
format-mp3  = ["moosicbox_files/format-mp3", "moosicbox_music_models/mp3"]
format-opus = ["moosicbox_files/format-opus", "moosicbox_music_models/opus"]
