[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "MoosicBox tunnel package"
edition     = { workspace = true }
keywords    = ["api", "tunnel", "websocket"]
license     = { workspace = true }
name        = "moosicbox_tunnel"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_assert = { workspace = true }
switchy_async    = { workspace = true, features = ["tokio", "util"] }
switchy_http     = { workspace = true, features = ["serde"] }
switchy_time     = { workspace = true, features = ["std"] }

# Base64 dependencies
base64 = { workspace = true, optional = true }

bytes        = { workspace = true }
futures-util = { workspace = true }
log          = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true }
strum_macros = { workspace = true }
thiserror    = { workspace = true }
tokio        = { workspace = true, features = ["rt", "tracing"] }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["base64"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

base64 = ["dep:base64"]
