[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad JS Bundler package"
edition     = { workspace = true }
keywords    = ["bundler", "html", "js", "web"]
license     = { workspace = true }
name        = "hyperchad_js_bundler"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "hyperchad"

[package.metadata.cargo-machete]
ignored = []

[dependencies]
log         = { workspace = true }
switchy_env = { workspace = true, features = ["std"] }

anyhow                         = { workspace = true, optional = true }
swc_bundler                    = { workspace = true, optional = true }
swc_common                     = { workspace = true, optional = true }
swc_ecma_ast                   = { workspace = true, optional = true }
swc_ecma_codegen               = { workspace = true, optional = true }
swc_ecma_loader                = { workspace = true, optional = true }
swc_ecma_minifier              = { workspace = true, optional = true }
swc_ecma_parser                = { workspace = true, optional = true }
swc_ecma_transforms_base       = { workspace = true, optional = true }
swc_ecma_transforms_typescript = { workspace = true, optional = true }
swc_ecma_visit                 = { workspace = true, optional = true }

[dev-dependencies]
tempfile = { workspace = true }
test-log = { workspace = true }

[features]
default = ["all-web-toolchains", "esbuild", "swc"]

fail-on-warnings = ["switchy_env/fail-on-warnings"]

node = []

bun  = ["node"]
npm  = ["node"]
pnpm = ["node"]

all-web-toolchains = ["bun", "npm", "pnpm"]

swc = [
    "dep:anyhow",
    "dep:swc_bundler",
    "dep:swc_common",
    "dep:swc_ecma_ast",
    "dep:swc_ecma_codegen",
    "dep:swc_ecma_loader",
    "dep:swc_ecma_minifier",
    "dep:swc_ecma_parser",
    "dep:swc_ecma_transforms_base",
    "dep:swc_ecma_transforms_typescript",
    "dep:swc_ecma_visit",
]

esbuild = ["node"]
