[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Switchy HTTP Networking package"
edition     = { workspace = true }
keywords    = ["http", "network", "networking"]
license     = { workspace = true }
name        = "switchy_http"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
switchy_http_models = { workspace = true }

# reqwest
reqwest = { workspace = true, optional = true }

# stream
futures-core = { workspace = true, optional = true }
futures-util = { workspace = true }

async-trait = { workspace = true }
bytes       = { workspace = true }
log         = { workspace = true }
paste       = { workspace = true }
serde       = { workspace = true, optional = true }
serde_json  = { workspace = true, optional = true }
strum       = { workspace = true, features = ["derive"] }
thiserror   = { workspace = true }

[dev-dependencies]
futures-util  = { workspace = true }
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }

[features]
default = ["json", "reqwest", "simulator", "stream"]

fail-on-warnings = ["switchy_http_models/fail-on-warnings"]

reqwest   = ["dep:reqwest", "switchy_http_models/reqwest"]
simulator = []

json   = ["dep:serde_json", "reqwest?/json", "serde"]
stream = ["dep:futures-core", "reqwest?/stream"]

serde = ["dep:serde", "switchy_http_models/serde"]
