[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad template package"
edition     = { workspace = true }
include     = ["src", "tests"]
keywords    = ["hyperchad"]
license     = { workspace = true }
name        = "hyperchad_template"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["rustc_version"]

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_actions              = { workspace = true }
hyperchad_color                = { workspace = true }
hyperchad_template_actions_dsl = { workspace = true }
hyperchad_template_macros      = { workspace = true }
hyperchad_transformer          = { workspace = true }
hyperchad_transformer_models   = { workspace = true }

itoa = { workspace = true }
ryu  = { workspace = true }

[dev-dependencies]
hyperchad_actions       = { workspace = true, features = ["logic"] }
hyperchad_renderer_html = { workspace = true }
hyperchad_template      = { workspace = true, features = ["logic"] }
hyperchad_transformer   = { workspace = true, features = ["canvas"] }
log                     = { workspace = true }
pretty_assertions       = { workspace = true }
test-log                = { workspace = true }
trybuild                = { workspace = true, features = ["diff"] }

[features]
default = ["logic"]
logic   = ["hyperchad_actions/logic", "hyperchad_transformer/logic"]

fail-on-warnings = [
    "hyperchad_actions/fail-on-warnings",
    "hyperchad_color/fail-on-warnings",
    "hyperchad_template_actions_dsl/fail-on-warnings",
    "hyperchad_template_macros/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "hyperchad_transformer_models/fail-on-warnings",
]

[build-dependencies]
rustc_version = { workspace = true }
