[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "Switchy telemetry package"
edition     = { workspace = true }
keywords    = ["grafana", "otel", "telemetry", "tempo"]
license     = { workspace = true }
name        = "switchy_telemetry"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
moosicbox_assert    = { workspace = true }
moosicbox_env_utils = { workspace = true }
moosicbox_logging   = { workspace = true, features = ["free_log"] }
switchy_env         = { workspace = true, features = ["std"] }

actix-web               = { workspace = true, optional = true }
actix-web-opentelemetry = { workspace = true, optional = true }
futures-util            = { workspace = true, optional = true }
log                     = { workspace = true }
opentelemetry           = { workspace = true }
opentelemetry-otlp      = { workspace = true, features = ["grpc-tonic"] }
opentelemetry_sdk       = { workspace = true }
tracing                 = { workspace = true }
tracing-opentelemetry   = { workspace = true }
tracing-subscriber      = { workspace = true, optional = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["actix", "simulator"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]

actix = ["dep:actix-web", "dep:actix-web-opentelemetry", "dep:futures-util"]

simulator = ["dep:tracing-subscriber", "switchy_env/simulator"]
