# Need to set `stty sane` for fish
# https://github.com/direnv/direnv/issues/967#issuecomment-1987134113
if [[ $SHELL =~ "fish" ]]; then
  stty sane
fi

# Automatically load the Nix flake development environment
use flake

# Optional: Load additional environment variables from .env if it exists
dotenv_if_exists .env
