.terraform/
packages/opus_native/libopus/opus/
packages/app/tauri/tauri-plugin-player/permissions/
sst-env.d.ts
app-website/**/*
pnpm-lock.yaml
dist/
gen/
node_modules/
src-tauri/
package-lock.json
test-resources/
