[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox audio zone package"
edition     = { workspace = true }
keywords    = ["audio", "group", "grouping", "playback"]
license     = { workspace = true }
name        = "moosicbox_audio_zone"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert            = { workspace = true }
moosicbox_audio_zone_models = { workspace = true }
moosicbox_json_utils        = { workspace = true, features = ["database"] }
switchy_async               = { workspace = true, features = ["tokio"] }
switchy_database            = { workspace = true }

# API Dependencies
actix-web        = { workspace = true, optional = true }
moosicbox_paging = { workspace = true, optional = true }
utoipa           = { workspace = true, optional = true }

# Events Dependencies


log   = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "tracing"] }

[features]
default = ["api", "events", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_zone_models/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_paging?/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "dep:moosicbox_paging",
    "moosicbox_audio_zone_models/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_zone_models/openapi",
    "moosicbox_paging?/openapi",
]

events = []

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros"] }
test-log      = { workspace = true }
