[package]
authors     = { workspace = true }
categories  = ["development-tools::testing", "simulation"]
description = "Simulator Harness package"
edition     = { workspace = true }
keywords    = ["deterministic", "harness", "simulator", "test"]
license     = { workspace = true }
name        = "simvar_harness"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["moosicbox_web_server"]

[package.metadata.workspaces]
group = "simvar"

[dependencies]
moosicbox_web_server = { workspace = true, optional = true }
simvar_utils = { workspace = true }
switchy = { workspace = true, features = [
    "async",
    "random",
    "simulator",
    "tcp",
    "time",
] }

btparse         = { workspace = true }
color-backtrace = { workspace = true }
ctrlc           = { workspace = true }
log             = { workspace = true }
scoped-tls      = { workspace = true }
shell-words     = { workspace = true }
thiserror       = { workspace = true }

# TUI
oneshot = { workspace = true, optional = true }
ratatui = { workspace = true, optional = true }

# Logging
pretty_env_logger = { workspace = true, optional = true }

[features]
default = ["pretty_env_logger", "tui"]

fail-on-warnings = [
    "moosicbox_web_server?/fail-on-warnings",
    "simvar_utils/fail-on-warnings",
    "switchy/fail-on-warnings",
]

async      = ["switchy/async"]
database   = ["switchy/database", "switchy/database-connection"]
fs         = ["switchy/fs", "switchy/fs-tokio"]
http       = ["switchy/http"]
mdns       = ["switchy/mdns"]
random     = ["switchy/random"]
tcp        = ["switchy/tcp"]
telemetry  = ["switchy/telemetry"]
time       = ["switchy/time"]
upnp       = ["switchy/upnp"]
web-server = ["dep:moosicbox_web_server", "moosicbox_web_server/simulator"]

tui = ["dep:oneshot", "dep:ratatui"]
