[package]
authors     = ["Braden Steffaniak"]
categories  = ["gui"]
description = "HyperChad HTML renderer package"
edition     = "2021"
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = "MPL-2.0"
name        = "hyperchad_renderer_html"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
hyperchad_renderer = { version = "0.1.0", path = "../", default-features = false, features = [
    "canvas",
    "html",
] }
hyperchad_renderer_html_actix = { version = "0.1.0", path = "actix", default-features = false, optional = true }
hyperchad_renderer_html_lambda = { version = "0.1.0", path = "lambda", default-features = false, optional = true }
hyperchad_router = { version = "0.1.0", path = "../../../hyperchad/router", default-features = false }
hyperchad_transformer = { version = "0.1.0", path = "../../transformer", default-features = false, features = [
    "html",
] }
moosicbox_assert = { version = "0.1.0", path = "../../../assert", default-features = false }
moosicbox_env_utils = { version = "0.1.0", path = "../../../env_utils", default-features = false }
moosicbox_logging = { version = "0.1.0", path = "../../../logging", default-features = false, features = [
    "macros",
] }

async-trait = { workspace = true }
flume       = { workspace = true }
log         = { workspace = true }
maud        = { workspace = true }
serde_json  = { workspace = true, optional = true }
tokio       = { workspace = true }
uaparser    = { workspace = true }

[features]
default = ["actix", "assets", "debug", "extend", "json", "lambda"]

fail-on-warnings = []

debug = []

actix  = ["dep:hyperchad_renderer_html_actix"]
lambda = ["dep:hyperchad_renderer_html_lambda"]

json = [
    "dep:serde_json",
    "hyperchad_renderer/json",
    "hyperchad_renderer_html_lambda?/json",
    "hyperchad_router/json",
]

assets = [
    "hyperchad_renderer/assets",
    "hyperchad_renderer_html_actix?/assets",
    "hyperchad_renderer_html_lambda?/assets",
]

extend = []
