[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad HTML renderer package"
edition     = { workspace = true }
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_html"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_renderer                 = { workspace = true, features = ["canvas", "html"] }
hyperchad_renderer_html_actix      = { workspace = true, optional = true }
hyperchad_renderer_html_lambda     = { workspace = true, optional = true }
hyperchad_renderer_html_web_server = { workspace = true, optional = true }
hyperchad_router                   = { workspace = true }
hyperchad_transformer              = { workspace = true, features = ["html"] }
moosicbox_assert                   = { workspace = true }
moosicbox_env_utils                = { workspace = true }
moosicbox_logging                  = { workspace = true, features = ["macros"] }
switchy                            = { workspace = true, features = ["http-models"] }
switchy_http_models                = { workspace = true }

async-trait = { workspace = true }
bytes       = { workspace = true }
flume       = { workspace = true }
html-escape = { workspace = true }
log         = { workspace = true }
maud        = { workspace = true }
qstring     = { workspace = true }
serde_json  = { workspace = true }
thiserror   = { workspace = true, optional = true }
uaparser    = { workspace = true }

[features]
default = ["actix", "assets", "debug", "extend", "json", "lambda"]

fail-on-warnings = [
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_renderer_html_actix?/fail-on-warnings",
    "hyperchad_renderer_html_lambda?/fail-on-warnings",
    "hyperchad_renderer_html_web_server?/fail-on-warnings",
    "hyperchad_router/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_http_models/fail-on-warnings",
]

debug = [
    "hyperchad_renderer_html_actix?/debug",
    "hyperchad_renderer_html_lambda?/debug",
    "hyperchad_renderer_html_web_server?/debug",
]

actix = [
    "dep:hyperchad_renderer_html_actix",
    "extend",
    "hyperchad_renderer_html_web_server?/actix",
    "switchy_http_models/actix",
]
lambda = ["dep:hyperchad_renderer_html_lambda"]
web-server = ["dep:hyperchad_renderer_html_web_server", "extend"]

web-server-actix = ["hyperchad_renderer_html_web_server?/actix", "web-server"]
web-server-simulator = [
    "hyperchad_renderer_html_web_server?/simulator",
    "web-server",
]

json = [
    "hyperchad_renderer/json",
    "hyperchad_renderer_html_lambda?/json",
    "hyperchad_router/json",
]

assets = [
    "hyperchad_renderer/assets",
    "hyperchad_renderer_html_actix?/assets",
    "hyperchad_renderer_html_lambda?/assets",
    "hyperchad_renderer_html_web_server?/assets",
]

actions = ["hyperchad_renderer_html_actix?/actions"]
sse     = ["hyperchad_renderer_html_actix?/sse"]

extend = ["dep:thiserror"]

[dev-dependencies]
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
test-log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "time"] }
