[package]
authors     = { workspace = true }
categories  = ["gui", "web-programming"]
description = "HyperChad actions package"
edition     = { workspace = true }
keywords    = ["actions", "gui", "web"]
license     = { workspace = true }
name        = "hyperchad_actions"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_color = { workspace = true, optional = true }
hyperchad_transformer_models = { workspace = true }
moosicbox_arb = { workspace = true, optional = true, features = [
    "serde",
    "xml",
] }
moosicbox_assert = { workspace = true }
switchy_time = { workspace = true, features = ["std"] }

log        = { workspace = true }
quickcheck = { workspace = true, optional = true }
serde      = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

[dev-dependencies]
flume                        = { workspace = true }
hyperchad_transformer_models = { workspace = true, features = ["arb"] }
moosicbox_arb                = { workspace = true, features = ["serde", "xml"] }
test-log                     = { workspace = true }

[features]
default = ["arb", "handler", "logic", "serde"]

fail-on-warnings = [
    "hyperchad_color?/fail-on-warnings",
    "hyperchad_transformer_models/fail-on-warnings",
    "moosicbox_arb?/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

arb = [
    "dep:moosicbox_arb",
    "dep:quickcheck",
    "hyperchad_color?/arb",
    "hyperchad_transformer_models/arb",
]
logic = []

serde = [
    "dep:serde",
    "dep:serde_json",
    "hyperchad_color?/serde",
    "hyperchad_transformer_models/serde",
    "moosicbox_arb?/serde",
]

handler = ["dep:hyperchad_color", "logic"]
