[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox menu models package"
edition     = { workspace = true }
keywords    = ["album", "artist", "menu", "playlist", "track"]
license     = { workspace = true }
name        = "moosicbox_menu_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_music_models = { workspace = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

log   = { workspace = true }
serde = { workspace = true, features = ["derive"] }

[dev-dependencies]
moosicbox_music_models = { workspace = true, features = ["flac"] }
test-log               = { workspace = true }

[features]
default = ["api", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
]

api     = ["moosicbox_music_models/api"]
openapi = ["dep:utoipa", "moosicbox_music_models/openapi"]
