[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-tools"]
description = "MoosicBox menu models package"
edition     = "2021"
keywords    = ["album", "artist", "menu", "playlist", "track"]
license     = "MPL-2.0"
name        = "moosicbox_menu_models"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
moosicbox_assert       = { version = "0.1.0", path = "../../assert", default-features = false }
moosicbox_music_models = { version = "0.1.0", path = "../../music/models", default-features = false }

# API Dependencies
utoipa = { workspace = true, optional = true }

log   = { workspace = true }
serde = { workspace = true, features = ["derive"] }

[features]
default = ["all-sources", "api", "openapi"]

fail-on-warnings = []

api     = ["moosicbox_music_models/api"]
openapi = ["dep:utoipa", "moosicbox_music_models/openapi"]

all-sources = ["qobuz", "tidal", "yt"]

qobuz = ["moosicbox_music_models/qobuz"]
tidal = ["moosicbox_music_models/tidal"]
yt    = ["moosicbox_music_models/yt"]
