[package]
authors     = { workspace = true }
build       = "build.rs"
categories  = ["network-programming"]
default-run = "moosicbox_tunnel_server"
description = "MoosicBox tunnel server package"
edition     = { workspace = true }
keywords    = ["api", "server", "tunnel", "websocket"]
license     = { workspace = true }
name        = "moosicbox_tunnel_server"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[package.metadata.cargo-machete]
ignored = ["strum"]

[[bin]]
name = "moosicbox_tunnel_server"
path = "src/main.rs"

[dependencies]
moosicbox_assert        = { workspace = true }
moosicbox_async_service = { workspace = true }
moosicbox_env_utils     = { workspace = true }
moosicbox_json_utils    = { workspace = true, features = ["database"] }
moosicbox_logging       = { workspace = true, features = ["free_log"] }
moosicbox_middleware    = { workspace = true }
moosicbox_profiles      = { workspace = true, features = ["api"] }
switchy_time            = { workspace = true, features = ["std"] }

moosicbox_tunnel            = { workspace = true }
switchy_async               = { workspace = true, features = ["sync", "tokio"] }
switchy_database            = { workspace = true, features = ["api"] }
switchy_database_connection = { workspace = true }
switchy_env                 = { workspace = true, features = ["std"] }
switchy_http                = { workspace = true, features = ["serde"] }
switchy_random              = { workspace = true, features = ["rand"] }
switchy_telemetry           = { workspace = true, features = ["actix"], optional = true }
switchy_uuid                = { workspace = true, features = ["uuid"] }

actix-cors = { workspace = true }
actix-web = { workspace = true }
actix-ws = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
console-subscriber = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
log = { workspace = true }
qstring = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
subtle = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tracing = { workspace = true, optional = true }

[features]
default = [
    "base64",
    "postgres-native-tls",
    "postgres-openssl",
    "postgres-raw",
    "postgres-sqlx",
    "telemetry",
]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_middleware/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "moosicbox_tunnel/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_database_connection/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_random/fail-on-warnings",
    "switchy_telemetry?/fail-on-warnings",
    "switchy_time/fail-on-warnings",
    "switchy_uuid/fail-on-warnings",
]

base64 = ["moosicbox_tunnel/base64"]

sqlite = [
    "switchy_database/sqlite",
    "switchy_database_connection/sqlite",
    "switchy_database_connection/sqlite-sqlx",
]

postgres = [
    "switchy_database/postgres",
    "switchy_database_connection/creds",
    "switchy_database_connection/postgres",
    "switchy_database_connection/tls",
]
postgres-native-tls = [
    "postgres",
    "switchy_database_connection/postgres-native-tls",
]
postgres-openssl = ["postgres", "switchy_database_connection/postgres-openssl"]
postgres-raw = [
    "postgres",
    "switchy_database/postgres-raw",
    "switchy_database_connection/postgres-raw",
]
postgres-sqlx = [
    "postgres",
    "switchy_database/postgres-sqlx",
    "switchy_database_connection/postgres-sqlx",
]

telemetry = ["dep:switchy_telemetry", "dep:tracing"]
