[package]
authors     = ["Braden Steffaniak"]
categories  = ["network-programming"]
default-run = "moosicbox_tunnel_server"
description = "MoosicBox tunnel server package"
edition     = "2021"
keywords    = ["api", "server", "tunnel", "websocket"]
license     = "MPL-2.0"
name        = "moosicbox_tunnel_server"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[package.metadata.cargo-machete]
ignored = ["strum"]

[[bin]]
name = "moosicbox_tunnel_server"
path = "src/main.rs"

[dependencies]
moosicbox_assert = { version = "0.1.0", path = "../assert", default-features = false }
moosicbox_async_service = { version = "0.1.0", path = "../async_service", default-features = false }
moosicbox_database = { version = "0.1.0", path = "../database", default-features = false, features = [
    "api",
] }
moosicbox_database_connection = { version = "0.1.0", path = "../database_connection", default-features = false }
moosicbox_env_utils = { version = "0.1.0", path = "../env_utils" }
moosicbox_json_utils = { version = "0.1.0", path = "../json_utils", default-features = false, features = [
    "database",
] }
moosicbox_logging = { version = "0.1.0", path = "../logging", features = [
    "free_log",
] }
moosicbox_middleware = { version = "0.1.0", path = "../middleware", default-features = false }
moosicbox_task = { version = "0.1.0", path = "../task", default-features = false }
moosicbox_telemetry = { version = "0.1.0", path = "../telemetry", default-features = false, features = [
    "actix",
], optional = true }
moosicbox_tunnel = { version = "0.1.0", path = "../tunnel", default-features = false }

actix-cors = { workspace = true }
actix-web = { workspace = true }
actix-ws = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
console-subscriber = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
log = { workspace = true }
qstring = { workspace = true }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tokio-util = { workspace = true }
tracing = { workspace = true, optional = true }
uuid = { workspace = true }

[features]
default = [
    "base64",
    "postgres-native-tls",
    "postgres-openssl",
    "postgres-raw",
    "postgres-sqlx",
    "telemetry",
]

fail-on-warnings = []

base64 = ["moosicbox_tunnel/base64"]

sqlite = [
    "moosicbox_database_connection/sqlite",
    "moosicbox_database_connection/sqlite-sqlx",
]

postgres = [
    "moosicbox_database_connection/postgres",
    "moosicbox_database_connection/tls",
]
postgres-native-tls = [
    "moosicbox_database_connection/postgres-native-tls",
    "postgres",
]
postgres-openssl = [
    "moosicbox_database_connection/postgres-openssl",
    "postgres",
]
postgres-raw = ["moosicbox_database_connection/postgres-raw", "postgres"]
postgres-sqlx = ["moosicbox_database_connection/postgres-sqlx", "postgres"]

telemetry = ["dep:moosicbox_telemetry", "dep:tracing"]
