[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia", "network-programming"]
description = "MoosicBox Library Music API models package"
edition     = { workspace = true }
keywords    = ["audio", "library", "models"]
license     = { workspace = true }
name        = "moosicbox_library_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["strum_macros"]

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_date_utils   = { workspace = true, features = ["chrono"] }
moosicbox_json_utils   = { workspace = true, features = ["serde_json"] }
moosicbox_music_models = { workspace = true }
switchy_database       = { workspace = true, optional = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

async-trait  = { workspace = true, optional = true }
log          = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true, features = ["derive"] }
strum_macros = { workspace = true }

[features]
default = ["all-formats", "api", "db", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "switchy_database?/fail-on-warnings",
]

api     = ["moosicbox_music_models/api", "switchy_database?/api"]
openapi = ["dep:utoipa", "moosicbox_music_models/openapi"]

db = [
    "dep:async-trait",
    "dep:switchy_database",
    "moosicbox_json_utils/database",
    "moosicbox_music_models/db",
]

all-formats = ["all-os-formats", "moosicbox_music_models/all-formats", "mp3"]
all-os-formats = [
    "aac",
    "flac",
    "moosicbox_music_models/all-os-formats",
    "opus",
]

aac  = ["moosicbox_music_models/aac"]
flac = ["moosicbox_music_models/flac"]
mp3  = ["moosicbox_music_models/mp3"]
opus = ["moosicbox_music_models/opus"]
