[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad Vanilla JS HTML renderer hash package"
edition     = { workspace = true }
keywords    = ["gui", "html", "js", "render", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_vanilla_js_hash"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
const-hex         = { workspace = true }
const_format      = { workspace = true }
sha2-const-stable = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["all-plugins"]

fail-on-warnings = []

_any-plugins = []
all-plugins = [
    "plugin-actions",
    "plugin-canvas",
    "plugin-event",
    "plugin-form",
    "plugin-http-events",
    "plugin-idiomorph",
    "plugin-nav",
    "plugin-routing",
    "plugin-sse",
    "plugin-tauri-event",
    "plugin-uuid",
]

_actions = ["_any-plugins"]
plugin-actions = [
    "plugin-actions-change",
    "plugin-actions-click",
    "plugin-actions-click-outside",
    "plugin-actions-event",
    "plugin-actions-event-key-down",
    "plugin-actions-event-key-up",
    "plugin-actions-immediate",
    "plugin-actions-key-down",
    "plugin-actions-key-up",
    "plugin-actions-mouse-down",
    "plugin-actions-mouse-over",
    "plugin-actions-resize",
]
plugin-actions-change = ["_actions"]
plugin-actions-click = ["_actions"]
plugin-actions-click-outside = ["_actions"]
plugin-actions-event = ["_actions"]
plugin-actions-event-key-down = ["_actions"]
plugin-actions-event-key-up = ["_actions"]
plugin-actions-immediate = ["_actions"]
plugin-actions-key-down = ["_actions"]
plugin-actions-key-up = ["_actions"]
plugin-actions-mouse-down = ["_actions"]
plugin-actions-mouse-over = ["_actions"]
plugin-actions-resize = ["_actions"]

plugin-canvas        = ["_any-plugins"]
plugin-event         = ["_any-plugins"]
plugin-form          = ["_any-plugins"]
plugin-http-events   = ["_any-plugins"]
plugin-idiomorph     = ["_any-plugins"]
plugin-nav           = ["_any-plugins"]
plugin-routing       = ["_any-plugins"]
plugin-sse           = ["_any-plugins"]
plugin-tauri-event   = ["_any-plugins"]
plugin-uuid          = ["_any-plugins"]
plugin-uuid-insecure = ["_any-plugins"]
