[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "MoosicBox load balancer"
edition     = { workspace = true }
keywords    = ["api", "balance", "balancer", "load"]
license     = { workspace = true }
name        = "moosicbox_load_balancer"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["moosicbox_env_utils"]

[[bin]]
name              = "moosicbox_lb"
path              = "src/main.rs"
required-features = []

[dependencies]
moosicbox_env_utils = { workspace = true }
moosicbox_logging   = { workspace = true, features = ["free_log"] }
switchy_env         = { workspace = true, features = ["std"] }

async-trait            = { workspace = true }
log                    = { workspace = true }
pingora-core           = { workspace = true }
pingora-http           = { workspace = true }
pingora-load-balancing = { workspace = true }
pingora-proxy          = { workspace = true }

[target.'cfg(not(target_os = "windows"))'.dependencies]
pingora = { workspace = true, features = ["openssl"] }

[target.'cfg(target_os = "windows")'.dependencies]
pingora = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]
