[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "Bloaty package"
edition     = { workspace = true }
keywords    = ["bloaty", "util", "utilities", "utils"]
license     = { workspace = true }
name        = "bloaty"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.0.3"

[package.metadata]
examples = false
tests    = false

[package.metadata.workspaces]
independent = true

[[bin]]
name              = "bloaty"
path              = "src/main.rs"
required-features = []

[dependencies]
switchy_time = { workspace = true, features = ["std"] }

anyhow            = { workspace = true, features = ["backtrace"] }
bytesize          = { workspace = true }
cargo_metadata    = { workspace = true }
clap              = { workspace = true, features = ["derive"] }
glob              = { workspace = true }
log               = { workspace = true }
pretty_env_logger = { workspace = true }
regex             = { workspace = true }
serde_json        = { workspace = true }

[features]
fail-on-warnings = ["switchy_time/fail-on-warnings"]
