[package]
authors     = ["Braden Steffaniak"]
categories  = ["compression", "development-tools", "multimedia"]
description = "MoosicBox image package"
edition     = "2021"
keywords    = ["compression", "image", "resize"]
license     = "MPL-2.0"
name        = "moosicbox_image"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[package.metadata.cargo-machete]
ignored = ["strum"]

[[bin]]
name              = "image_helper"
path              = "src/main.rs"
required-features = ["build-binary"]

[dependencies]
moosicbox_task = { path = "../task", default-features = false }

bytes = { workspace = true }
clap = { workspace = true, optional = true }
image = { workspace = true, optional = true }
log = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, optional = true, features = [
    "macros",
    "rt-multi-thread",
] }
webp = { workspace = true, optional = true }

[target.'cfg(target_os = "windows")'.dependencies]

[target.'cfg(not(target_os = "windows"))'.dependencies]
libvips = { workspace = true, optional = true }

[features]
default = ["image", "libvips"]

fail-on-warnings = []

build-binary = ["dep:clap", "dep:tokio", "image"]
image        = ["dep:image", "dep:tokio", "dep:webp"]
libvips      = ["dep:libvips"]
