[package]
authors     = { workspace = true }
categories  = ["compression", "development-tools", "multimedia"]
description = "MoosicBox image package"
edition     = { workspace = true }
keywords    = ["compression", "image", "resize"]
license     = { workspace = true }
name        = "moosicbox_image"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["strum", "tokio"]

[[bin]]
name              = "image_helper"
path              = "src/main.rs"
required-features = ["build-binary"]

[dependencies]


bytes         = { workspace = true }
clap          = { workspace = true, optional = true }
image         = { workspace = true, optional = true }
log           = { workspace = true }
profiling     = { workspace = true, optional = true }
strum         = { workspace = true }
strum_macros  = { workspace = true }
switchy_async = { workspace = true, features = ["macros", "tokio"] }
switchy_fs    = { workspace = true, features = ["std"] }
thiserror     = { workspace = true }
webp          = { workspace = true, optional = true }

[target.'cfg(target_os = "windows")'.dependencies]

[target.'cfg(not(target_os = "windows"))'.dependencies]
libvips = { workspace = true, optional = true }

[features]
default = ["image", "libvips"]

fail-on-warnings = [
    "switchy_async/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
]

build-binary = ["dep:clap", "image"]
image        = ["dep:image", "dep:webp"]
libvips      = ["dep:libvips"]

profiling = ["dep:profiling"]

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }
