[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad HTML Lambda renderer package"
edition     = { workspace = true }
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_html_lambda"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_renderer  = { workspace = true, features = ["canvas"] }
moosicbox_assert    = { workspace = true }
moosicbox_env_utils = { workspace = true }

async-trait    = { workspace = true }
bytes          = { workspace = true }
flate2         = { workspace = true }
lambda_http    = { workspace = true }
lambda_runtime = { workspace = true }
log            = { workspace = true }
serde_json     = { workspace = true, optional = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["assets", "debug", "json"]

fail-on-warnings = [
    "hyperchad_renderer/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
]

debug = []

json = ["dep:serde_json", "hyperchad_renderer/json"]

assets = ["hyperchad_renderer/assets"]
