[package]
authors     = ["Braden Steffaniak"]
categories  = ["gui"]
description = "HyperChad HTML Lambda renderer package"
edition     = "2021"
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = "MPL-2.0"
name        = "hyperchad_renderer_html_lambda"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
hyperchad_renderer = { version = "0.1.0", path = "../../", default-features = false, features = [
    "canvas",
] }
moosicbox_assert = { version = "0.1.0", path = "../../../../assert", default-features = false }
moosicbox_env_utils = { version = "0.1.0", path = "../../../../env_utils", default-features = false }
moosicbox_task = { version = "0.1.0", path = "../../../../task", default-features = false }

async-trait    = { workspace = true }
flate2         = { workspace = true }
lambda_http    = { workspace = true }
lambda_runtime = { workspace = true }
log            = { workspace = true }
tokio          = { workspace = true }

[features]
default = ["assets", "debug"]

fail-on-warnings = []

debug = []

assets = ["hyperchad_renderer/assets"]
