[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox App models package"
edition     = { workspace = true }
keywords    = ["app", "models"]
license     = { workspace = true }
name        = "moosicbox_app_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[dependencies]
log   = { workspace = true }
serde = { workspace = true }

moosicbox_music_api_api = { workspace = true, optional = true }

[dev-dependencies]
serde_json = { workspace = true }

[features]
default = ["auth-poll", "auth-username-password", "music-api-api"]

fail-on-warnings = ["moosicbox_music_api_api?/fail-on-warnings"]

music-api-api = ["dep:moosicbox_music_api_api"]

auth-poll              = ["moosicbox_music_api_api?/auth-poll"]
auth-username-password = ["moosicbox_music_api_api?/auth-username-password"]
