[package]
authors     = { workspace = true }
categories  = ["development-tools", "network-programming", "simulation"]
description = "Switchy Web Server Simulator package"
edition     = { workspace = true }
keywords    = ["http", "simulation", "testing", "web"]
license     = { workspace = true }
name        = "switchy_web_server_simulator"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.0"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "switchy"

[package.metadata.cargo-machete]
ignored = ["tokio"]

[dependencies]
moosicbox_assert        = { workspace = true }
switchy                 = { workspace = true, features = ["async-sync", "async-tokio"] }
switchy_http_models     = { workspace = true }
switchy_web_server_core = { workspace = true }

bytes      = { workspace = true }
log        = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }
thiserror  = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros"] }
test-log      = { workspace = true }
tokio         = { workspace = true, features = ["macros"] }

[features]
default = []

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_http_models/fail-on-warnings",
    "switchy_web_server_core/fail-on-warnings",
]
