[package]
authors     = { workspace = true }
description = "MoosicBox Web Server OpenAPI example"
edition     = { workspace = true }
license     = { workspace = true }
name        = "web_server_openapi"
publish     = false
repository  = { workspace = true }
version     = "0.1.0"

[package.metadata]
tests = false

[dependencies]
moosicbox_logging = { workspace = true, features = ["free_log"] }
moosicbox_web_server = { workspace = true, features = [
    "actix",
    "cors",
    "openapi-all",
] }

log   = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

[dev-dependencies]
pretty_assertions = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_web_server/fail-on-warnings",
]
