[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad App package"
edition     = { workspace = true }
keywords    = ["app", "dom", "gui", "hyperchad"]
license     = { workspace = true }
name        = "hyperchad_app"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_actions = { workspace = true }
hyperchad_renderer = { workspace = true }
hyperchad_renderer_egui = { workspace = true, optional = true }
hyperchad_renderer_fltk = { workspace = true, optional = true }
hyperchad_renderer_html = { workspace = true, optional = true }
hyperchad_renderer_vanilla_js = { workspace = true, optional = true, features = [
    "hash",
    "script",
] }
hyperchad_router = { workspace = true }
moosicbox_assert = { workspace = true }
moosicbox_env_utils = { workspace = true }
switchy = { workspace = true, features = [
    "async-net",
    "async-rt-multi-thread",
    "async-time",
    "async-tokio",
    "http-models",
] }
switchy_env = { workspace = true }

async-trait = { workspace = true }
clap        = { workspace = true }
flume       = { workspace = true }
log         = { workspace = true }
serde_json  = { workspace = true }
thiserror   = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = [
    "actix",
    "assets",
    "egui-wgpu",
    "fltk",
    "format",
    "html",
    "json",
    "lambda",
    "logic",
    "static-routes",
    "vanilla-js",
]

fail-on-warnings = [
    "hyperchad_actions/fail-on-warnings",
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_renderer_egui?/fail-on-warnings",
    "hyperchad_renderer_fltk?/fail-on-warnings",
    "hyperchad_renderer_html?/fail-on-warnings",
    "hyperchad_renderer_vanilla_js?/fail-on-warnings",
    "hyperchad_router/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]

egui = ["dep:hyperchad_renderer_egui", "logic"]
egui-glow = ["egui", "hyperchad_renderer_egui/glow"]
egui-v1 = ["egui", "hyperchad_renderer_egui/v1"]
egui-v2 = ["egui", "hyperchad_renderer_egui/v2"]
egui-wgpu = ["egui", "hyperchad_renderer_egui/wgpu"]
fltk = ["dep:hyperchad_renderer_fltk", "logic"]
html = ["dep:hyperchad_renderer_html", "hyperchad_renderer/html"]
vanilla-js = [
    "dep:hyperchad_renderer_vanilla_js",
    "html",
    "hyperchad_renderer_html/extend",
]

actions = ["hyperchad_renderer_html?/actions"]
sse     = ["hyperchad_renderer_html?/sse"]

json = [
    "hyperchad_renderer/json",
    "hyperchad_renderer_html?/json",
    "hyperchad_router/json",
]

logic = ["hyperchad_actions/logic", "hyperchad_renderer/logic"]

actix      = ["hyperchad_renderer_html?/actix"]
lambda     = ["hyperchad_renderer_html?/lambda"]
web-server = ["hyperchad_renderer_html?/web-server"]

web-server-actix     = ["hyperchad_renderer_html?/web-server-actix"]
web-server-simulator = ["hyperchad_renderer_html?/web-server-simulator"]

wayland = ["hyperchad_renderer_egui?/wayland"]
x11     = ["hyperchad_renderer_egui?/x11"]

debug = [
    "hyperchad_renderer_egui?/debug",
    "hyperchad_renderer_fltk?/debug",
    "hyperchad_renderer_html?/debug",
    "hyperchad_renderer_vanilla_js?/debug",
]
format = ["hyperchad_renderer_fltk?/format", "hyperchad_router/format"]
profiling-puffin = [
    "hyperchad_renderer/profiling-puffin",
    "hyperchad_renderer_egui?/profiling-puffin",
]
profiling-tracing = [
    "hyperchad_renderer/profiling-tracing",
    "hyperchad_renderer_egui?/profiling-tracing",
]
profiling-tracy = [
    "hyperchad_renderer/profiling-tracy",
    "hyperchad_renderer_egui?/profiling-tracy",
]
syntax-highlighting = ["hyperchad_router/syntax-highlighting"]
unsafe = ["hyperchad_renderer_fltk?/unsafe"]

benchmark = ["hyperchad_renderer/benchmark"]

assets = ["hyperchad_renderer/assets", "hyperchad_renderer_html?/assets"]

static-routes = ["hyperchad_router/static-routes"]

all-plugins = ["hyperchad_renderer_vanilla_js?/all-plugins"]

plugin-actions = ["hyperchad_renderer_vanilla_js?/plugin-actions"]
plugin-actions-change = ["hyperchad_renderer_vanilla_js?/plugin-actions-change"]
plugin-actions-click = ["hyperchad_renderer_vanilla_js?/plugin-actions-click"]
plugin-actions-click-outside = [
    "hyperchad_renderer_vanilla_js?/plugin-actions-click-outside",
]
plugin-actions-event = ["hyperchad_renderer_vanilla_js?/plugin-actions-event"]
plugin-actions-immediate = [
    "hyperchad_renderer_vanilla_js?/plugin-actions-immediate",
]
plugin-actions-mouse-down = [
    "hyperchad_renderer_vanilla_js?/plugin-actions-mouse-down",
]
plugin-actions-mouse-over = [
    "hyperchad_renderer_vanilla_js?/plugin-actions-mouse-over",
]
plugin-actions-resize = ["hyperchad_renderer_vanilla_js?/plugin-actions-resize"]

plugin-canvas        = ["hyperchad_renderer_vanilla_js?/plugin-canvas"]
plugin-event         = ["hyperchad_renderer_vanilla_js?/plugin-event"]
plugin-form          = ["hyperchad_renderer_vanilla_js?/plugin-form"]
plugin-http-events   = ["hyperchad_renderer_vanilla_js?/plugin-http-events"]
plugin-idiomorph     = ["hyperchad_renderer_vanilla_js?/plugin-idiomorph"]
plugin-nav           = ["hyperchad_renderer_vanilla_js?/plugin-nav"]
plugin-routing       = ["hyperchad_renderer_vanilla_js?/plugin-routing"]
plugin-sse           = ["hyperchad_renderer_vanilla_js?/plugin-sse"]
plugin-tauri-event   = ["hyperchad_renderer_vanilla_js?/plugin-tauri-event"]
plugin-uuid          = ["hyperchad_renderer_vanilla_js?/plugin-uuid"]
plugin-uuid-insecure = ["hyperchad_renderer_vanilla_js?/plugin-uuid-insecure"]
