[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox middleware package"
edition     = { workspace = true }
keywords    = ["middleware"]
license     = { workspace = true }
name        = "moosicbox_middleware"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert = { workspace = true }
switchy_time     = { workspace = true, features = ["std"] }

actix-web    = { workspace = true }
futures      = { workspace = true }
futures-util = { workspace = true }
log          = { workspace = true }
tracing      = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["tunnel"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

tunnel = []
