[package]
authors     = { workspace = true }
categories  = ["web-programming"]
description = "MoosicBox admin htmx package"
edition     = { workspace = true }
keywords    = ["admin", "html", "htmx", "web"]
license     = { workspace = true }
name        = "moosicbox_admin_htmx"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[dependencies]
moosicbox_assert     = { workspace = true }
moosicbox_config     = { workspace = true, features = ["db"] }
moosicbox_json_utils = { workspace = true, features = ["database"] }
moosicbox_music_api  = { workspace = true, optional = true }
moosicbox_profiles   = { workspace = true, features = ["api"] }
moosicbox_scan       = { workspace = true, optional = true, features = ["local"] }
switchy_database     = { workspace = true, features = ["api"] }

# Qobuz
moosicbox_qobuz = { workspace = true, optional = true, features = ["db"] }

# Tidal
base64          = { workspace = true, optional = true }
moosicbox_tidal = { workspace = true, optional = true, features = ["db"] }

actix-htmx  = { workspace = true }
actix-web   = { workspace = true, optional = true }
log         = { workspace = true }
maud        = { workspace = true, features = ["actix-web"] }
serde       = { workspace = true }
serde_json  = { workspace = true }
urlencoding = { workspace = true }
whoami      = { workspace = true }

[features]
default = ["api", "qobuz", "scan", "tidal"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_api?/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "moosicbox_qobuz?/fail-on-warnings",
    "moosicbox_scan?/fail-on-warnings",
    "moosicbox_tidal?/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

qobuz = ["dep:moosicbox_music_api", "dep:moosicbox_qobuz"]
tidal = ["base64", "dep:moosicbox_music_api", "dep:moosicbox_tidal"]

scan = ["dep:moosicbox_scan", "moosicbox_qobuz?/scan", "moosicbox_tidal?/scan"]

base64 = ["dep:base64"]

api = [
    "dep:actix-web",
    "moosicbox_config/api",
    "moosicbox_music_api/api",
    "moosicbox_profiles/api",
    "moosicbox_qobuz?/api",
    "moosicbox_scan?/api",
    "moosicbox_tidal?/api",
    "switchy_database/api",
]
