[package]
authors     = { workspace = true }
categories  = ["database"]
description = "MoosicBox schema package"
edition     = { workspace = true }
keywords    = ["database", "schema", "sqlite"]
license     = { workspace = true }
name        = "moosicbox_schema"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["switchy_schema_test_utils", "tokio"]

[dependencies]
moosicbox_assert = { workspace = true }
switchy_database = { workspace = true, features = ["schema"] }
switchy_env      = { workspace = true, features = ["simulator", "std"] }
switchy_schema   = { workspace = true, features = ["code"] }

include_dir = { workspace = true }
log         = { workspace = true }
thiserror   = { workspace = true }

[dev-dependencies]
bytes = { workspace = true }
moosicbox_json_utils = { workspace = true, features = ["database"] }
moosicbox_music_models = { workspace = true, features = ["db"] }
pretty_assertions = { workspace = true }
serial_test = { workspace = true }
sha2 = { workspace = true }
switchy_async = { workspace = true, features = ["macros", "tokio"] }
switchy_database_connection = { workspace = true, features = [
    "sqlite-rusqlite",
    "sqlite-sqlx",
] }
switchy_schema_test_utils = { workspace = true, features = ["sqlite"] }
test-log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"] }

[features]
default = ["postgres", "sqlite"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_schema/fail-on-warnings",
]

postgres = ["switchy_database/postgres"]
sqlite   = ["switchy_database/sqlite"]
