[package]
authors     = { workspace = true }
categories  = ["database"]
description = "Switchy database package"
edition     = { workspace = true }
keywords    = ["database", "mysql", "postgres", "sqlite"]
license     = { workspace = true }
name        = "switchy_database"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
moosicbox_assert   = { workspace = true }
moosicbox_profiles = { workspace = true, features = ["api"] }

switchy_async = { workspace = true, features = ["tokio"] }
switchy_time  = { workspace = true, features = ["chrono", "std"] }

# DB Dependencies
rusqlite = { workspace = true, optional = true }

# sqlx dependencies
sqlx          = { workspace = true, optional = true, features = ["runtime-tokio"] }
sqlx-postgres = { workspace = true, optional = true }

# tokio-postgres dependencies
deadpool-postgres = { workspace = true, optional = true }
postgres-protocol = { workspace = true, optional = true, features = [] }
tokio-postgres    = { workspace = true, optional = true, features = [] }

# Postgres dependencies
regex = { workspace = true, optional = true }

# Api dependencies
actix-web = { workspace = true, optional = true }

async-trait = { workspace = true }
chrono      = { workspace = true }
futures     = { workspace = true, optional = true }
log         = { workspace = true }
thiserror   = { workspace = true }
tokio       = { workspace = true, features = ["sync"] }
tokio-util  = { workspace = true, optional = true }
turso       = { workspace = true, optional = true }

# Decimal support
rust_decimal = { workspace = true, optional = true, features = [
    "std",
    "tokio-pg",
] }

# UUID support
uuid = { workspace = true, optional = true }

[dev-dependencies]
moosicbox_json_utils = { workspace = true, features = ["database"] }
native-tls = { workspace = true }
postgres-native-tls = { workspace = true }
pretty_assertions = { workspace = true }
rust_decimal_macros = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
switchy_database_connection = { workspace = true, features = [
    "sqlite-rusqlite",
    "sqlite-sqlx",
    "turso",
] }
test-log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"] }
uuid = { workspace = true }

[features]
default = [
    "all-placeholders",
    "api",
    "auto-reverse",
    "cascade",
    "decimal",
    "mysql",
    "postgres-sqlx",
    "schema",
    "simulator",
    "sqlite-rusqlite",
    "sqlite-sqlx",
    "turso",
    "uuid",
]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

tls = ["sqlx?/tls-rustls"]

api = ["dep:actix-web", "dep:futures", "moosicbox_profiles/api"]

_any_backend = []

mysql = ["_any_backend", "mysql-sqlx", "sqlx"]
mysql-sqlx = [
    "_any_backend",
    "dep:futures",
    "dep:sqlx",
    "placeholder-question-mark",
    "sqlx",
    "sqlx/mysql",
]
postgres = [
    "_any_backend",
    "dep:futures",
    "dep:regex",
    "dep:tokio-util",
    "postgres-raw",
]
postgres-raw = [
    "_any_backend",
    "dep:deadpool-postgres",
    "dep:postgres-protocol",
    "dep:tokio-postgres",
    "placeholder-dollar-number",
    "postgres",
]
postgres-sqlx = [
    "_any_backend",
    "dep:sqlx",
    "dep:sqlx-postgres",
    "placeholder-dollar-number",
    "postgres",
    "sqlx",
    "sqlx-postgres/chrono",
    "sqlx/postgres",
]
sqlite = ["_any_backend", "sqlite-sqlx"]
sqlite-rusqlite = [
    "_any_backend",
    "dep:regex",
    "dep:rusqlite",
    "placeholder-question-mark",
    "switchy_async/sync",
]
sqlite-sqlx = [
    "_any_backend",
    "dep:futures",
    "dep:regex",
    "dep:sqlx",
    "placeholder-question-mark",
    "sqlx",
    "sqlx/sqlite",
]
sqlx = ["_any_backend"]
turso = ["_any_backend", "dep:regex", "dep:turso", "placeholder-question-mark"]

simulator = [
    "sqlite-rusqlite",
    "switchy_async/simulator",
    "switchy_time/simulator",
]

# Placeholder handler features
all-placeholders = [
    "placeholder-at-number",
    "placeholder-colon-number",
    "placeholder-dollar-number",
    "placeholder-named-colon",
    "placeholder-question-mark",
]

placeholder-at-number     = ["dep:regex"]
placeholder-colon-number  = ["dep:regex"]
placeholder-dollar-number = ["dep:regex"]
placeholder-named-colon   = ["dep:regex"]
placeholder-question-mark = []

auto-reverse = []
cascade      = ["schema"]
schema       = []

decimal = ["dep:rust_decimal", "sqlx?/rust_decimal"]
uuid    = ["dep:uuid", "sqlx?/uuid"]
