[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox Parsing utils package"
edition     = { workspace = true }
keywords    = ["parsing"]
license     = { workspace = true }
name        = "moosicbox_parsing_utils"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
thiserror = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = []

fail-on-warnings = []
