[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad Transformer package"
edition     = { workspace = true }
keywords    = ["dom", "gui", "hyperchad", "transformer", "web"]
license     = { workspace = true }
name        = "hyperchad_transformer"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_actions            = { workspace = true, features = ["serde"] }
hyperchad_color              = { workspace = true, features = ["serde"] }
hyperchad_transformer_models = { workspace = true, default-features = false }
moosicbox_assert             = { workspace = true }
moosicbox_logging            = { workspace = true, features = ["macros"] }
switchy_env                  = { workspace = true, features = ["std"] }
switchy_time                 = { workspace = true, features = ["std"] }

bumpalo     = { workspace = true, features = ["collections"], optional = true }
html-escape = { workspace = true }
log         = { workspace = true }
paste       = { workspace = true }
profiling   = { workspace = true, optional = true }
serde       = { workspace = true }
serde_json  = { workspace = true }
strum       = { workspace = true, features = ["derive"] }
syntect     = { workspace = true, optional = true }
thiserror   = { workspace = true }
tl          = { workspace = true, optional = true }
xml         = { workspace = true, optional = true }

[dev-dependencies]
hyperchad_actions            = { workspace = true, features = ["arb", "serde"] }
hyperchad_color              = { workspace = true, features = ["arb"] }
hyperchad_transformer_models = { workspace = true, features = ["arb"] }
maud                         = { workspace = true }
moosicbox_arb                = { workspace = true, features = ["css", "serde", "xml"] }
pretty_assertions            = { workspace = true }
proptest                     = { workspace = true }
serial_test                  = { workspace = true }
test-log                     = { workspace = true }
tl                           = { workspace = true }

[features]
default = [
    "benchmark",
    "canvas",
    "format",
    "html",
    "layout",
    "layout-offset",
    "logic",
    "syntax-highlighting",
]

fail-on-warnings = [
    "hyperchad_actions/fail-on-warnings",
    "hyperchad_color/fail-on-warnings",
    "hyperchad_transformer_models/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

canvas = []

profiling = ["dep:profiling"]
profiling-puffin = [
    "profiling",
    "profiling/profile-with-puffin",
    "profiling/puffin",
]
profiling-tracing = [
    "profiling",
    "profiling/profile-with-tracing",
    "profiling/tracing",
]
profiling-tracy = ["profiling", "profiling/profile-with-tracy"]

layout        = ["dep:bumpalo", "hyperchad_transformer_models/layout"]
layout-offset = ["layout"]
logic         = ["hyperchad_actions/logic"]

html = ["dep:tl", "hyperchad_actions/serde"]
simd = ["tl?/simd"]

benchmark           = []
format              = ["dep:xml"]
syntax-highlighting = ["dep:syntect"]
