[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia", "network-programming"]
description = "MoosicBox music API models package"
edition     = { workspace = true }
keywords    = ["album", "api", "artist", "models", "music"]
license     = { workspace = true }
name        = "moosicbox_music_api_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_json_utils   = { workspace = true, features = ["serde_json"] }
moosicbox_music_models = { workspace = true }
moosicbox_paging       = { workspace = true }
switchy_database       = { workspace = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

# Search Dependencies
tantivy = { workspace = true, optional = true }

log          = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true }
strum_macros = { workspace = true }

[features]
default = ["api", "api-search", "db", "openapi"]

fail-on-warnings = [
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

openapi = [
    "dep:utoipa",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
]

db = ["moosicbox_music_models/db", "switchy_database/api"]

api        = ["moosicbox_music_models/api", "switchy_database/api"]
api-search = ["moosicbox_music_models/api", "search"]

search = [
    "dep:tantivy",
    "moosicbox_json_utils/tantivy",
    "moosicbox_music_models/tantivy",
]
