[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "MoosicBox"
edition     = { workspace = true }
keywords    = ["app", "desktop", "gui"]
license     = { workspace = true }
name        = "moosicbox_app"
publish     = []
readme      = "README.md"
repository  = { workspace = true }
version     = "0.16.1"

[package.metadata]
examples = false

[package.metadata.workspaces]
independent = true

[package.metadata.cargo-machete]
ignored = ["strum", "tauri-build"]

[dev-dependencies]
test-log = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]
name       = "moosicbox_lib"

[build-dependencies]
tauri-build = { workspace = true, features = [] }

[dependencies]
moosicbox_app_state = { workspace = true, features = ["upnp"] }

moosicbox_assert       = { workspace = true }
moosicbox_config       = { workspace = true }
moosicbox_env_utils    = { workspace = true }
moosicbox_logging      = { workspace = true, features = ["free_log"] }
moosicbox_mdns         = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_player       = { workspace = true, features = ["local"] }
moosicbox_session      = { workspace = true }
moosicbox_upnp         = { workspace = true, features = ["listener", "player"] }
moosicbox_ws           = { workspace = true }
switchy                = { workspace = true, features = ["async-tokio"] }
switchy_env            = { workspace = true, features = ["std"] }

# Bundled Dependencies
moosicbox_app_tauri_bundled = { workspace = true, optional = true }

# Client Dependencies
moosicbox_app_client = { workspace = true, optional = true }

app-tauri-plugin-player = { workspace = true }

console-subscriber        = { workspace = true }
kanal                     = { workspace = true }
log                       = { workspace = true }
serde                     = { workspace = true, features = ["derive"] }
serde_json                = { workspace = true }
strum                     = { workspace = true }
strum_macros              = { workspace = true }
tauri                     = { workspace = true, features = ["protocol-asset"] }
tauri-plugin-dialog       = { workspace = true }
tauri-plugin-fs           = { workspace = true }
tauri-plugin-log          = { workspace = true, optional = true }
tauri-plugin-notification = { workspace = true }
thiserror                 = { workspace = true }

async-trait = { workspace = true, optional = true }
flume = { workspace = true, optional = true }
http = { workspace = true, optional = true }
hyperchad = { workspace = true, optional = true, features = [
    "color",
    "renderer-assets",
    "renderer-html-http",
    "renderer-vanilla-js",
    "router-static-routes",
    "serde",
    "transformer",
] }
moosicbox_app_native = { workspace = true, optional = true, features = [
    "assets",
    "tauri",
    "vanilla-js",
] }
moosicbox_app_native_image = { workspace = true, optional = true }
moosicbox_app_native_ui = { workspace = true, optional = true }
qstring = { workspace = true, optional = true }

[features]
default = ["all-formats", "all-sources", "cpal"]

fail-on-warnings = [
    "app-tauri-plugin-player/fail-on-warnings",
    "hyperchad?/fail-on-warnings",
    "moosicbox_app_client?/fail-on-warnings",
    "moosicbox_app_native?/fail-on-warnings",
    "moosicbox_app_native_image?/fail-on-warnings",
    "moosicbox_app_native_ui?/fail-on-warnings",
    "moosicbox_app_state/fail-on-warnings",
    "moosicbox_app_tauri_bundled?/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_mdns/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_player/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "moosicbox_upnp/fail-on-warnings",
    "moosicbox_ws/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]

# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

android = []
desktop = ["all-os-decoders", "moosicbox_app_tauri_bundled?/tunnel"]

bundled = [
    "all-sources",
    "dep:moosicbox_app_tauri_bundled",
    "moosicbox_app_native?/bundled",
]
client = ["dep:moosicbox_app_client"]

all-decoders = [
    "all-os-decoders",
    "decoder-mp3",
    "moosicbox_app_native?/all-decoders",
    "moosicbox_player/all-decoders",
]
all-os-decoders = [
    "decoder-aac",
    "decoder-flac",
    "moosicbox_app_native?/all-os-decoders",
    "moosicbox_player/all-os-decoders",
]

decoder-aac = [
    "moosicbox_app_native?/decoder-aac",
    "moosicbox_app_tauri_bundled?/decoder-aac",
    "moosicbox_player/decoder-aac",
]
decoder-flac = [
    "moosicbox_app_native?/decoder-flac",
    "moosicbox_app_tauri_bundled?/decoder-flac",
    "moosicbox_player/decoder-flac",
]
decoder-mp3 = [
    "moosicbox_app_native?/decoder-mp3",
    "moosicbox_app_tauri_bundled?/decoder-mp3",
    "moosicbox_player/decoder-mp3",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_app_native?/all-formats",
    "moosicbox_app_native_ui?/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_player/all-formats",
    "moosicbox_session/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "moosicbox_app_native?/all-os-formats",
    "moosicbox_app_native_ui?/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_player/all-os-formats",
    "moosicbox_session/all-os-formats",
]

format-aac = [
    "moosicbox_app_native?/format-aac",
    "moosicbox_app_state/aac",
    "moosicbox_app_tauri_bundled?/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_player/format-aac",
]
format-flac = [
    "moosicbox_app_native?/format-flac",
    "moosicbox_app_state/flac",
    "moosicbox_app_tauri_bundled?/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_player/format-flac",
]
format-mp3 = [
    "moosicbox_app_native?/format-mp3",
    "moosicbox_app_state/mp3",
    "moosicbox_app_tauri_bundled?/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_player/format-mp3",
]

# Player audio outputs
asio = ["moosicbox_player/asio"]
cpal = ["moosicbox_player/cpal"]
jack = ["moosicbox_player/jack"]

devtools = ["tauri/devtools"]

all-sources = [
    "moosicbox_app_native?/all-sources",
    "moosicbox_app_state/all-sources",
    "qobuz",
    "tidal",
    "yt",
]

qobuz = ["moosicbox_app_native?/qobuz", "moosicbox_app_state/qobuz"]
tidal = ["moosicbox_app_native?/tidal", "moosicbox_app_state/tidal"]
yt    = ["moosicbox_app_native?/yt", "moosicbox_app_state/yt"]

tauri-logger = ["dep:tauri-plugin-log"]

moosicbox-app-native = [
    "custom-protocol",
    "dep:async-trait",
    "dep:flume",
    "dep:http",
    "dep:hyperchad",
    "dep:moosicbox_app_native",
    "dep:moosicbox_app_native_image",
    "dep:moosicbox_app_native_ui",
    "dep:qstring",
]
