[parallelization]
chunked = 10

[[ci-steps]]
command   = 'mkdir packages/app/tauri/dist'
toolchain = "free_disk_space"

[[config]]
os = "ubuntu"

[[config.dependencies]]
command = '''
sudo apt update
sudo apt install libwebkit2gtk-4.1-dev \
    build-essential \
    curl \
    wget \
    file \
    libssl-dev \
    libgtk-3-dev \
    libayatana-appindicator3-dev \
    librsvg2-dev \
    libasound2-dev \
    libsoup-3.0-dev
'''

[[config]]
os = "macos"

[[config]]
os            = "windows"
skip-features = ["asio"]
