[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "Switchy package"
edition     = { workspace = true }
keywords    = ["switchy"]
license     = { workspace = true }
name        = "switchy"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[package.metadata.cargo-machete]
ignored = ["tokio"]

[dependencies]
switchy_async               = { workspace = true, optional = true }
switchy_async_macros        = { workspace = true, optional = true }
switchy_database            = { workspace = true, optional = true }
switchy_database_connection = { workspace = true, optional = true }
switchy_fs                  = { workspace = true, optional = true }
switchy_http                = { workspace = true, optional = true }
switchy_http_models         = { workspace = true, optional = true }
switchy_mdns                = { workspace = true, optional = true }
switchy_random              = { workspace = true, optional = true }
switchy_tcp                 = { workspace = true, optional = true }
switchy_telemetry           = { workspace = true, optional = true }
switchy_time                = { workspace = true, optional = true }
switchy_upnp                = { workspace = true, optional = true }
switchy_uuid                = { workspace = true, optional = true }
switchy_web_server          = { workspace = true, optional = true }
switchy_web_server_core     = { workspace = true, optional = true }

tokio = { workspace = true, optional = true, features = ["macros"] }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "time", "tokio"] }
tokio         = { workspace = true, features = ["macros"] }

[features]
default = ["all"]

fail-on-warnings = [
    "switchy_async?/fail-on-warnings",
    "switchy_async_macros?/fail-on-warnings",
    "switchy_database?/fail-on-warnings",
    "switchy_database_connection?/fail-on-warnings",
    "switchy_fs?/fail-on-warnings",
    "switchy_http?/fail-on-warnings",
    "switchy_http_models?/fail-on-warnings",
    "switchy_mdns?/fail-on-warnings",
    "switchy_random?/fail-on-warnings",
    "switchy_tcp?/fail-on-warnings",
    "switchy_telemetry?/fail-on-warnings",
    "switchy_time?/fail-on-warnings",
    "switchy_upnp?/fail-on-warnings",
    "switchy_uuid?/fail-on-warnings",
    "switchy_web_server?/fail-on-warnings",
    "switchy_web_server_core?/fail-on-warnings",
]

all = [
    "all-async",
    "all-async-macros",
    "all-database",
    "all-database-connection",
    "all-fs",
    "all-http",
    "all-http-models",
    "all-mdns",
    "all-random",
    "all-tcp",
    "all-telemetry",
    "all-time",
    "all-upnp",
    "all-uuid",
    "all-web-server",
]

simulator = [
    "switchy_async?/simulator",
    "switchy_async_macros?/simulator",
    "switchy_database?/simulator",
    "switchy_database_connection?/simulator",
    "switchy_fs?/simulator",
    "switchy_http?/simulator",
    "switchy_mdns?/simulator",
    "switchy_random?/simulator",
    "switchy_tcp?/simulator",
    "switchy_telemetry?/simulator",
    "switchy_time?/simulator",
    "switchy_upnp?/simulator",
    "switchy_uuid?/simulator",
    "switchy_web_server?/simulator",
]

all-async = [
    "async",
    "async-fs",
    "async-io",
    "async-net",
    "async-process",
    "async-rt-multi-thread",
    "async-sync",
    "async-time",
    "async-tokio",
    "async-util",
]

async                 = ["dep:switchy_async", "switchy_fs?/async"]
async-fs              = ["async", "switchy_async?/fs", "switchy_fs?/async"]
async-io              = ["async", "switchy_async?/io"]
async-net             = ["async", "switchy_async?/net"]
async-process         = ["async", "switchy_async?/process"]
async-rt-multi-thread = ["async", "switchy_async?/rt-multi-thread"]

async-sync  = ["async", "switchy_async?/sync"]
async-time  = ["async", "switchy_async?/time", "time"]
async-tokio = ["async", "dep:tokio", "switchy_async?/tokio"]
async-util  = ["async", "switchy_async?/util"]

all-async-macros = ["async-macros"]

async-macros = [
    "async",
    "dep:switchy_async_macros",
    "switchy_async?/macros",
    "switchy_async_macros?/simulator",
]

all-database = [
    "database",
    "database-api",
    "database-mysql",
    "database-mysql-sqlx",
    "database-postgres",
    "database-postgres-raw",
    "database-postgres-sqlx",
    "database-schema",
    "database-simulator",
    "database-sqlite",
    "database-sqlite-rusqlite",
    "database-sqlite-sqlx",
    "database-sqlx",
    "database-tls",
    "database-turso",
]

database                 = ["dep:switchy_database"]
database-api             = ["database", "switchy_database?/api"]
database-mysql           = ["database", "switchy_database?/mysql"]
database-mysql-sqlx      = ["database", "switchy_database?/mysql-sqlx"]
database-postgres        = ["database", "switchy_database?/postgres"]
database-postgres-raw    = ["database", "switchy_database?/postgres-raw"]
database-postgres-sqlx   = ["database", "switchy_database?/postgres-sqlx"]
database-schema          = ["database", "switchy_database?/schema"]
database-simulator       = ["database", "switchy_database?/simulator"]
database-sqlite          = ["database", "switchy_database?/sqlite"]
database-sqlite-rusqlite = ["database", "switchy_database?/sqlite-rusqlite"]
database-sqlite-sqlx     = ["database", "switchy_database?/sqlite-sqlx"]
database-sqlx            = ["database", "switchy_database?/sqlx"]
database-tls             = ["database", "switchy_database?/tls"]
database-turso           = ["database", "switchy_database?/turso"]

all-database-connection = [
    "database-connection",
    "database-connection-creds",
    "database-connection-mysql",
    "database-connection-mysql-sqlx",
    "database-connection-postgres",
    "database-connection-postgres-native-tls",
    "database-connection-postgres-openssl",
    "database-connection-postgres-raw",
    "database-connection-postgres-sqlx",
    "database-connection-simulator",
    "database-connection-sqlite",
    "database-connection-sqlite-rusqlite",
    "database-connection-sqlite-sqlx",
    "database-connection-sqlx",
    "database-connection-tls",
    "database-connection-turso",
]

database-connection = ["dep:switchy_database_connection"]
database-connection-creds = [
    "database-connection",
    "switchy_database_connection?/creds",
]
database-connection-mysql = [
    "database-connection",
    "switchy_database_connection?/mysql",
]
database-connection-mysql-sqlx = [
    "database-connection",
    "switchy_database_connection?/mysql-sqlx",
]
database-connection-postgres = [
    "database-connection",
    "switchy_database_connection?/postgres",
]
database-connection-postgres-native-tls = [
    "database-connection",
    "switchy_database_connection?/postgres-native-tls",
]
database-connection-postgres-openssl = [
    "database-connection",
    "switchy_database_connection?/postgres-openssl",
]
database-connection-postgres-raw = [
    "database-connection",
    "switchy_database_connection?/postgres-raw",
]
database-connection-postgres-sqlx = [
    "database-connection",
    "switchy_database_connection?/postgres-sqlx",
]
database-connection-simulator = [
    "database-connection",
    "switchy_database_connection?/simulator",
]
database-connection-sqlite = [
    "database-connection",
    "switchy_database_connection?/sqlite",
]
database-connection-sqlite-rusqlite = [
    "database-connection",
    "switchy_database_connection?/sqlite-rusqlite",
]
database-connection-sqlite-sqlx = [
    "database-connection",
    "switchy_database_connection?/sqlite-sqlx",
]
database-connection-sqlx = [
    "database-connection",
    "switchy_database_connection?/sqlx",
]
database-connection-tls = [
    "database-connection",
    "switchy_database_connection?/tls",
]
database-connection-turso = [
    "database-connection",
    "switchy_database_connection?/database-connection-turso",
]

all-fs = [
    "fs",
    "fs-async",
    "fs-simulator",
    "fs-simulator-real-fs",
    "fs-std",
    "fs-sync",
    "fs-tokio",
]

fs                   = ["dep:switchy_fs", "switchy_async?/fs"]
fs-async             = ["fs", "switchy_fs?/async"]
fs-simulator         = ["fs", "switchy_fs?/simulator"]
fs-simulator-real-fs = ["fs", "switchy_fs?/simulator-real-fs"]
fs-std               = ["fs", "switchy_fs?/std"]
fs-sync              = ["fs", "switchy_fs?/sync"]
fs-tokio             = ["fs", "switchy_fs?/tokio"]

all-http = [
    "http",
    "http-brotli",
    "http-deflate",
    "http-gzip",
    "http-json",
    "http-reqwest",
    "http-serde",
    "http-simulator",
    "http-stream",
    "http-zstd",
]

http           = ["dep:switchy_http"]
http-brotli    = ["http", "switchy_http?/brotli"]
http-deflate   = ["http", "switchy_http?/deflate"]
http-gzip      = ["http", "switchy_http?/gzip"]
http-json      = ["http", "switchy_http?/json"]
http-reqwest   = ["http", "switchy_http?/reqwest"]
http-serde     = ["http", "switchy_http?/serde"]
http-simulator = ["http", "switchy_http?/simulator"]
http-stream    = ["http", "switchy_http?/stream"]
http-zstd      = ["http", "switchy_http?/zstd"]

all-http-models = [
    "http-models",
    "http-models-actix",
    "http-models-reqwest",
    "http-models-serde",
]

http-models         = ["dep:switchy_http_models"]
http-models-actix   = ["http-models", "switchy_http_models?/actix"]
http-models-reqwest = ["http-models", "switchy_http_models?/reqwest"]
http-models-serde   = ["http-models", "switchy_http_models?/serde"]

all-mdns = ["mdns", "mdns-simulator"]

mdns           = ["dep:switchy_mdns"]
mdns-simulator = ["mdns", "switchy_mdns?/simulator"]

all-random = ["random", "random-rand", "random-simulator"]

random           = ["dep:switchy_random"]
random-rand      = ["random", "switchy_random?/rand"]
random-simulator = ["random", "switchy_random?/simulator"]

all-tcp = ["tcp", "tcp-simulator", "tcp-tokio"]

tcp           = ["dep:switchy_tcp"]
tcp-simulator = ["switchy_tcp?/simulator", "tcp"]
tcp-tokio     = ["switchy_tcp?/tokio", "tcp"]

all-telemetry = ["telemetry", "telemetry-actix", "telemetry-simulator"]

telemetry           = ["dep:switchy_telemetry"]
telemetry-actix     = ["switchy_telemetry?/actix", "telemetry"]
telemetry-simulator = ["switchy_telemetry?/simulator", "telemetry"]

all-time = ["time", "time-simulator", "time-std"]

time           = ["dep:switchy_time", "switchy_async?/time"]
time-simulator = ["switchy_time?/simulator", "time"]
time-std       = ["switchy_time?/std", "time"]

all-upnp = ["upnp", "upnp-api", "upnp-openapi", "upnp-simulator"]

upnp           = ["dep:switchy_upnp"]
upnp-api       = ["switchy_upnp?/api", "upnp"]
upnp-openapi   = ["switchy_upnp?/openapi", "upnp"]
upnp-simulator = ["switchy_upnp?/simulator", "upnp"]

all-uuid = ["uuid", "uuid-serde", "uuid-simulator", "uuid-uuid"]

uuid           = ["dep:switchy_uuid"]
uuid-serde     = ["switchy_uuid?/serde", "uuid"]
uuid-simulator = ["switchy_uuid?/simulator", "uuid"]
uuid-uuid      = ["switchy_uuid?/uuid", "uuid"]

all-web-server = [
    "web-server",
    "web-server-actix",
    "web-server-compress",
    "web-server-core",
    "web-server-cors",
    "web-server-htmx",
    "web-server-openapi",
    "web-server-openapi-all",
    "web-server-openapi-rapidoc",
    "web-server-openapi-redoc",
    "web-server-openapi-scalar",
    "web-server-openapi-swagger-ui",
    "web-server-serde",
    "web-server-simulator",
    "web-server-static-files",
    "web-server-tls",
]

web-server = ["dep:switchy_web_server"]
web-server-actix = ["switchy_web_server?/actix", "web-server"]
web-server-compress = ["switchy_web_server?/compress", "web-server"]
web-server-core = ["dep:switchy_web_server_core", "web-server"]
web-server-cors = ["switchy_web_server?/cors", "web-server"]
web-server-htmx = ["switchy_web_server?/htmx", "web-server"]
web-server-openapi = ["switchy_web_server?/openapi", "web-server"]
web-server-openapi-all = [
    "web-server-openapi-rapidoc",
    "web-server-openapi-redoc",
    "web-server-openapi-scalar",
    "web-server-openapi-swagger-ui",
]
web-server-openapi-rapidoc = [
    "switchy_web_server?/openapi-rapidoc",
    "web-server",
]
web-server-openapi-redoc = ["switchy_web_server?/openapi-redoc", "web-server"]
web-server-openapi-scalar = ["switchy_web_server?/openapi-scalar", "web-server"]
web-server-openapi-swagger-ui = [
    "switchy_web_server?/openapi-swagger-ui",
    "web-server",
]
web-server-serde = ["switchy_web_server?/serde", "web-server"]
web-server-simulator = ["switchy_web_server?/simulator", "web-server"]
web-server-static-files = ["switchy_web_server?/static-files", "web-server"]
web-server-tls = ["switchy_web_server?/tls", "web-server"]
