[package]
authors     = { workspace = true }
categories  = ["authentication"]
description = "MoosicBox authentication package"
edition     = { workspace = true }
keywords    = ["authentication", "token"]
license     = { workspace = true }
name        = "moosicbox_auth"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_json_utils = { workspace = true, features = [
    "database",
    "serde_json",
] }
moosicbox_middleware = { workspace = true, features = ["tunnel"] }
switchy_database = { workspace = true }
switchy_env = { workspace = true, features = ["std"] }
switchy_http = { workspace = true, features = ["json", "reqwest"] }
switchy_uuid = { workspace = true, features = ["uuid"] }

# API Dependencies
utoipa = { workspace = true, optional = true }

actix-web  = { workspace = true }
futures    = { workspace = true }
log        = { workspace = true }
serde      = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror  = { workspace = true }
url        = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["api", "openapi"]

fail-on-warnings = [
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_middleware/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_uuid/fail-on-warnings",
]

api     = ["switchy_database/api"]
openapi = ["dep:utoipa"]
