[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox Library Music API package"
edition     = { workspace = true }
keywords    = ["audio", "library"]
license     = { workspace = true }
name        = "moosicbox_library"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_json_utils = { workspace = true, features = [
    "database",
    "serde_json",
] }
moosicbox_library_models = { workspace = true, features = ["db"] }
moosicbox_menu_models = { workspace = true }
moosicbox_music_api_models = { workspace = true, features = ["api-search"] }
moosicbox_music_models = { workspace = true }
moosicbox_paging = { workspace = true }
moosicbox_search = { workspace = true, features = ["api", "db"] }
switchy_database = { workspace = true }
switchy_time = { workspace = true, features = ["std"] }

# API Dependencies
actix-web = { workspace = true, optional = true }
utoipa    = { workspace = true, optional = true }

async-recursion = { workspace = true }
enum-as-inner   = { workspace = true }
futures         = { workspace = true }
log             = { workspace = true }
serde           = { workspace = true, features = ["derive", "rc"] }
serde_json      = { workspace = true }
strum           = { workspace = true }
strum_macros    = { workspace = true }
thiserror       = { workspace = true }
tokio           = { workspace = true, features = ["macros", "rt", "tracing"] }

[features]
default = ["all-encoders", "api", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_library_models/fail-on-warnings",
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api_models/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_search/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "moosicbox_library_models/api",
    "moosicbox_menu_models/api",
    "moosicbox_music_api_models/api",
    "moosicbox_music_models/api",
    "moosicbox_search/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_library_models/openapi",
    "moosicbox_menu_models/openapi",
    "moosicbox_music_api_models/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
    "moosicbox_search/openapi",
]

all-encoders    = ["all-os-encoders", "encoder-mp3"]
all-os-encoders = ["encoder-aac", "encoder-flac", "encoder-opus"]

encoder-aac  = ["format-aac"]
encoder-flac = ["format-flac"]
encoder-mp3  = ["format-mp3"]
encoder-opus = ["format-opus"]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_library_models/all-formats",
    "moosicbox_music_models/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_library_models/all-os-formats",
    "moosicbox_music_models/all-os-formats",
]

format-aac  = ["moosicbox_library_models/aac", "moosicbox_music_models/aac"]
format-flac = ["moosicbox_library_models/flac", "moosicbox_music_models/flac"]
format-mp3  = ["moosicbox_library_models/mp3", "moosicbox_music_models/mp3"]
format-opus = ["moosicbox_library_models/opus", "moosicbox_music_models/opus"]
