[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox audio outputs package"
edition     = { workspace = true }
keywords    = ["audio", "cpal", "outputs"]
license     = { workspace = true }
name        = "moosicbox_audio_output"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
atomic_float            = { workspace = true }
moosicbox_assert        = { workspace = true }
moosicbox_audio_decoder = { workspace = true }
moosicbox_env_utils     = { workspace = true }
moosicbox_resampler     = { workspace = true }
moosicbox_stream_utils  = { workspace = true }

switchy_async = { workspace = true, features = ["tokio"] }
switchy_time  = { workspace = true, features = ["std"] }

# API Dependencies
actix-web        = { workspace = true, optional = true }
moosicbox_paging = { workspace = true, optional = true }
serde            = { workspace = true, optional = true }
utoipa           = { workspace = true, optional = true }

# CPAL
cpal = { workspace = true, optional = true }
rb   = { workspace = true, optional = true }

# Encoders
fdk-aac                 = { workspace = true, optional = true }
moosicbox_audio_encoder = { workspace = true, optional = true }
mp3lame-encoder         = { workspace = true, optional = true }
ogg                     = { workspace = true, optional = true }
opus                    = { workspace = true, optional = true }

bytes     = { workspace = true }
flume     = { workspace = true }
log       = { workspace = true }
symphonia = { workspace = true }
thiserror = { workspace = true }
tokio     = { workspace = true, features = ["rt-multi-thread", "tracing"] }

[features]
default = ["api", "default-windows", "openapi"]

default-windows = ["aac", "cpal", "flac", "mp3", "oboe-shared-stdcxx", "opus"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_decoder/fail-on-warnings",
    "moosicbox_audio_encoder?/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_paging?/fail-on-warnings",
    "moosicbox_resampler/fail-on-warnings",
    "moosicbox_stream_utils/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

api     = ["dep:actix-web", "dep:moosicbox_paging", "dep:serde"]
openapi = ["dep:utoipa", "moosicbox_paging/openapi"]

asio               = ["cpal/asio"]
cpal               = ["dep:cpal", "dep:rb"]
jack               = ["cpal/jack"]
oboe-shared-stdcxx = ["cpal/oboe-shared-stdcxx"]

aac = [
    "dep:fdk-aac",
    "dep:moosicbox_audio_encoder",
    "moosicbox_audio_decoder/aac",
    "moosicbox_audio_encoder?/aac",
]
flac = [
    "dep:moosicbox_audio_encoder",
    "moosicbox_audio_decoder/flac",
    "moosicbox_audio_encoder?/flac",
]
mp3 = [
    "dep:moosicbox_audio_encoder",
    "dep:mp3lame-encoder",
    "moosicbox_audio_decoder/mp3",
    "moosicbox_audio_encoder?/mp3",
]
opus = [
    "dep:moosicbox_audio_encoder",
    "dep:ogg",
    "dep:opus",
    "moosicbox_audio_decoder/opus",
    "moosicbox_audio_encoder?/opus",
]
