[[config]]
os = "ubuntu"

[[config.dependencies]]
command  = "sudo apt-get update && sudo apt-get install jackd2 libjack-jackd2-dev"
features = ["jack"]

[[config.dependencies]]
command = "sudo apt-get update && sudo apt-get install libasound2-dev"
features = [
    "asio",
    "cpal",
    "default",
    "default-windows",
    "jack",
    "oboe-shared-stdcxx",
]

[[config]]
os = "macos"

[[config.dependencies]]
command  = "brew install jack"
features = ["jack"]

[[config]]
os            = "windows"
skip-features = ["asio"]

# [[config.dependencies]]
# command  = "winget install -e --id Jackaudio.JACK2 --accept-source-agreements --accept-package-agreements"
# features = ["jack"]
