[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad Router package"
edition     = { workspace = true }
keywords    = ["dom", "hyperchad", "router", "web"]
license     = { workspace = true }
name        = "hyperchad_router"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_renderer    = { workspace = true }
hyperchad_transformer = { workspace = true, features = ["html"] }
moosicbox_assert      = { workspace = true }

switchy = { workspace = true, features = ["http-models"] }
switchy_async = { workspace = true, features = [
    "rt-multi-thread",
    "sync",
    "tokio",
] }

bytes     = { workspace = true }
flume     = { workspace = true }
futures   = { workspace = true }
log       = { workspace = true }
os_info   = { workspace = true }
qstring   = { workspace = true }
thiserror = { workspace = true }

base64           = { workspace = true, optional = true }
hyper_old        = { package = "hyper", version = "=0.10", optional = true, default-features = false }
mime_multipart   = { workspace = true }
mime_old         = { package = "mime", version = "=0.2", optional = true, default-features = false }
serde            = { workspace = true, optional = true, features = ["derive"] }
serde_json       = { workspace = true, optional = true }
serde_urlencoded = { workspace = true, optional = true }

[features]
default = ["form", "format", "json", "serde", "static-routes"]

fail-on-warnings = [
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]

simd = ["hyperchad_transformer/simd"]

format              = ["hyperchad_transformer/format"]
syntax-highlighting = ["hyperchad_transformer/syntax-highlighting"]

json = ["hyperchad_renderer/json"]
serde = [
    "dep:serde",
    "dep:serde_json",
    "dep:serde_urlencoded",
    "hyperchad_renderer/serde",
]

form = ["dep:base64", "dep:hyper_old", "dep:mime_old", "serde"]

static-routes = []

[dev-dependencies]
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
test-log = { workspace = true }
