[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox App State package"
edition     = { workspace = true }
keywords    = ["state"]
license     = { workspace = true }
name        = "moosicbox_app_state"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_app_ws = { workspace = true }

hyperchad                = { workspace = true, features = ["state-sqlite"] }
moosicbox_app_models     = { workspace = true }
moosicbox_assert         = { workspace = true }
moosicbox_audio_output   = { workspace = true }
moosicbox_audio_zone     = { workspace = true }
moosicbox_env_utils      = { workspace = true }
moosicbox_logging        = { workspace = true }
moosicbox_music_api      = { workspace = true }
moosicbox_music_models   = { workspace = true }
moosicbox_paging         = { workspace = true }
moosicbox_player         = { workspace = true, features = ["local"] }
moosicbox_remote_library = { workspace = true }
moosicbox_session        = { workspace = true }

moosicbox_ws  = { workspace = true }
switchy_async = { workspace = true, features = ["tokio"] }
switchy_http  = { workspace = true, features = ["json", "reqwest"] }
switchy_upnp  = { workspace = true, optional = true, features = ["player"] }

log        = { workspace = true }
nanoid     = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }
strum      = { workspace = true }
thiserror  = { workspace = true }
tokio      = { workspace = true, features = ["macros"] }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tokio"]

[features]
default = ["all-sources", "upnp"]

upnp = ["dep:switchy_upnp"]

fail-on-warnings = [
    "hyperchad/fail-on-warnings",
    "moosicbox_app_models/fail-on-warnings",
    "moosicbox_app_ws/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_output/fail-on-warnings",
    "moosicbox_audio_zone/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_player/fail-on-warnings",
    "moosicbox_remote_library/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "moosicbox_ws/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_upnp?/fail-on-warnings",
]

aac = [
    "moosicbox_audio_output/aac",
    "moosicbox_music_models/aac",
    "moosicbox_remote_library/aac",
    "moosicbox_session/aac",
    "moosicbox_ws/aac",
]
flac = [
    "moosicbox_audio_output/flac",
    "moosicbox_music_models/flac",
    "moosicbox_remote_library/flac",
    "moosicbox_session/flac",
    "moosicbox_ws/flac",
]
mp3 = [
    "moosicbox_audio_output/mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_remote_library/mp3",
    "moosicbox_session/mp3",
    "moosicbox_ws/mp3",
]
opus = [
    "moosicbox_audio_output/opus",
    "moosicbox_music_models/opus",
    "moosicbox_remote_library/opus",
    "moosicbox_session/opus",
    "moosicbox_ws/opus",
]

all-sources = ["qobuz", "tidal", "yt"]

qobuz = []
tidal = []
yt    = []
