[package]
authors     = { workspace = true }
categories  = ["development-tools", "network-programming"]
description = "Switchy HTTP models package"
edition     = { workspace = true }
keywords    = ["http", "network", "web"]
license     = { workspace = true }
name        = "switchy_http_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[package.metadata.workspaces]
group = "switchy"

[dependencies]
moosicbox_assert = { workspace = true }

actix-web = { workspace = true, optional = true }
reqwest   = { workspace = true, optional = true }
serde     = { workspace = true, optional = true }
strum     = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }

[features]
default = ["actix", "reqwest", "serde"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

serde = ["dep:serde"]

actix   = ["dep:actix-web"]
reqwest = ["dep:reqwest"]
