[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox Session Handling package"
edition     = { workspace = true }
keywords    = ["session", "state"]
license     = { workspace = true }
name        = "moosicbox_session"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert         = { workspace = true }
moosicbox_audio_zone     = { workspace = true }
moosicbox_json_utils     = { workspace = true }
moosicbox_library        = { workspace = true }
moosicbox_music_models   = { workspace = true, features = ["api"] }
moosicbox_session_models = { workspace = true }
switchy_async            = { workspace = true, features = ["tokio"] }
switchy_database         = { workspace = true }

# API Dependencies
actix-web        = { workspace = true, optional = true }
moosicbox_paging = { workspace = true, optional = true }
utoipa           = { workspace = true, optional = true }

# Events Dependencies

tokio = { workspace = true, optional = true }

log        = { workspace = true }
serde      = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror  = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }

[features]
default = ["all-formats", "api", "events", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_zone/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_library/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging?/fail-on-warnings",
    "moosicbox_session_models/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "dep:moosicbox_paging",
    "moosicbox_audio_zone/api",
    "moosicbox_library/api",
    "moosicbox_music_models/api",
    "moosicbox_session_models/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_zone/openapi",
    "moosicbox_library/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging?/openapi",
    "moosicbox_session_models/openapi",
]

events = ["dep:tokio", "moosicbox_audio_zone/events"]

all-formats = [
    "all-os-formats",
    "moosicbox_library/all-formats",
    "moosicbox_music_models/all-formats",
    "mp3",
]
all-os-formats = [
    "aac",
    "flac",
    "moosicbox_library/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "opus",
]

aac = [
    "moosicbox_library/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_session_models/aac",
]
flac = [
    "moosicbox_library/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_session_models/flac",
]
mp3 = [
    "moosicbox_library/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_session_models/mp3",
]
opus = [
    "moosicbox_library/format-opus",
    "moosicbox_music_models/opus",
    "moosicbox_session_models/opus",
]
