[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox Remote Library Music API package"
edition     = { workspace = true }
keywords    = ["audio", "library", "remote"]
license     = { workspace = true }
name        = "moosicbox_remote_library"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_menu_models  = { workspace = true, features = ["api"] }
moosicbox_music_api    = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_paging       = { workspace = true }
switchy_http           = { workspace = true, features = ["json", "reqwest"] }

async-trait = { workspace = true }
thiserror   = { workspace = true }
tokio       = { workspace = true }
urlencoding = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros"] }
test-log      = { workspace = true }

[features]
default = ["aac", "flac", "mp3", "opus"]

fail-on-warnings = [
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "switchy_http/fail-on-warnings",
]

aac  = ["moosicbox_music_models/aac"]
flac = ["moosicbox_music_models/flac"]
mp3  = ["moosicbox_music_models/mp3"]
opus = ["moosicbox_music_models/opus"]
