[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox channel utils package"
edition     = { workspace = true }
keywords    = ["async", "channel", "receiver", "sender", "utility"]
license     = { workspace = true }
name        = "moosicbox_channel_utils"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_assert = { workspace = true }

# Futures Channel
futures-channel = { workspace = true, optional = true }
futures-core    = { workspace = true, optional = true }

log = { workspace = true }

[dev-dependencies]
futures-util = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
test-log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

[features]
default = ["futures-channel"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

futures-channel = ["dep:futures-channel", "dep:futures-core"]
