[package]
authors     = { workspace = true }
categories  = ["gui", "web-programming"]
description = "HyperChad color package"
edition     = { workspace = true }
keywords    = ["color", "gui", "web"]
license     = { workspace = true }
name        = "hyperchad_color"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
moosicbox_assert = { workspace = true }

color-hex = { workspace = true }
egui      = { workspace = true, optional = true }
log       = { workspace = true }
proptest  = { workspace = true, optional = true }
serde     = { workspace = true, optional = true }
thiserror = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["arb", "egui"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

egui = ["dep:egui"]

arb = ["dep:proptest"]

serde = ["dep:serde"]
