[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "MoosicBox websocket package"
edition     = { workspace = true }
keywords    = ["api", "websocket"]
license     = { workspace = true }
name        = "moosicbox_ws"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_assert     = { workspace = true }
moosicbox_audio_zone = { workspace = true }
moosicbox_json_utils = { workspace = true, features = ["database"] }
moosicbox_logging    = { workspace = true, features = ["macros"] }
moosicbox_session    = { workspace = true }
switchy_database     = { workspace = true }

async-trait = { workspace = true, optional = true }
log         = { workspace = true, optional = true }
thiserror   = { workspace = true, optional = true }

serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true }
strum_macros = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["aac", "flac", "mp3", "opus", "ws"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_zone/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

ws = ["dep:async-trait", "dep:log", "dep:thiserror"]

aac  = ["moosicbox_session/aac"]
flac = ["moosicbox_session/flac"]
mp3  = ["moosicbox_session/mp3"]
opus = ["moosicbox_session/opus"]
