[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-utils"]
description = "MoosicBox RNG package"
edition     = "2024"
keywords    = ["generator", "number", "random"]
license     = "MPL-2.0"
name        = "moosicbox_random"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
log  = { workspace = true }
rand = { version = "=0.8.5", features = ["small_rng"] }

[features]
default = ["rand", "simulator"]

fail-on-warnings = []

rand      = []
simulator = []
