[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Switchy mdns service discovery package"
edition     = { workspace = true }
keywords    = ["discovery", "dns", "mdns", "multicast", "service"]
license     = { workspace = true }
name        = "switchy_mdns"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
moosicbox_assert = { workspace = true }


# Scanner dependencies
kanal = { workspace = true, optional = true }
moosicbox_async_service = { workspace = true, optional = true }
strum_macros = { workspace = true, optional = true }
switchy_async = { workspace = true, optional = true, features = [
    "macros",
    "sync",
    "tokio",
] }

async-trait = { workspace = true }
hostname    = { workspace = true }
log         = { workspace = true }
mdns-sd     = { workspace = true }
thiserror   = { workspace = true }

[features]
default = ["scanner", "simulator"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service?/fail-on-warnings",
    "switchy_async?/fail-on-warnings",
]

scanner = [
    "dep:kanal",
    "dep:moosicbox_async_service",
    "dep:strum_macros",
    "dep:switchy_async",
]

simulator = ["switchy_async?/simulator"]
