[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia"]
description = "MoosicBox player package"
edition     = { workspace = true }
keywords    = ["audio", "player"]
license     = { workspace = true }
name        = "moosicbox_player"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_assert        = { workspace = true }
moosicbox_audio_decoder = { workspace = true }
moosicbox_audio_output  = { workspace = true }
moosicbox_json_utils    = { workspace = true, features = ["serde_json"] }
moosicbox_logging       = { workspace = true, features = ["macros"] }
moosicbox_music_api     = { workspace = true }
moosicbox_music_models  = { workspace = true }
moosicbox_profiles      = { workspace = true, optional = true, features = ["api"] }
moosicbox_resampler     = { workspace = true }
moosicbox_session       = { workspace = true }
moosicbox_stream_utils  = { workspace = true }

switchy_async    = { workspace = true, features = ["tokio"] }
switchy_database = { workspace = true }
switchy_fs       = { workspace = true, features = ["async"] }
switchy_http     = { workspace = true, features = ["json", "reqwest"] }
switchy_random   = { workspace = true, features = ["rand"] }

#API Dependencies
utoipa = { workspace = true, optional = true }

actix-web        = { workspace = true, optional = true }
async-trait      = { workspace = true }
atomic_float     = { workspace = true }
bytes            = { workspace = true }
flume            = { workspace = true }
futures          = { workspace = true }
local-ip-address = { workspace = true }
log              = { workspace = true }
profiling        = { workspace = true, optional = true }
regex            = { workspace = true }
serde            = { workspace = true, features = ["derive"] }
symphonia        = { workspace = true }
thiserror        = { workspace = true }
tokio            = { workspace = true, features = ["macros", "rt", "time", "tracing"] }
tokio-util       = { workspace = true }
url              = { workspace = true }

[dev-dependencies]
env_logger    = { workspace = true }
switchy_async = { workspace = true, features = ["macros", "time"] }
switchy_time  = { workspace = true, features = ["std"] }
test-log      = { workspace = true }

[features]
default = [
    "all-decoders",
    "all-encoders",
    "api",
    "cpal",
    "local",
    "oboe-shared-stdcxx",
    "openapi",
]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_decoder/fail-on-warnings",
    "moosicbox_audio_output/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_profiles?/fail-on-warnings",
    "moosicbox_resampler/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "moosicbox_stream_utils/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_random/fail-on-warnings",
]

simulator = ["switchy_fs/simulator"]

profiling = [
    "dep:profiling",
    "moosicbox_audio_decoder/profiling",
    "moosicbox_resampler/profiling",
]

api = [
    "dep:actix-web",
    "dep:moosicbox_profiles",
    "moosicbox_audio_output/api",
    "moosicbox_logging/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_profiles?/api",
    "moosicbox_session/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_output/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_session/openapi",
]

# Player audio outputs
asio               = ["moosicbox_audio_output/asio"]
cpal               = ["moosicbox_audio_output/cpal"]
jack               = ["moosicbox_audio_output/jack"]
oboe-shared-stdcxx = ["moosicbox_audio_output/oboe-shared-stdcxx"]

all-encoders    = ["all-os-encoders", "encoder-mp3"]
all-os-encoders = ["encoder-aac", "encoder-flac", "encoder-opus"]

encoder-aac  = ["format-aac", "moosicbox_audio_output/aac"]
encoder-flac = ["format-flac", "moosicbox_audio_output/flac"]
encoder-mp3  = ["format-mp3", "moosicbox_audio_output/mp3"]
encoder-opus = ["format-opus", "moosicbox_audio_output/opus"]

all-decoders    = ["all-os-decoders", "decoder-mp3"]
all-os-decoders = ["decoder-aac", "decoder-flac", "decoder-opus"]

decoder-aac  = ["format-aac", "moosicbox_audio_decoder/aac"]
decoder-flac = ["format-flac", "moosicbox_audio_decoder/flac"]
decoder-mp3  = ["format-mp3", "moosicbox_audio_decoder/mp3"]
decoder-opus = ["format-opus", "moosicbox_audio_decoder/opus"]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_audio_decoder/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_session/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_audio_decoder/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_session/all-os-formats",
]

format-aac  = ["moosicbox_music_models/aac", "moosicbox_session/aac"]
format-flac = ["moosicbox_music_models/flac", "moosicbox_session/flac"]
format-mp3  = ["moosicbox_music_models/mp3", "moosicbox_session/mp3"]
format-opus = ["moosicbox_music_models/opus", "moosicbox_session/opus"]

local = []
