[package]
authors     = { workspace = true }
categories  = ["development-tools", "filesystem"]
description = "Switchy File-system package"
edition     = { workspace = true }
keywords    = ["time"]
license     = { workspace = true }
name        = "switchy_fs"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
switchy_async = { workspace = true, optional = true, features = [
    "io",
    "rt-multi-thread",
    "sync",
] }

bytes      = { workspace = true, optional = true }
log        = { workspace = true }
scoped-tls = { workspace = true, optional = true }
tempfile   = { workspace = true, optional = true }
tokio      = { workspace = true, optional = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
switchy_async     = { workspace = true, features = ["macros"] }
test-log          = { workspace = true }
tokio             = { workspace = true, features = ["macros", "rt"] }

[features]
default = ["async", "simulator", "std", "sync", "tokio"]

fail-on-warnings = ["switchy_async?/fail-on-warnings"]

simulator = ["dep:bytes", "switchy_async?/simulator", "sync"]
simulator-real-fs = [
    "dep:scoped-tls",
    "dep:switchy_async",
    "dep:tempfile",
    "switchy_async/rt-multi-thread",
]
std = ["dep:tempfile", "sync"]
tokio = ["async", "dep:tokio", "switchy_async?/fs", "switchy_async?/tokio"]

async = ["dep:switchy_async", "switchy_async/io"]
sync  = ["switchy_async?/sync"]
