[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Find a free unused port"
edition     = { workspace = true }
keywords    = ["network", "port", "tcp", "udp"]
license     = { workspace = true }
name        = "openport"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.2"

[package.metadata]
examples = true

[package.metadata.workspaces]
independent = true

[[bin]]
name              = "openport"
path              = "src/main.rs"
required-features = ["cli"]

[dependencies]
clap           = { workspace = true, features = ["derive"], optional = true }
switchy_random = { workspace = true, features = ["rand"], optional = true }

### FEATURES #################################################################

[features]
default = ["reservation"]

# Enable CLI binary with argument parsing
cli = ["dep:clap"]

fail-on-warnings = ["switchy_random?/fail-on-warnings"]

# Add `pick_random_unused_port` pub fn that allows finding a random port
# within the range 15000..25000
rand = ["dep:switchy_random", "switchy_random?/rand"]

# Enable port reservation functionality
reservation = []
