[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Switchy UPnP package"
edition     = { workspace = true }
keywords    = ["dlna", "network", "upnp"]
license     = { workspace = true }
name        = "switchy_upnp"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[package.metadata.cargo-machete]
ignored = ["strum", "tokio"]

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_audio_output = { workspace = true, optional = true }
moosicbox_logging      = { workspace = true, optional = true, features = ["macros"] }

switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
switchy_env = { workspace = true, features = ["std"] }
switchy_http = { workspace = true, optional = true, features = ["reqwest"] }

# API Dependencies
actix-web = { workspace = true, optional = true }
utoipa    = { workspace = true, optional = true }

# Listener Dependencies
flume                   = { workspace = true, optional = true }
moosicbox_async_service = { workspace = true, optional = true }

# Player Dependencies
moosicbox_music_api = { workspace = true, optional = true }
moosicbox_player    = { workspace = true, optional = true }
moosicbox_session   = { workspace = true, optional = true }
switchy_random      = { workspace = true, optional = true, features = ["rand"] }
symphonia           = { workspace = true, optional = true }

async-recursion = { workspace = true }
async-trait     = { workspace = true }
futures         = { workspace = true }
itertools       = { workspace = true }
log             = { workspace = true }
pin-utils       = { workspace = true }
regex           = { workspace = true }
roxmltree       = { workspace = true }
rupnp           = { workspace = true }
serde           = { workspace = true }
strum           = { workspace = true, optional = true }
strum_macros    = { workspace = true, optional = true }
thiserror       = { workspace = true }
tokio           = { workspace = true, features = ["macros", "tracing"] }
xml             = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "net", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }

[features]
default = ["api", "listener", "openapi", "player", "simulator"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service?/fail-on-warnings",
    "moosicbox_audio_output?/fail-on-warnings",
    "moosicbox_logging?/fail-on-warnings",
    "moosicbox_music_api?/fail-on-warnings",
    "moosicbox_player?/fail-on-warnings",
    "moosicbox_session?/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http?/fail-on-warnings",
    "switchy_random?/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "moosicbox_audio_output?/api",
    "moosicbox_logging?/api",
    "moosicbox_music_api?/api",
    "moosicbox_player?/api",
    "moosicbox_session?/api",
]
listener = [
    "dep:flume",
    "dep:moosicbox_async_service",
    "dep:strum",
    "dep:strum_macros",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_output?/openapi",
    "moosicbox_music_api?/openapi",
    "moosicbox_player?/openapi",
    "moosicbox_session?/openapi",
]
player = [
    "dep:moosicbox_async_service",
    "dep:moosicbox_audio_output",
    "dep:moosicbox_logging",
    "dep:moosicbox_music_api",
    "dep:moosicbox_player",
    "dep:moosicbox_session",
    "dep:strum",
    "dep:strum_macros",
    "dep:switchy_http",
    "dep:switchy_random",
    "dep:symphonia",
    "listener",
]

simulator = [
    "switchy_async/simulator",
    "switchy_env/simulator",
    "switchy_http?/simulator",
    "switchy_random?/simulator",
]
