[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad egui renderer package"
edition     = { workspace = true }
keywords    = ["desktop", "egui", "gui", "render", "renderer"]
license     = { workspace = true }
name        = "hyperchad_renderer_egui"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[package.metadata.cargo-machete]
ignored = ["hyperchad_color", "image", "tracy-client", "wgpu"]

[dependencies]
hyperchad_actions = { workspace = true, features = ["handler", "logic"] }
hyperchad_color = { workspace = true, features = ["egui"] }
hyperchad_renderer = { workspace = true, features = [
    "canvas",
    "viewport-immediate",
] }
hyperchad_router = { workspace = true }
hyperchad_transformer = { workspace = true, features = [
    "html",
    "layout-offset",
    "logic",
] }
moosicbox_app_native_image = { workspace = true }
moosicbox_assert = { workspace = true }
moosicbox_logging = { workspace = true, features = ["macros"] }
switchy_async = { workspace = true, features = ["tokio"] }
switchy_env = { workspace = true, features = ["std"] }
switchy_http = { workspace = true, features = ["reqwest"] }

async-trait = { workspace = true }
eframe = { workspace = true, default-features = false, features = [
    "__screenshot",
    "default",
] }
egui_extras = { workspace = true, features = ["image", "svg"] }
flume = { workspace = true }
image = { workspace = true, features = ["webp"] }
itertools = { workspace = true }
log = { workspace = true }
profiling = { workspace = true, optional = true }
puffin = { workspace = true, optional = true }
puffin_http = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }
tracy-client = { workspace = true, default-features = false, optional = true, features = [
    "enable",
] }

[features]
default = ["debug", "v1", "v2", "wgpu"]

fail-on-warnings = [
    "hyperchad_actions/fail-on-warnings",
    "hyperchad_color/fail-on-warnings",
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_router/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "moosicbox_app_native_image/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http/fail-on-warnings",
]

glow = ["eframe/glow"]
wgpu = ["eframe/wgpu"]

wayland = ["eframe/wayland"]
x11     = ["eframe/x11"]

profiling = ["dep:profiling", "hyperchad_transformer/profiling"]
profiling-puffin = [
    "dep:puffin",
    "dep:puffin_http",
    "hyperchad_renderer/profiling-puffin",
    "hyperchad_transformer/profiling-puffin",
    "profiling",
]
profiling-tracing = ["dep:tracing-subscriber", "profiling"]
profiling-tracy = [
    "dep:tracy-client",
    "hyperchad_renderer/profiling-tracy",
    "hyperchad_transformer/profiling-tracy",
    "profiling",
]

debug = []

v1 = []
v2 = []
