[package]
authors     = { workspace = true }
build       = "build.rs"
categories  = ["gui"]
description = "HyperChad Vanilla JS HTML renderer package"
edition     = { workspace = true }
keywords    = ["gui", "html", "js", "render", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_vanilla_js"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[package.metadata.cargo-machete]
ignored = ["hyperchad_js_bundler", "hyperchad_renderer_vanilla_js_hash"]

[build-dependencies]
hyperchad_js_bundler               = { workspace = true, features = ["swc"] }
hyperchad_renderer_vanilla_js_hash = { workspace = true }

[dependencies]
hyperchad_renderer      = { workspace = true, features = ["canvas", "html"] }
hyperchad_renderer_html = { workspace = true, features = ["assets", "extend"] }
hyperchad_transformer   = { workspace = true, features = ["html", "logic"] }

async-trait  = { workspace = true }
const_format = { workspace = true }
convert_case = { workspace = true }
html-escape  = { workspace = true }
log          = { workspace = true }
maud         = { workspace = true }
md5          = { workspace = true, optional = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["all-plugins", "debug"]

fail-on-warnings = [
    "hyperchad_js_bundler/fail-on-warnings",
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_renderer_html/fail-on-warnings",
    "hyperchad_renderer_vanilla_js_hash/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
]

debug = ["hyperchad_renderer_html/debug"]

hash   = ["dep:md5"]
script = []

all-plugins = [
    "hyperchad_renderer_vanilla_js_hash/all-plugins",
    "plugin-actions",
    "plugin-canvas",
    "plugin-event",
    "plugin-form",
    "plugin-http-events",
    "plugin-idiomorph",
    "plugin-nav",
    "plugin-routing",
    "plugin-sse",
    "plugin-tauri-event",
    "plugin-uuid",
]

_actions = []
plugin-actions = [
    "hyperchad_renderer_vanilla_js_hash/plugin-actions",
    "plugin-actions-change",
    "plugin-actions-click",
    "plugin-actions-click-outside",
    "plugin-actions-event",
    "plugin-actions-event-key-down",
    "plugin-actions-event-key-up",
    "plugin-actions-immediate",
    "plugin-actions-key-down",
    "plugin-actions-key-up",
    "plugin-actions-mouse-down",
    "plugin-actions-mouse-over",
    "plugin-actions-resize",
]
plugin-actions-change = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-change",
]
plugin-actions-click = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-click",
]
plugin-actions-click-outside = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-click-outside",
]
plugin-actions-event = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-event",
]
plugin-actions-event-key-down = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-event-key-down",
]
plugin-actions-event-key-up = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-event-key-up",
]
plugin-actions-immediate = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-immediate",
]
plugin-actions-key-down = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-key-down",
]
plugin-actions-key-up = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-key-up",
]
plugin-actions-mouse-down = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-mouse-down",
]
plugin-actions-mouse-over = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-mouse-over",
]
plugin-actions-resize = [
    "_actions",
    "hyperchad_renderer_vanilla_js_hash/plugin-actions-resize",
]

plugin-canvas = ["hyperchad_renderer_vanilla_js_hash/plugin-canvas"]
plugin-event = ["hyperchad_renderer_vanilla_js_hash/plugin-event"]
plugin-form = ["hyperchad_renderer_vanilla_js_hash/plugin-form"]
plugin-http-events = ["hyperchad_renderer_vanilla_js_hash/plugin-http-events"]
plugin-idiomorph = ["hyperchad_renderer_vanilla_js_hash/plugin-idiomorph"]
plugin-nav = ["hyperchad_renderer_vanilla_js_hash/plugin-nav"]
plugin-routing = ["hyperchad_renderer_vanilla_js_hash/plugin-routing"]
plugin-sse = ["hyperchad_renderer_vanilla_js_hash/plugin-sse", "plugin-uuid"]
plugin-tauri-event = ["hyperchad_renderer_vanilla_js_hash/plugin-tauri-event"]
plugin-uuid = ["hyperchad_renderer_vanilla_js_hash/plugin-uuid"]
plugin-uuid-insecure = [
    "hyperchad_renderer_vanilla_js_hash/plugin-uuid-insecure",
]
