[package]
authors     = { workspace = true }
categories  = ["compression", "encoding"]
description = "Audio converter helper binary"
edition     = { workspace = true }
keywords    = ["audio", "convert", "converter", "encoding"]
license     = { workspace = true }
name        = "moosicbox_aconverter"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[[bin]]
name              = "aconverter"
path              = "src/main.rs"
required-features = []

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_files        = { workspace = true, features = ["files"] }
moosicbox_logging      = { workspace = true, features = ["free_log"] }
moosicbox_music_api    = { workspace = true }
moosicbox_music_models = { workspace = true }

clap = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
moosicbox_audiotags = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }

[features]
default = ["aac", "flac", "mp3", "opus"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
]

aac  = ["moosicbox_files/encoder-aac", "moosicbox_music_models/aac"]
flac = ["moosicbox_files/encoder-flac", "moosicbox_music_models/flac"]
mp3  = ["moosicbox_files/encoder-mp3", "moosicbox_music_models/mp3"]
opus = ["moosicbox_files/encoder-opus", "moosicbox_music_models/opus"]
