[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox YouTube package"
edition     = { workspace = true }
keywords    = ["audio", "youtube"]
license     = { workspace = true }
name        = "moosicbox_yt"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_date_utils = { workspace = true, features = ["chrono"] }
moosicbox_files = { workspace = true, features = ["format-flac"] }
moosicbox_json_utils = { workspace = true, features = [
    "database",
    "serde_json",
] }
moosicbox_menu_models = { workspace = true }
moosicbox_music_api = { workspace = true }
moosicbox_music_api_helpers = { workspace = true }
moosicbox_music_models = { workspace = true, features = ["flac"] }
moosicbox_paging = { workspace = true }
switchy_async = { workspace = true, features = ["sync", "tokio"] }
switchy_database = { workspace = true }
switchy_http = { workspace = true, features = ["json", "reqwest"] }
switchy_time = { workspace = true, features = ["chrono", "std"] }

# API Dependencies
actix-web = { workspace = true, optional = true }
utoipa    = { workspace = true, optional = true }

async-recursion = { workspace = true }
async-trait     = { workspace = true }
chrono          = { workspace = true }
futures         = { workspace = true }
log             = { workspace = true }
open            = { workspace = true }
serde           = { workspace = true, features = ["derive"] }
serde_json      = { workspace = true }
strum           = { workspace = true }
strum_macros    = { workspace = true }
thiserror       = { workspace = true }
url             = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["api", "db", "openapi", "scan"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_api_helpers/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "moosicbox_files/api",
    "moosicbox_menu_models/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "switchy_database/api",
]
db = ["moosicbox_music_models/db"]
openapi = [
    "dep:utoipa",
    "moosicbox_files/openapi",
    "moosicbox_menu_models/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
]

scan = ["db", "moosicbox_music_api_helpers/scan"]
