[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad FLTK renderer package"
edition     = { workspace = true }
keywords    = ["desktop", "fltk", "gui", "render", "renderer"]
license     = { workspace = true }
name        = "hyperchad_renderer_fltk"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_actions = { workspace = true, features = ["logic"] }
hyperchad_renderer = { workspace = true, features = [
    "canvas",
    "viewport-retained",
] }
hyperchad_transformer = { workspace = true, features = ["html", "layout"] }
moosicbox_app_native_image = { workspace = true }
moosicbox_assert = { workspace = true }
moosicbox_logging = { workspace = true }

switchy_async = { workspace = true, features = ["tokio"] }
switchy_env   = { workspace = true, features = ["std"] }
switchy_http  = { workspace = true, features = ["reqwest"] }

async-trait = { workspace = true }
bytes       = { workspace = true }
fltk        = { workspace = true, features = ["use-ninja"] }
flume       = { workspace = true }
image       = { workspace = true }
log         = { workspace = true }
thiserror   = { workspace = true }
tokio       = { workspace = true, features = ["sync"] }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["debug", "format", "unsafe"]

fail-on-warnings = [
    "hyperchad_actions/fail-on-warnings",
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "moosicbox_app_native_image/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http/fail-on-warnings",
]

debug  = []
format = ["hyperchad_transformer/format"]
unsafe = []
