[package]
authors     = { workspace = true }
categories  = ["multimedia"]
description = "MoosicBox files package"
edition     = { workspace = true }
keywords    = ["audio", "file", "track"]
license     = { workspace = true }
name        = "moosicbox_files"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["profiling", "strum", "tokio"]

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_async_service = { workspace = true, optional = true }
moosicbox_audio_decoder = { workspace = true, optional = true }
moosicbox_audio_output = { workspace = true, optional = true }
moosicbox_config = { workspace = true }
moosicbox_image = { workspace = true, optional = true }
moosicbox_music_api = { workspace = true, optional = true }
moosicbox_music_models = { workspace = true, optional = true, features = [
    "db",
] }
moosicbox_parsing_utils = { workspace = true, optional = true }
moosicbox_stream_utils = { workspace = true }

switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
switchy_database = { workspace = true, optional = true }
switchy_fs = { workspace = true, features = ["std", "tokio"] }
switchy_http = { workspace = true, features = ["reqwest", "stream"] }
switchy_time = { workspace = true, features = ["std"] }

# API Dependencies
utoipa = { workspace = true, optional = true }

actix-files         = { workspace = true, optional = true }
actix-web           = { workspace = true, optional = true }
atomic_float        = { workspace = true }
bytes               = { workspace = true }
flume               = { workspace = true, optional = true }
futures             = { workspace = true }
futures-core        = { workspace = true }
log                 = { workspace = true }
moosicbox_audiotags = { workspace = true }
profiling           = { workspace = true, optional = true }
regex               = { workspace = true }
serde               = { workspace = true, features = ["derive"] }
strum               = { workspace = true, optional = true }
strum_macros        = { workspace = true, optional = true }
symphonia           = { workspace = true, optional = true }
thiserror           = { workspace = true }
tokio               = { workspace = true }
tokio-stream        = { workspace = true, optional = true }
tokio-util          = { workspace = true, optional = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }

[features]
default = [
    "all-decoders",
    "all-encoders",
    "api",
    "files",
    "image",
    "openapi",
    "range",
]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service?/fail-on-warnings",
    "moosicbox_audio_decoder?/fail-on-warnings",
    "moosicbox_audio_output?/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_image?/fail-on-warnings",
    "moosicbox_music_api?/fail-on-warnings",
    "moosicbox_music_models?/fail-on-warnings",
    "moosicbox_parsing_utils?/fail-on-warnings",
    "moosicbox_stream_utils/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database?/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

image   = ["moosicbox_image/image"]
libvips = ["moosicbox_image/libvips"]

api = [
    "dep:actix-files",
    "dep:actix-web",
    "dep:moosicbox_async_service",
    "dep:moosicbox_audio_decoder",
    "files",
    "moosicbox_audio_output?/api",
    "moosicbox_config/api",
    "moosicbox_music_api?/api",
    "moosicbox_music_models?/api",
    "range",
    "switchy_database?/api",
]
files = [
    "dep:flume",
    "dep:moosicbox_async_service",
    "dep:moosicbox_audio_decoder",
    "dep:moosicbox_audio_output",
    "dep:moosicbox_music_api",
    "dep:moosicbox_music_models",
    "dep:moosicbox_parsing_utils",
    "dep:strum",
    "dep:strum_macros",
    "dep:switchy_database",
    "dep:symphonia",
    "dep:tokio-stream",
    "dep:tokio-util",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_output?/openapi",
    "moosicbox_config/openapi",
    "moosicbox_music_api?/openapi",
    "moosicbox_music_models?/openapi",
]
range = ["dep:moosicbox_audio_output"]
track-range = ["dep:moosicbox_audio_output"]

all-encoders    = ["all-os-encoders", "encoder-mp3"]
all-os-encoders = ["encoder-aac", "encoder-flac", "encoder-opus"]

encoder-aac  = ["format-aac", "moosicbox_audio_output?/aac"]
encoder-flac = ["format-flac", "moosicbox_audio_output?/flac"]
encoder-mp3  = ["format-mp3", "moosicbox_audio_output?/mp3"]
encoder-opus = ["format-opus", "moosicbox_audio_output?/opus"]

all-decoders    = ["all-os-decoders", "decoder-mp3"]
all-os-decoders = ["decoder-aac", "decoder-flac", "decoder-opus"]

decoder-aac = [
    "dep:moosicbox_audio_decoder",
    "format-aac",
    "moosicbox_audio_decoder?/aac",
]
decoder-flac = [
    "dep:moosicbox_audio_decoder",
    "format-flac",
    "moosicbox_audio_decoder?/flac",
]
decoder-mp3 = [
    "dep:moosicbox_audio_decoder",
    "format-mp3",
    "moosicbox_audio_decoder?/mp3",
]
decoder-opus = [
    "dep:moosicbox_audio_decoder",
    "format-opus",
    "moosicbox_audio_decoder?/opus",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_audio_decoder?/all-formats",
    "moosicbox_music_models?/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_audio_decoder?/all-os-formats",
    "moosicbox_music_models?/all-os-formats",
]

format-aac  = ["moosicbox_music_models?/aac"]
format-flac = ["moosicbox_music_models?/flac"]
format-mp3  = ["moosicbox_music_models?/mp3"]
format-opus = ["moosicbox_music_models?/opus"]

profiling = [
    "dep:profiling",
    "moosicbox_audio_decoder?/profiling",
    "moosicbox_image?/profiling",
]
