[package]
authors     = { workspace = true }
categories  = ["database", "development-tools"]
description = "MoosicBox json utilities package"
edition     = { workspace = true }
keywords    = ["database", "json", "tantivy", "util", "utility"]
license     = { workspace = true }
name        = "moosicbox_json_utils"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
# database dependencies
switchy_database = { workspace = true, optional = true }

# rusqlite dependencies
rusqlite = { workspace = true, optional = true }

# tantivy dependencies
tantivy = { workspace = true, optional = true }

# serde_json dependencies
serde_json = { workspace = true, optional = true }

async-trait = { workspace = true, optional = true }
chrono      = { workspace = true }
log         = { workspace = true }
thiserror   = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }
uuid     = { workspace = true, features = ["v4"] }

[features]
default = ["database", "rusqlite", "serde_json", "tantivy"]

fail-on-warnings = ["switchy_database?/fail-on-warnings"]

database   = ["dep:async-trait", "dep:switchy_database"]
decimal    = ["switchy_database?/decimal"]
rusqlite   = ["dep:rusqlite"]
serde_json = ["dep:serde_json"]
tantivy    = ["dep:tantivy"]
uuid       = ["switchy_database?/uuid"]
