[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad renderer package"
edition     = { workspace = true }
keywords    = ["desktop", "gui", "render", "renderer"]
license     = { workspace = true }
name        = "hyperchad_renderer"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_color       = { workspace = true }
hyperchad_transformer = { workspace = true, features = ["html"] }
switchy_async         = { workspace = true, features = ["rt-multi-thread", "tokio"] }

async-trait = { workspace = true }
bytes       = { workspace = true }
log         = { workspace = true }
serde       = { workspace = true, optional = true }
serde_json  = { workspace = true, optional = true }

[features]
default = [
    "assets",
    "canvas",
    "html",
    "viewport",
    "viewport-immediate",
    "viewport-retained",
]

fail-on-warnings = [
    "hyperchad_color/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]

canvas = ["hyperchad_transformer/canvas"]

profiling-puffin  = ["hyperchad_transformer/profiling-puffin"]
profiling-tracing = ["hyperchad_transformer/profiling-tracing"]
profiling-tracy   = ["hyperchad_transformer/profiling-tracy"]

benchmark = ["hyperchad_transformer/benchmark"]

viewport           = []
viewport-immediate = ["viewport"]
viewport-retained  = ["viewport"]

html = ["hyperchad_transformer/html"]
json = ["dep:serde_json"]

assets = []

logic = ["hyperchad_transformer/logic"]

serde = ["dep:serde", "hyperchad_color/serde"]
