[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia", "network-programming"]
description = "MoosicBox \"Music API\" API package"
edition     = { workspace = true }
keywords    = ["album", "api", "artist", "models", "music"]
license     = { workspace = true }
name        = "moosicbox_music_api_api"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
actix-web              = { workspace = true }
futures                = { workspace = true, optional = true }
moosicbox_music_api    = { workspace = true, features = ["api"] }
moosicbox_music_models = { workspace = true, optional = true }
moosicbox_paging       = { workspace = true }
moosicbox_profiles     = { workspace = true, features = ["api"] }
utoipa                 = { workspace = true, optional = true }

log   = { workspace = true }
serde = { workspace = true, features = ["derive"] }

[features]
default = ["api", "db", "openapi"]

fail-on-warnings = [
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models?/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
]

openapi = [
    "dep:utoipa",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
]

db = ["moosicbox_music_models?/db"]

api = [
    "dep:futures",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_profiles/api",
]

_auth                  = []
auth-poll              = ["_auth", "moosicbox_music_api/auth-poll"]
auth-username-password = ["_auth", "moosicbox_music_api/auth-username-password"]

[dev-dependencies]
async-trait           = { workspace = true }
moosicbox_menu_models = { workspace = true }
serde_json            = { workspace = true }
switchy_async         = { workspace = true, features = ["macros", "tokio"] }
test-log              = { workspace = true }
tokio                 = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tokio"]
