---
import Layout from '~/layouts/Layout.astro';
import DownloadArtifactsList from '~/components/DownloadArtifactsList/DownloadArtifactsList.tsx';
---

<Layout title="Downloads | MoosicBox">
    <div class="download-page">
        <h1 class="download-page-header">Downloads</h1>
        <hr />
        <DownloadArtifactsList client:load />
    </div>
</Layout>

<style>
    .download-page {
        padding: 20px;
        max-width: 1000px;
        margin: auto;
    }

    .download-page-header {
        margin-top: 0;
    }
</style>
