[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Switchy mdns service discovery package"
edition     = { workspace = true }
keywords    = ["discovery", "dns", "mdns", "multicast", "service"]
license     = { workspace = true }
name        = "switchy_mdns"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[package.metadata.cargo-machete]
ignored = ["tokio"]

[dependencies]
moosicbox_assert = { workspace = true }

async-trait = { workspace = true }
hostname    = { workspace = true }
log         = { workspace = true }
mdns-sd     = { workspace = true }
thiserror   = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "sync", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }

[features]
default = ["simulator"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

simulator = []
