[package]
authors     = { workspace = true }
categories  = ["gui", "web-programming"]
description = "MoosicBox App UI package"
edition     = { workspace = true }
keywords    = ["dom", "gui", "transformer", "web"]
license     = { workspace = true }
name        = "moosicbox_app_native_ui"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
hyperchad = { workspace = true, features = [
    "actions",
    "actions-logic",
    "actions-serde",
    "color",
    "renderer-canvas",
    "serde",
    "template",
    "transformer",
] }
moosicbox_app_models = { workspace = true, features = ["music-api-api"] }
moosicbox_audio_zone_models = { workspace = true }
moosicbox_date_utils = { workspace = true, features = ["chrono"] }
moosicbox_downloader = { workspace = true, features = ["api"] }
moosicbox_menu_models = { workspace = true, features = ["api"] }
moosicbox_music_api_models = { workspace = true, features = ["api-search"] }
moosicbox_music_models = { workspace = true, features = ["api"] }
moosicbox_paging = { workspace = true }
moosicbox_session_models = { workspace = true }
switchy_env = { workspace = true, features = ["std"] }

bytesize            = { workspace = true }
log                 = { workspace = true }
rust_decimal        = { workspace = true }
rust_decimal_macros = { workspace = true }
serde               = { workspace = true }
serde_json          = { workspace = true }
strum               = { workspace = true }

[features]
default = ["all-formats"]

fail-on-warnings = [
    "hyperchad/fail-on-warnings",
    "moosicbox_app_models/fail-on-warnings",
    "moosicbox_audio_zone_models/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_downloader/fail-on-warnings",
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api_models/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_session_models/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]

all-formats = [
    "all-os-formats",
    "moosicbox_downloader/all-formats",
    "moosicbox_music_models/all-formats",
    "mp3",
]
all-os-formats = [
    "aac",
    "flac",
    "moosicbox_downloader/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "opus",
]

_any-format = []
aac = [
    "_any-format",
    "moosicbox_downloader/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_session_models/aac",
]
flac = [
    "_any-format",
    "moosicbox_downloader/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_session_models/flac",
]
mp3 = [
    "_any-format",
    "moosicbox_downloader/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_session_models/mp3",
]
opus = [
    "_any-format",
    "moosicbox_downloader/format-opus",
    "moosicbox_music_models/opus",
    "moosicbox_session_models/opus",
]

[dev-dependencies]
test-log = { workspace = true }
