[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad state management package"
edition     = { workspace = true }
keywords    = ["hyperchad", "persistence", "state"]
license     = { workspace = true }
name        = "hyperchad_state"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["tokio"]

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
moosicbox_assert = { workspace = true }

async-trait = { workspace = true }
log         = { workspace = true }
serde       = { workspace = true, features = ["derive"] }
serde_json  = { workspace = true }
thiserror   = { workspace = true }

switchy = { workspace = true, optional = true, features = [
    "database-connection-sqlite-sqlx",
    "database-schema",
    "database-sqlite-sqlx",
] }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "time", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true, features = ["macros"] }

[features]
default = ["persistence-ios", "persistence-sqlite"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy?/fail-on-warnings",
]

persistence-ios    = []
persistence-sqlite = ["dep:switchy"]
