[package]
authors     = { workspace = true }
categories  = ["development-tools", "gui", "web-programming"]
description = "HyperChad package"
edition     = { workspace = true }
keywords    = ["hyperchad"]
license     = { workspace = true }
name        = "hyperchad"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.0"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_actions                  = { workspace = true, optional = true }
hyperchad_app                      = { workspace = true, optional = true }
hyperchad_color                    = { workspace = true, optional = true }
hyperchad_js_bundler               = { workspace = true, optional = true }
hyperchad_markdown                 = { workspace = true, optional = true }
hyperchad_renderer                 = { workspace = true, optional = true }
hyperchad_renderer_egui            = { workspace = true, optional = true }
hyperchad_renderer_fltk            = { workspace = true, optional = true }
hyperchad_renderer_html            = { workspace = true, optional = true }
hyperchad_renderer_html_actix      = { workspace = true, optional = true }
hyperchad_renderer_html_cdn        = { workspace = true, optional = true }
hyperchad_renderer_html_http       = { workspace = true, optional = true }
hyperchad_renderer_html_lambda     = { workspace = true, optional = true }
hyperchad_renderer_html_web_server = { workspace = true, optional = true }
hyperchad_renderer_vanilla_js      = { workspace = true, optional = true }
hyperchad_router                   = { workspace = true, optional = true }
hyperchad_simulator                = { workspace = true, optional = true }
hyperchad_state                    = { workspace = true, optional = true }
hyperchad_template                 = { workspace = true, optional = true }
hyperchad_test_utils               = { workspace = true, optional = true }
hyperchad_transformer              = { workspace = true, optional = true }
hyperchad_transformer_models       = { workspace = true, optional = true }

[features]
default = ["all"]

fail-on-warnings = [
    "hyperchad_actions?/fail-on-warnings",
    "hyperchad_app?/fail-on-warnings",
    "hyperchad_color?/fail-on-warnings",
    "hyperchad_js_bundler?/fail-on-warnings",
    "hyperchad_markdown?/fail-on-warnings",
    "hyperchad_renderer?/fail-on-warnings",
    "hyperchad_renderer_egui?/fail-on-warnings",
    "hyperchad_renderer_fltk?/fail-on-warnings",
    "hyperchad_renderer_html?/fail-on-warnings",
    "hyperchad_renderer_html_actix?/fail-on-warnings",
    "hyperchad_renderer_html_cdn?/fail-on-warnings",
    "hyperchad_renderer_html_http?/fail-on-warnings",
    "hyperchad_renderer_html_lambda?/fail-on-warnings",
    "hyperchad_renderer_html_web_server?/fail-on-warnings",
    "hyperchad_renderer_vanilla_js?/fail-on-warnings",
    "hyperchad_router?/fail-on-warnings",
    "hyperchad_simulator?/fail-on-warnings",
    "hyperchad_state?/fail-on-warnings",
    "hyperchad_template?/fail-on-warnings",
    "hyperchad_test_utils?/fail-on-warnings",
    "hyperchad_transformer?/fail-on-warnings",
    "hyperchad_transformer_models?/fail-on-warnings",
]

all = [
    "actions",
    "app",
    "color",
    "js-bundler",
    "json",
    "markdown",
    "renderer",
    "renderer-egui",
    "renderer-fltk",
    "renderer-html",
    "renderer-html-actix",
    "renderer-html-cdn",
    "renderer-html-http",
    "renderer-html-lambda",
    "renderer-html-web-server",
    "renderer-vanilla-js",
    "router",
    "state",
    "template",
    "transformer",
    "transformer-models",
]

serde = [
    "actions-serde",
    "hyperchad_actions?/serde",
    "hyperchad_color?/serde",
    "hyperchad_renderer?/serde",
    "hyperchad_router?/serde",
    "hyperchad_transformer_models?/serde",
    "renderer-serde",
    "transformer-models-serde",
]

app = ["dep:hyperchad_app"]

state        = ["dep:hyperchad_state"]
state-sqlite = ["hyperchad_state?/persistence-sqlite", "state"]

actions = [
    "dep:hyperchad_actions",
    "hyperchad_app?/actions",
    "hyperchad_renderer_html?/actions",
    "hyperchad_renderer_html_actix?/actions",
    "hyperchad_renderer_html_http?/actions",
]
actions-logic = [
    "hyperchad_actions?/logic",
    "hyperchad_app?/logic",
    "hyperchad_template?/logic",
    "transformer-logic",
]
actions-serde = ["hyperchad_actions?/serde"]

color = ["dep:hyperchad_color"]

js-bundler = ["dep:hyperchad_js_bundler"]

markdown = ["dep:hyperchad_markdown"]
markdown-emoji = ["hyperchad_markdown?/emoji", "markdown"]
markdown-syntax-highlighting = [
    "hyperchad_markdown?/syntax-highlighting",
    "markdown",
]
markdown-xss-protection = ["hyperchad_markdown?/xss-protection", "markdown"]

renderer = ["dep:hyperchad_renderer"]
renderer-assets = [
    "hyperchad_app?/assets",
    "hyperchad_renderer/assets",
    "hyperchad_renderer_html?/assets",
    "hyperchad_renderer_html_http?/assets",
]
renderer-benchmark = ["hyperchad_renderer/benchmark"]
renderer-canvas = ["hyperchad_renderer/canvas"]
renderer-json = ["hyperchad_app?/json", "hyperchad_renderer/json"]
renderer-logic = ["hyperchad_app?/logic", "hyperchad_renderer/logic"]
renderer-profiling-puffin = [
    "hyperchad_app?/profiling-puffin",
    "hyperchad_renderer?/profiling-puffin",
]
renderer-profiling-tracing = [
    "hyperchad_app?/profiling-tracing",
    "hyperchad_renderer?/profiling-tracing",
]
renderer-profiling-tracy = [
    "hyperchad_app?/profiling-tracy",
    "hyperchad_renderer?/profiling-tracy",
]
renderer-serde = ["hyperchad_renderer?/serde"]

renderer-egui = [
    "dep:hyperchad_renderer_egui",
    "hyperchad_app?/egui",
    "hyperchad_simulator?/renderer-egui",
]
renderer-egui-debug = ["hyperchad_app?/debug", "hyperchad_renderer_egui?/debug"]
renderer-egui-glow = [
    "hyperchad_app?/egui-glow",
    "hyperchad_renderer_egui?/glow",
]
renderer-egui-profiling-puffin = [
    "hyperchad_app?/profiling-puffin",
    "hyperchad_renderer_egui?/profiling-puffin",
]
renderer-egui-profiling-tracing = [
    "hyperchad_app?/profiling-tracing",
    "hyperchad_renderer_egui?/profiling-tracing",
]
renderer-egui-profiling-tracy = [
    "hyperchad_app?/profiling-tracy",
    "hyperchad_renderer_egui?/profiling-tracy",
]
renderer-egui-v1 = ["hyperchad_app?/egui-v1", "hyperchad_renderer_egui?/v1"]
renderer-egui-v2 = ["hyperchad_app?/egui-v2", "hyperchad_renderer_egui?/v2"]
renderer-egui-wayland = [
    "hyperchad_app?/wayland",
    "hyperchad_renderer_egui?/wayland",
]
renderer-egui-wgpu = [
    "hyperchad_app?/egui-wgpu",
    "hyperchad_renderer_egui?/wgpu",
]
renderer-egui-x11 = ["hyperchad_app?/x11", "hyperchad_renderer_egui?/x11"]

renderer-fltk = [
    "dep:hyperchad_renderer_fltk",
    "hyperchad_app?/fltk",
    "hyperchad_simulator?/renderer-fltk",
]
renderer-fltk-debug = ["hyperchad_app?/debug", "hyperchad_renderer_fltk?/debug"]
renderer-fltk-format = [
    "hyperchad_app?/format",
    "hyperchad_renderer_fltk?/format",
]
renderer-fltk-unsafe = [
    "hyperchad_app?/unsafe",
    "hyperchad_renderer_fltk?/unsafe",
]

renderer-html = [
    "dep:hyperchad_renderer_html",
    "hyperchad_app?/html",
    "hyperchad_renderer/html",
    "hyperchad_simulator?/renderer-html",
]
renderer-html-actions = [
    "hyperchad_app?/actions",
    "hyperchad_renderer_html?/actions",
]
renderer-html-extend = ["hyperchad_renderer_html?/extend"]
renderer-html-json = ["hyperchad_app?/json", "hyperchad_renderer_html?/json"]
renderer-html-sse = ["hyperchad_app?/sse", "hyperchad_renderer_html?/sse"]

renderer-html-http      = ["dep:hyperchad_renderer_html_http", "renderer-html"]
renderer-html-http-json = ["hyperchad_renderer_html_http?/json"]

renderer-html-actix = [
    "dep:hyperchad_renderer_html_actix",
    "hyperchad_app?/actix",
    "hyperchad_renderer_html?/actix",
]

renderer-html-cdn = ["dep:hyperchad_renderer_html_cdn", "renderer-html"]

renderer-html-lambda = [
    "dep:hyperchad_renderer_html_lambda",
    "hyperchad_app?/lambda",
    "hyperchad_renderer_html?/lambda",
]

renderer-html-web-server = [
    "dep:hyperchad_renderer_html_web_server",
    "hyperchad_app?/web-server",
    "hyperchad_renderer_html?/web-server",
]

renderer-html-web-server-actix = [
    "hyperchad_app?/web-server-actix",
    "hyperchad_renderer_html?/web-server-actix",
    "hyperchad_renderer_html_web_server?/actix",
    "renderer-html-web-server",
]

renderer-vanilla-js = [
    "dep:hyperchad_renderer_vanilla_js",
    "hyperchad_app?/vanilla-js",
    "hyperchad_simulator?/renderer-vanilla-js",
    "renderer-html",
]
renderer-vanilla-js-all-plugins = [
    "hyperchad_app?/all-plugins",
    "hyperchad_renderer_vanilla_js?/all-plugins",
]
renderer-vanilla-js-hash = ["hyperchad_renderer_vanilla_js?/hash"]
renderer-vanilla-js-plugin-actions = [
    "hyperchad_app?/plugin-actions",
    "hyperchad_renderer_vanilla_js?/plugin-actions",
]
renderer-vanilla-js-plugin-actions-change = [
    "hyperchad_app?/plugin-actions-change",
    "hyperchad_renderer_vanilla_js?/plugin-actions-change",
]
renderer-vanilla-js-plugin-actions-click = [
    "hyperchad_app?/plugin-actions-click",
    "hyperchad_renderer_vanilla_js?/plugin-actions-click",
]
renderer-vanilla-js-plugin-actions-click-outside = [
    "hyperchad_app?/plugin-actions-click-outside",
    "hyperchad_renderer_vanilla_js?/plugin-actions-click-outside",
]
renderer-vanilla-js-plugin-actions-event = [
    "hyperchad_app?/plugin-actions-event",
    "hyperchad_renderer_vanilla_js?/plugin-actions-event",
]
renderer-vanilla-js-plugin-actions-immediate = [
    "hyperchad_app?/plugin-actions-immediate",
    "hyperchad_renderer_vanilla_js?/plugin-actions-immediate",
]
renderer-vanilla-js-plugin-actions-mouse-down = [
    "hyperchad_app?/plugin-actions-mouse-down",
    "hyperchad_renderer_vanilla_js?/plugin-actions-mouse-down",
]
renderer-vanilla-js-plugin-actions-mouse-over = [
    "hyperchad_app?/plugin-actions-mouse-over",
    "hyperchad_renderer_vanilla_js?/plugin-actions-mouse-over",
]
renderer-vanilla-js-plugin-actions-resize = [
    "hyperchad_app?/plugin-actions-resize",
    "hyperchad_renderer_vanilla_js?/plugin-actions-resize",
]
renderer-vanilla-js-plugin-canvas = [
    "hyperchad_app?/plugin-canvas",
    "hyperchad_renderer_vanilla_js?/plugin-canvas",
]
renderer-vanilla-js-plugin-event = [
    "hyperchad_app?/plugin-event",
    "hyperchad_renderer_vanilla_js?/plugin-event",
]
renderer-vanilla-js-plugin-form = [
    "hyperchad_app?/plugin-form",
    "hyperchad_renderer_vanilla_js?/plugin-form",
]
renderer-vanilla-js-plugin-http-events = [
    "hyperchad_app?/plugin-http-events",
    "hyperchad_renderer_vanilla_js?/plugin-http-events",
]
renderer-vanilla-js-plugin-idiomorph = [
    "hyperchad_app?/plugin-idiomorph",
    "hyperchad_renderer_vanilla_js?/plugin-idiomorph",
]
renderer-vanilla-js-plugin-nav = [
    "hyperchad_app?/plugin-nav",
    "hyperchad_renderer_vanilla_js?/plugin-nav",
]
renderer-vanilla-js-plugin-routing = [
    "hyperchad_app?/plugin-routing",
    "hyperchad_renderer_vanilla_js?/plugin-routing",
]
renderer-vanilla-js-plugin-sse = [
    "hyperchad_app?/plugin-sse",
    "hyperchad_renderer_vanilla_js?/plugin-sse",
]
renderer-vanilla-js-plugin-tauri-event = [
    "hyperchad_app?/plugin-tauri-event",
    "hyperchad_renderer_vanilla_js?/plugin-tauri-event",
]
renderer-vanilla-js-plugin-uuid = [
    "hyperchad_app?/plugin-uuid",
    "hyperchad_renderer_vanilla_js?/plugin-uuid",
]
renderer-vanilla-js-plugin-uuid-insecure = [
    "hyperchad_app?/plugin-uuid-insecure",
    "hyperchad_renderer_vanilla_js?/plugin-uuid-insecure",
]
renderer-vanilla-js-script = ["hyperchad_renderer_vanilla_js?/script"]

router = ["dep:hyperchad_router"]
router-form = ["hyperchad_router?/form"]
router-format = ["hyperchad_app?/format", "hyperchad_router?/format"]
router-json = ["hyperchad_app?/json", "hyperchad_router?/json"]
router-serde = ["hyperchad_router?/serde"]
router-static-routes = [
    "hyperchad_app?/static-routes",
    "hyperchad_router?/static-routes",
]
router-syntax-highlighting = [
    "hyperchad_app?/syntax-highlighting",
    "hyperchad_router?/syntax-highlighting",
]

template = ["dep:hyperchad_template"]

transformer       = ["dep:hyperchad_transformer"]
transformer-logic = ["hyperchad_transformer?/logic"]

transformer-models       = ["dep:hyperchad_transformer_models"]
transformer-models-serde = ["hyperchad_transformer_models?/serde"]

benchmark = [
    "hyperchad_app?/benchmark",
    "hyperchad_renderer?/benchmark",
    "hyperchad_transformer?/benchmark",
    "renderer-benchmark",
]
debug = [
    "hyperchad_app?/debug",
    "hyperchad_renderer_egui?/debug",
    "hyperchad_renderer_fltk?/debug",
    "hyperchad_renderer_html?/debug",
    "hyperchad_renderer_html_actix?/debug",
    "hyperchad_renderer_html_http?/debug",
    "hyperchad_renderer_html_lambda?/debug",
    "hyperchad_renderer_html_web_server?/debug",
    "hyperchad_renderer_vanilla_js?/debug",
    "renderer-egui-debug",
    "renderer-fltk-debug",
]
format = [
    "hyperchad_app?/format",
    "hyperchad_renderer_fltk?/format",
    "hyperchad_router?/format",
    "hyperchad_transformer?/format",
    "router-format",
]
json = [
    "hyperchad_app?/json",
    "hyperchad_renderer?/json",
    "hyperchad_renderer_html?/json",
    "hyperchad_renderer_html_http?/json",
    "hyperchad_renderer_html_lambda?/json",
    "hyperchad_router?/json",
    "renderer-html-http-json",
    "renderer-html-json",
    "renderer-json",
    "router-json",
]
unsafe = [
    "hyperchad_app?/unsafe",
    "hyperchad_renderer_fltk?/unsafe",
    "renderer-fltk-unsafe",
]
wayland = [
    "hyperchad_app?/wayland",
    "hyperchad_renderer_egui?/wayland",
    "renderer-egui-wayland",
]
x11 = [
    "hyperchad_app?/x11",
    "hyperchad_renderer_egui?/x11",
    "renderer-egui-x11",
]

profiling-puffin = [
    "hyperchad_app?/profiling-puffin",
    "hyperchad_renderer?/profiling-puffin",
    "hyperchad_renderer_egui?/profiling-puffin",
    "hyperchad_transformer?/profiling-puffin",
    "renderer-egui-profiling-puffin",
    "renderer-profiling-puffin",
]
profiling-tracing = [
    "hyperchad_app?/profiling-tracing",
    "hyperchad_renderer?/profiling-tracing",
    "hyperchad_renderer_egui?/profiling-tracing",
    "hyperchad_transformer?/profiling-tracing",
    "renderer-egui-profiling-tracing",
    "renderer-profiling-tracing",
]
profiling-tracy = [
    "hyperchad_app?/profiling-tracy",
    "hyperchad_renderer?/profiling-tracy",
    "hyperchad_renderer_egui?/profiling-tracy",
    "hyperchad_transformer?/profiling-tracy",
    "renderer-egui-profiling-tracy",
    "renderer-profiling-tracy",
]

logic = [
    "actions-logic",
    "hyperchad_actions?/logic",
    "hyperchad_app?/logic",
    "hyperchad_renderer?/logic",
    "hyperchad_template?/logic",
    "hyperchad_transformer?/logic",
    "renderer-logic",
    "transformer-logic",
]

# Simulation features
simulation = ["simulator", "test-utils"]
simulator = [
    "dep:hyperchad_simulator",
    "hyperchad_renderer_html_web_server?/simulator",
    "hyperchad_simulator?/renderer-egui",
    "hyperchad_simulator?/renderer-fltk",
    "hyperchad_simulator?/renderer-html",
    "hyperchad_simulator?/renderer-vanilla-js",
]
test-utils = ["dep:hyperchad_test_utils", "hyperchad_simulator?/test-utils"]
