[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-tools"]
description = "MoosicBox task utilities package"
edition     = "2021"
keywords    = ["async", "blocking", "spawn", "task", "tokio"]
license     = "MPL-2.0"
name        = "moosicbox_task"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(tokio_unstable)'] }

[dependencies]
futures   = { workspace = true }
log       = { workspace = true }
profiling = { workspace = true, optional = true }
tokio     = { workspace = true, features = ["rt", "tracing"] }

[features]
default = []

fail-on-warnings = []

profiling = ["dep:profiling"]
