[package]
authors     = { workspace = true }
categories  = ["development-tools::procedural-macro-helpers"]
description = "MoosicBox async service package"
edition     = { workspace = true }
keywords    = ["async", "service", "util", "utilities", "utils"]
license     = { workspace = true }
name        = "moosicbox_async_service"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["switchy_time", "tokio"]

[dependencies]
async-trait = { workspace = true }
flume = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "tokio",
    "util",
] }
thiserror = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
switchy_async     = { workspace = true, features = ["time"] }
switchy_time      = { workspace = true }
test-log          = { workspace = true }
tokio             = { workspace = true, features = ["macros", "rt"] }

[features]
default = []

fail-on-warnings = ["switchy_async/fail-on-warnings"]
