[package]
authors     = { workspace = true }
categories  = ["development-tools", "network-programming"]
description = "MoosicBox stream utils package"
edition     = { workspace = true }
keywords    = ["bytes", "stream", "util", "utility"]
license     = { workspace = true }
name        = "moosicbox_stream_utils"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["switchy_time", "tokio"]

[dependencies]
moosicbox_assert = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
    "util",
] }
switchy_http = { workspace = true, optional = true, features = [
    "reqwest",
    "stream",
] }

async-trait = { workspace = true }
bytes       = { workspace = true }
futures     = { workspace = true }
log         = { workspace = true }
pin-project = { workspace = true }
thiserror   = { workspace = true, optional = true }

[dev-dependencies]
switchy_time = { workspace = true, features = ["std"] }
test-log     = { workspace = true }
tokio        = { workspace = true, features = ["macros", "rt", "time"] }

[features]
default = ["remote-bytestream", "stalled-monitor"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_http?/fail-on-warnings",
]

remote-bytestream = ["dep:switchy_http", "switchy_async/util"]
stalled-monitor   = ["dep:thiserror", "switchy_async/sync", "switchy_async/time"]

[[test]]
name = "basic_tests"
path = "tests/basic/mod.rs"

[[test]]
name              = "remote_bytestream_tests"
path              = "tests/remote_bytestream/mod.rs"
required-features = ["remote-bytestream"]
