[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-tools", "network-programming"]
description = "MoosicBox stream utils package"
edition     = "2021"
keywords    = ["bytes", "stream", "util", "utility"]
license     = "MPL-2.0"
name        = "moosicbox_stream_utils"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBoxServer"
version     = "0.1.0"

[dependencies]
moosicbox_task = { path = "../task", optional = true, default-features = false }

bytes       = { workspace = true }
flume       = { workspace = true, optional = true }
futures     = { workspace = true }
log         = { workspace = true }
pin-project = { workspace = true }
reqwest     = { workspace = true, optional = true }
thiserror   = { workspace = true, optional = true }
tokio       = { workspace = true, features = ["sync"] }
tokio-util  = { workspace = true, optional = true }

[features]
default = ["remote-bytestream", "stalled-monitor"]

fail-on-warnings = []

remote-bytestream = [
    "dep:flume",
    "dep:moosicbox_task",
    "dep:reqwest",
    "dep:tokio-util",
    "tokio/macros",
    "tokio/sync",
    "tokio/time",
]
stalled-monitor = ["dep:thiserror", "tokio/sync", "tokio/time"]
