[package]
authors     = { workspace = true }
build       = "build.rs"
categories  = ["multimedia"]
description = "MoosicBox server package"
edition     = { workspace = true }
keywords    = ["api", "audio", "moosicbox", "server"]
license     = { workspace = true }
name        = "moosicbox_server"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[[bin]]
name              = "moosicbox_server"
path              = "src/main.rs"
required-features = []

[package.metadata.cargo-machete]
ignored = ["strum", "tracy-client"]

[package.metadata.cargo-udeps.ignore]
normal = ["moosicbox_schema", "tracy-client"]

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_async_service = { workspace = true }
moosicbox_audio_output = { workspace = true }
moosicbox_audio_zone = { workspace = true, features = ["api", "events"] }
moosicbox_auth = { workspace = true, optional = true }
moosicbox_config = { workspace = true, features = ["api", "db"] }
moosicbox_env_utils = { workspace = true }
moosicbox_files = { workspace = true, features = [
    "files",
    "image",
    "range",
    "track-range",
] }
moosicbox_json_utils = { workspace = true, features = ["database"] }
moosicbox_logging = { workspace = true, features = ["free_log"] }
moosicbox_middleware = { workspace = true }
moosicbox_music_api = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_profiles = { workspace = true, features = ["api", "events"] }
moosicbox_schema = { workspace = true, optional = true }
moosicbox_session = { workspace = true, features = ["events"] }
switchy_time = { workspace = true, features = ["std"] }

moosicbox_ws                = { workspace = true, features = ["ws"] }
switchy_async               = { workspace = true, features = ["macros", "sync", "tokio"] }
switchy_database            = { workspace = true, features = ["api"] }
switchy_database_connection = { workspace = true, features = [] }
switchy_env                 = { workspace = true, features = ["std"] }
switchy_fs                  = { workspace = true, features = ["std"] }
switchy_mdns                = { workspace = true }
switchy_random              = { workspace = true, features = ["rand"] }
switchy_telemetry           = { workspace = true, features = ["actix"], optional = true }

# APIs
moosicbox_admin_htmx = { workspace = true, optional = true }
moosicbox_downloader = { workspace = true, features = ["api"], optional = true }
moosicbox_library = { workspace = true, features = ["api"], optional = true }
moosicbox_library_music_api = { workspace = true, optional = true }
moosicbox_menu = { workspace = true, features = ["api"], optional = true }
moosicbox_music_api_api = { workspace = true, features = [
    "api",
], optional = true }
moosicbox_player = { workspace = true, features = ["local"], optional = true }
moosicbox_qobuz = { workspace = true, features = ["db"], optional = true }
moosicbox_scan = { workspace = true, features = [
    "api",
    "local",
], optional = true }
moosicbox_search = { workspace = true, features = ["api"], optional = true }
moosicbox_tidal = { workspace = true, features = ["db"], optional = true }
moosicbox_upnp = { workspace = true, optional = true, features = [
    "listener",
    "player",
] }
moosicbox_yt = { workspace = true, features = ["db"], optional = true }
switchy_upnp = { workspace = true, optional = true, features = ["api"] }

# Tunnel dependencies
moosicbox_tunnel        = { workspace = true, optional = true }
moosicbox_tunnel_sender = { workspace = true, optional = true }

utoipa            = { workspace = true, optional = true }
utoipa-rapidoc    = { workspace = true, optional = true }
utoipa-redoc      = { workspace = true, optional = true }
utoipa-scalar     = { workspace = true, optional = true }
utoipa-swagger-ui = { workspace = true, optional = true }

# auth
qstring = { workspace = true, optional = true }
subtle  = { workspace = true, optional = true }

# TLS
rcgen = { workspace = true, optional = true }

actix-cors         = { workspace = true }
actix-htmx         = { workspace = true, optional = true }
actix-web          = { workspace = true }
actix-ws           = { workspace = true }
console-subscriber = { workspace = true }
flume              = { workspace = true }
futures-util       = { workspace = true }
local-ip-address   = { workspace = true }
log                = { workspace = true }
openssl            = { workspace = true, optional = true }
serde_json         = { workspace = true }
strum              = { workspace = true }
strum_macros       = { workspace = true }
thiserror          = { workspace = true }
throttle           = { workspace = true, optional = true }
tokio              = { workspace = true, features = ["macros", "rt", "time", "tracing"] }
tokio-util         = { workspace = true }
url                = { workspace = true }

# Profiling
profiling = { workspace = true, optional = true }
puffin = { workspace = true, optional = true }
puffin_http = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }
tracy-client = { workspace = true, default-features = false, optional = true, features = [
    "enable",
] }

[features]
default = [
    "all-apis",
    "all-formats",
    "all-sources",
    "base64",
    "cpal",
    "openapi",
    "profiling",
    "sqlite-sqlx",
    "telemetry",
    "tunnel",
]

fail-on-warnings = [
    "moosicbox_admin_htmx?/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service/fail-on-warnings",
    "moosicbox_audio_output/fail-on-warnings",
    "moosicbox_audio_zone/fail-on-warnings",
    "moosicbox_auth?/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_downloader?/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_library?/fail-on-warnings",
    "moosicbox_library_music_api?/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_menu?/fail-on-warnings",
    "moosicbox_middleware/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_api_api?/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_player?/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "moosicbox_qobuz?/fail-on-warnings",
    "moosicbox_scan?/fail-on-warnings",
    "moosicbox_schema?/fail-on-warnings",
    "moosicbox_search?/fail-on-warnings",
    "moosicbox_session/fail-on-warnings",
    "moosicbox_tidal?/fail-on-warnings",
    "moosicbox_tunnel?/fail-on-warnings",
    "moosicbox_tunnel_sender?/fail-on-warnings",
    "moosicbox_upnp?/fail-on-warnings",
    "moosicbox_ws/fail-on-warnings",
    "moosicbox_yt?/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_database_connection/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
    "switchy_mdns/fail-on-warnings",
    "switchy_random/fail-on-warnings",
    "switchy_telemetry?/fail-on-warnings",
    "switchy_time/fail-on-warnings",
    "switchy_upnp?/fail-on-warnings",
]

telemetry = ["dep:switchy_telemetry"]

tls = [
    "actix-web/openssl",
    "dep:openssl",
    "dep:rcgen",
    "switchy_database/tls",
    "switchy_database_connection/tls",
]

base64 = [
    "moosicbox_admin_htmx?/base64",
    "moosicbox_tunnel?/base64",
    "moosicbox_tunnel_sender?/base64",
]
tunnel = [
    "dep:moosicbox_auth",
    "dep:moosicbox_tunnel",
    "dep:moosicbox_tunnel_sender",
    "moosicbox_middleware/tunnel",
]

# Player audio outputs
asio = ["moosicbox_audio_output/asio", "moosicbox_player?/asio"]
cpal = ["moosicbox_audio_output/cpal", "moosicbox_player?/cpal"]
jack = ["moosicbox_audio_output/jack", "moosicbox_player?/jack"]

static-token-auth = ["dep:qstring", "dep:subtle"]

all-encoders = [
    "all-os-encoders",
    "encoder-mp3",
    "moosicbox_files/all-encoders",
    "moosicbox_library?/all-encoders",
    "moosicbox_library_music_api?/all-encoders",
    "moosicbox_player?/all-encoders",
    "moosicbox_tunnel_sender?/all-encoders",
]
all-os-encoders = [
    "encoder-aac",
    "encoder-flac",
    "encoder-opus",
    "moosicbox_files/all-os-encoders",
    "moosicbox_library?/all-os-encoders",
    "moosicbox_library_music_api?/all-os-encoders",
    "moosicbox_player?/all-os-encoders",
    "moosicbox_tunnel_sender?/all-os-encoders",
]

encoder-aac = [
    "format-aac",
    "moosicbox_files/encoder-aac",
    "moosicbox_library?/encoder-aac",
    "moosicbox_library_music_api?/encoder-aac",
    "moosicbox_player?/encoder-aac",
    "moosicbox_tunnel_sender?/encoder-aac",
]
encoder-flac = [
    "format-flac",
    "moosicbox_files/encoder-flac",
    "moosicbox_library?/encoder-flac",
    "moosicbox_library_music_api?/encoder-flac",
    "moosicbox_player?/encoder-flac",
    "moosicbox_tunnel_sender?/encoder-flac",
]
encoder-mp3 = [
    "format-mp3",
    "moosicbox_files/encoder-mp3",
    "moosicbox_library?/encoder-mp3",
    "moosicbox_library_music_api?/encoder-mp3",
    "moosicbox_player?/encoder-mp3",
    "moosicbox_tunnel_sender?/encoder-mp3",
]
encoder-opus = [
    "format-opus",
    "moosicbox_files/encoder-opus",
    "moosicbox_library?/encoder-opus",
    "moosicbox_library_music_api?/encoder-opus",
    "moosicbox_player?/encoder-opus",
    "moosicbox_tunnel_sender?/encoder-opus",
]

all-decoders = [
    "all-os-decoders",
    "decoder-mp3",
    "moosicbox_downloader?/all-decoders",
    "moosicbox_files/all-decoders",
    "moosicbox_player?/all-decoders",
]
all-os-decoders = [
    "decoder-aac",
    "decoder-flac",
    "decoder-opus",
    "moosicbox_downloader?/all-os-decoders",
    "moosicbox_files/all-os-decoders",
    "moosicbox_player?/all-os-decoders",
]

decoder-aac = [
    "format-aac",
    "moosicbox_downloader?/decoder-aac",
    "moosicbox_files/decoder-aac",
    "moosicbox_player?/decoder-aac",
]
decoder-flac = [
    "format-flac",
    "moosicbox_downloader?/decoder-flac",
    "moosicbox_files/decoder-flac",
    "moosicbox_player?/decoder-flac",
]
decoder-mp3 = [
    "format-mp3",
    "moosicbox_downloader?/decoder-mp3",
    "moosicbox_files/decoder-mp3",
    "moosicbox_player?/decoder-mp3",
]
decoder-opus = [
    "format-opus",
    "moosicbox_downloader?/decoder-opus",
    "moosicbox_files/decoder-opus",
    "moosicbox_player?/decoder-opus",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_downloader?/all-formats",
    "moosicbox_files/all-formats",
    "moosicbox_library?/all-formats",
    "moosicbox_library_music_api?/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_player?/all-formats",
    "moosicbox_scan?/all-formats",
    "moosicbox_session/all-formats",
    "moosicbox_tunnel_sender?/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_downloader?/all-os-formats",
    "moosicbox_files/all-os-formats",
    "moosicbox_library?/all-os-formats",
    "moosicbox_library_music_api?/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_player?/all-os-formats",
    "moosicbox_scan?/all-os-formats",
    "moosicbox_session/all-os-formats",
    "moosicbox_tunnel_sender?/all-os-formats",
]

format-aac = [
    "moosicbox_downloader?/format-aac",
    "moosicbox_files/format-aac",
    "moosicbox_library?/format-aac",
    "moosicbox_library_music_api?/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_player?/format-aac",
    "moosicbox_scan?/aac",
    "moosicbox_session/aac",
    "moosicbox_tunnel_sender?/format-aac",
]
format-flac = [
    "moosicbox_downloader?/format-flac",
    "moosicbox_files/format-flac",
    "moosicbox_library?/format-flac",
    "moosicbox_library_music_api?/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_player?/format-flac",
    "moosicbox_scan?/flac",
    "moosicbox_session/flac",
    "moosicbox_tunnel_sender?/format-flac",
]
format-mp3 = [
    "moosicbox_downloader?/format-mp3",
    "moosicbox_files/format-mp3",
    "moosicbox_library?/format-mp3",
    "moosicbox_library_music_api?/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_player?/format-mp3",
    "moosicbox_scan?/mp3",
    "moosicbox_session/mp3",
    "moosicbox_tunnel_sender?/format-mp3",
]
format-opus = [
    "moosicbox_downloader?/format-opus",
    "moosicbox_files/format-opus",
    "moosicbox_library?/format-opus",
    "moosicbox_library_music_api?/format-opus",
    "moosicbox_music_models/opus",
    "moosicbox_player?/format-opus",
    "moosicbox_scan?/opus",
    "moosicbox_session/opus",
    "moosicbox_tunnel_sender?/format-opus",
]

postgres = [
    "dep:moosicbox_schema",
    "moosicbox_schema?/postgres",
    "switchy_database/postgres",
    "switchy_database_connection/creds",
    "switchy_database_connection/postgres",
]
postgres-native-tls = ["switchy_database_connection/postgres-native-tls"]
postgres-openssl = ["switchy_database_connection/postgres-openssl"]
postgres-raw = [
    "postgres",
    "switchy_database/postgres-raw",
    "switchy_database_connection/postgres-raw",
]
postgres-sqlx = [
    "postgres",
    "switchy_database/postgres-sqlx",
    "switchy_database_connection/postgres-sqlx",
]
sqlite = [
    "dep:moosicbox_schema",
    "moosicbox_schema?/sqlite",
    "switchy_database/sqlite",
    "switchy_database_connection/sqlite",
]
sqlite-rusqlite = [
    "sqlite",
    "switchy_database/sqlite-rusqlite",
    "switchy_database_connection/sqlite-rusqlite",
]
sqlite-sqlx = [
    "sqlite",
    "switchy_database/sqlite-sqlx",
    "switchy_database_connection/sqlite-sqlx",
]

admin-htmx = ["admin-htmx-api"]
downloader = ["dep:throttle", "moosicbox_downloader/api"]
library = ["moosicbox_library/api", "moosicbox_library_music_api/api"]
player = [
    "dep:moosicbox_library",
    "dep:moosicbox_player",
    "moosicbox_upnp?/player",
]
scan = [
    "dep:throttle",
    "moosicbox_admin_htmx?/scan",
    "moosicbox_qobuz?/scan",
    "moosicbox_scan/api",
    "moosicbox_tidal?/scan",
    "moosicbox_yt?/scan",
]
search = ["moosicbox_search/api"]
upnp = ["dep:moosicbox_upnp", "dep:switchy_upnp", "player"]

all-sources = ["qobuz", "tidal", "yt"]

qobuz = [
    "dep:moosicbox_qobuz",
    "moosicbox_admin_htmx?/qobuz",
    "moosicbox_music_api_api?/auth-username-password",
]
tidal = [
    "dep:moosicbox_tidal",
    "moosicbox_admin_htmx?/tidal",
    "moosicbox_music_api_api?/auth-poll",
]
yt = ["dep:moosicbox_yt"]

# APIs
all-apis = ["app-apis", "player-api", "upnp-api"]
app-apis = [
    "admin-htmx-api",
    "audio-output-api",
    "audio-zone-api",
    "auth-api",
    "config-api",
    "downloader-api",
    "files-api",
    "library-api",
    "menu-api",
    "music-api-api",
    "qobuz-api",
    "scan-api",
    "search-api",
    "session-api",
    "tidal-api",
    "yt-api",
]

admin-htmx-api = [
    "dep:actix-htmx",
    "dep:moosicbox_admin_htmx",
    "moosicbox_admin_htmx?/api",
]
audio-output-api = ["moosicbox_audio_output/api"]
audio-zone-api = ["moosicbox_audio_zone/api"]
auth-api = ["dep:moosicbox_auth", "moosicbox_auth?/api"]
config-api = []
downloader-api = ["dep:moosicbox_downloader", "downloader"]
files-api = ["moosicbox_files/api"]
library-api = ["dep:moosicbox_library", "library"]
menu-api = ["dep:moosicbox_menu"]
music-api-api = ["dep:moosicbox_music_api_api"]
player-api = ["moosicbox_player?/api", "player"]
qobuz-api = ["moosicbox_qobuz?/api"]
scan-api = ["dep:moosicbox_scan", "scan"]
search-api = ["dep:moosicbox_search", "search"]
session-api = ["moosicbox_session/api"]
tidal-api = ["moosicbox_tidal?/api"]
upnp-api = ["dep:moosicbox_upnp", "dep:switchy_upnp", "upnp"]
yt-api = ["moosicbox_yt?/api"]

openapi = [
    "dep:utoipa",
    "dep:utoipa-rapidoc",
    "dep:utoipa-redoc",
    "dep:utoipa-scalar",
    "dep:utoipa-swagger-ui",
    "moosicbox_audio_output/openapi",
    "moosicbox_audio_zone/openapi",
    "moosicbox_auth?/openapi",
    "moosicbox_config/openapi",
    "moosicbox_downloader?/openapi",
    "moosicbox_files/openapi",
    "moosicbox_library?/openapi",
    "moosicbox_menu?/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_api_api?/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_player?/openapi",
    "moosicbox_qobuz?/openapi",
    "moosicbox_scan?/openapi",
    "moosicbox_search?/openapi",
    "moosicbox_session/openapi",
    "moosicbox_tidal?/openapi",
    "moosicbox_upnp?/openapi",
    "moosicbox_yt?/openapi",
    "switchy_upnp?/openapi",
]

profiling = [
    "dep:profiling",
    "moosicbox_files/profiling",
    "moosicbox_player?/profiling",
]
profiling-puffin = [
    "dep:puffin",
    "dep:puffin_http",
    "profiling",
    "profiling/profile-with-puffin",
]
profiling-tracing = ["dep:tracing-subscriber", "profiling"]
profiling-tracy = [
    "dep:tracy-client",
    "profiling",
    "profiling/profile-with-tracy",
]

simulator = [
    "moosicbox_library_music_api?/simulator",
    "moosicbox_search?/simulator",
    "moosicbox_upnp?/simulator",
    "switchy_async/simulator",
    "switchy_database/simulator",
    "switchy_database_connection/simulator",
    "switchy_env/simulator",
    "switchy_fs/simulator",
    "switchy_mdns/simulator",
    "switchy_random/simulator",
    "switchy_telemetry?/simulator",
    "switchy_time/simulator",
    "switchy_upnp?/simulator",
]
