[env]
STATIC_TOKEN = { value = "123", features = ["default", "static-token-auth"] }

[[ci-steps]]
toolchain = "free_disk_space"

[[config]]
os = "ubuntu"

[[config.dependencies]]
command  = "sudo apt-get update && sudo apt-get install libsqlite3-dev"
features = ["default", "sqlite", "sqlite-rusqlite", "sqlite-sqlx"]

[[config]]
os            = "windows"
skip-features = ["asio"]

[config.env]
BIND_ADDR = "127.0.0.1"

[[config.dependencies]]
command  = 'vcpkg integrate install'
features = ["default", "postgres-openssl", "tls"]

[[config.dependencies]]
command  = 'vcpkg install openssl:x64-windows-static-md'
features = ["default", "postgres-openssl", "tls"]

[[config]]
os = "macos"
