[package]
authors     = { workspace = true }
categories  = ["development-tools", "network-programming"]
description = "MoosicBox paging package"
edition     = { workspace = true }
keywords    = ["api", "util", "utility"]
license     = { workspace = true }
name        = "moosicbox_paging"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
# API Dependencies
utoipa = { workspace = true, optional = true }

futures       = { workspace = true }
log           = { workspace = true }
serde         = { workspace = true, features = ["derive"] }
switchy_async = { workspace = true, features = ["sync", "tokio"] }

[dev-dependencies]
pretty_assertions = { workspace = true }
serde_json = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
test-log = { workspace = true }

[features]
default = ["openapi"]

fail-on-warnings = ["switchy_async/fail-on-warnings"]

openapi = ["dep:utoipa"]
