[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia"]
description = "MoosicBox package"
edition     = { workspace = true }
keywords    = ["moosicbox"]
license     = { workspace = true }
name        = "moosicbox"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.0"

[package.metadata]
examples = false

[dependencies]
moosicbox_admin_htmx        = { workspace = true, optional = true }
moosicbox_app_models        = { workspace = true, optional = true }
moosicbox_app_native_ui     = { workspace = true, optional = true }
moosicbox_arb               = { workspace = true, optional = true }
moosicbox_assert            = { workspace = true, optional = true }
moosicbox_async_service     = { workspace = true, optional = true }
moosicbox_audio_decoder     = { workspace = true, optional = true }
moosicbox_audio_encoder     = { workspace = true, optional = true }
moosicbox_audio_output      = { workspace = true, optional = true }
moosicbox_audio_zone        = { workspace = true, optional = true }
moosicbox_audio_zone_models = { workspace = true, optional = true }
moosicbox_auth              = { workspace = true, optional = true }
moosicbox_channel_utils     = { workspace = true, optional = true }
moosicbox_config            = { workspace = true, optional = true }
moosicbox_downloader        = { workspace = true, optional = true }
moosicbox_env_utils         = { workspace = true, optional = true }
moosicbox_files             = { workspace = true, optional = true }
moosicbox_image             = { workspace = true, optional = true }
moosicbox_json_utils        = { workspace = true, optional = true }
moosicbox_library           = { workspace = true, optional = true }
moosicbox_library_models    = { workspace = true, optional = true }
moosicbox_load_balancer     = { workspace = true, optional = true }
moosicbox_logging           = { workspace = true, optional = true }
moosicbox_menu              = { workspace = true, optional = true }
moosicbox_middleware        = { workspace = true, optional = true }
moosicbox_music_api         = { workspace = true, optional = true }
moosicbox_paging            = { workspace = true, optional = true }
moosicbox_player            = { workspace = true, optional = true }
moosicbox_profiles          = { workspace = true, optional = true }
moosicbox_qobuz             = { workspace = true, optional = true }
moosicbox_remote_library    = { workspace = true, optional = true }
moosicbox_resampler         = { workspace = true, optional = true }
moosicbox_scan              = { workspace = true, optional = true }
moosicbox_schema            = { workspace = true, optional = true }
moosicbox_search            = { workspace = true, optional = true }
moosicbox_session           = { workspace = true, optional = true }
moosicbox_session_models    = { workspace = true, optional = true }
moosicbox_stream_utils      = { workspace = true, optional = true }

moosicbox_tidal         = { workspace = true, optional = true }
moosicbox_tunnel        = { workspace = true, optional = true }
moosicbox_tunnel_sender = { workspace = true, optional = true }
moosicbox_ws            = { workspace = true, optional = true }
moosicbox_yt            = { workspace = true, optional = true }

[features]
default = ["all-default"]

fail-on-warnings = [
    "moosicbox_admin_htmx?/fail-on-warnings",
    "moosicbox_app_models?/fail-on-warnings",
    "moosicbox_app_native_ui?/fail-on-warnings",
    "moosicbox_arb?/fail-on-warnings",
    "moosicbox_assert?/fail-on-warnings",
    "moosicbox_async_service?/fail-on-warnings",
    "moosicbox_audio_decoder?/fail-on-warnings",
    "moosicbox_audio_encoder?/fail-on-warnings",
    "moosicbox_audio_output?/fail-on-warnings",
    "moosicbox_audio_zone?/fail-on-warnings",
    "moosicbox_audio_zone_models?/fail-on-warnings",
    "moosicbox_auth?/fail-on-warnings",
    "moosicbox_channel_utils?/fail-on-warnings",
    "moosicbox_config?/fail-on-warnings",
    "moosicbox_downloader?/fail-on-warnings",
    "moosicbox_env_utils?/fail-on-warnings",
    "moosicbox_files?/fail-on-warnings",
    "moosicbox_image?/fail-on-warnings",
    "moosicbox_json_utils?/fail-on-warnings",
    "moosicbox_library?/fail-on-warnings",
    "moosicbox_library_models?/fail-on-warnings",
    "moosicbox_load_balancer?/fail-on-warnings",
    "moosicbox_logging?/fail-on-warnings",
    "moosicbox_menu?/fail-on-warnings",
    "moosicbox_middleware?/fail-on-warnings",
    "moosicbox_music_api?/fail-on-warnings",
    "moosicbox_paging?/fail-on-warnings",
    "moosicbox_player?/fail-on-warnings",
    "moosicbox_profiles?/fail-on-warnings",
    "moosicbox_qobuz?/fail-on-warnings",
    "moosicbox_remote_library?/fail-on-warnings",
    "moosicbox_resampler?/fail-on-warnings",
    "moosicbox_scan?/fail-on-warnings",
    "moosicbox_schema?/fail-on-warnings",
    "moosicbox_search?/fail-on-warnings",
    "moosicbox_session?/fail-on-warnings",
    "moosicbox_session_models?/fail-on-warnings",
    "moosicbox_stream_utils?/fail-on-warnings",
    "moosicbox_tidal?/fail-on-warnings",
    "moosicbox_tunnel?/fail-on-warnings",
    "moosicbox_tunnel_sender?/fail-on-warnings",
    "moosicbox_ws?/fail-on-warnings",
    "moosicbox_yt?/fail-on-warnings",
]

all = [
    "admin-htmx",
    "app-models",
    "app-native-ui",
    "arb",
    "assert",
    "async-service",
    "audio-decoder",
    "audio-encoder",
    "audio-output",
    "audio-zone",
    "audio-zone-models",
    "auth",
    "channel-utils",
    "config",
    "downloader",
    "env-utils",
    "files",
    "image",
    "json-utils",
    "library",
    "library-models",
    "load-balancer",
    "logging",
    "menu",
    "middleware",
    "music-api",
    "paging",
    "player",
    "profiles",
    "remote-library",
    "resampler",
    "scan",
    "schema",
    "search",
    "session",
    "session-models",
    "stream-utils",
    "tunnel",
    "tunnel-sender",
    "ws",
]

all-default = [
    "admin-htmx-default",
    "app-models-default",
    "app-native-ui-default",
    "arb-default",
    "assert-default",
    "async-service-default",
    "audio-decoder-default",
    "audio-encoder-default",
    "audio-output-default",
    "audio-zone-default",
    "audio-zone-models-default",
    "auth-default",
    "channel-utils-default",
    "config-default",
    "downloader-default",
    "env-utils-default",
    "files-default",
    "image-default",
    "json-utils-default",
    "library-default",
    "library-models-default",
    "load-balancer-default",
    "logging-default",
    "menu-default",
    "middleware-default",
    "music-api-default",
    "paging-default",
    "player-default",
    "profiles-default",
    "remote-library-default",
    "resampler-default",
    "scan-default",
    "schema-default",
    "search-default",
    "session-default",
    "session-models-default",
    "stream-utils-default",
    "tunnel-default",
    "tunnel-sender-default",
    "ws-default",
]

all-sources = ["qobuz", "tidal", "yt"]

_flac = ["moosicbox_app_native_ui?/flac"]

qobuz = [
    "_flac",
    "dep:moosicbox_qobuz",
    "moosicbox_admin_htmx?/qobuz",
    "moosicbox_app_models?/auth-username-password",
]
tidal = [
    "_flac",
    "dep:moosicbox_tidal",
    "moosicbox_admin_htmx?/tidal",
    "moosicbox_app_models?/auth-poll",
]
yt = ["_flac", "dep:moosicbox_yt"]

tunnel-base64        = ["moosicbox_tunnel?/base64"]
tunnel-sender-base64 = ["moosicbox_tunnel_sender?/base64"]

admin-htmx = ["dep:moosicbox_admin_htmx"]
app-models = ["dep:moosicbox_app_models"]
app-native-ui = ["dep:moosicbox_app_native_ui"]
arb = ["dep:moosicbox_arb"]
assert = ["dep:moosicbox_assert"]
async-service = ["dep:moosicbox_async_service"]
audio-decoder = ["dep:moosicbox_audio_decoder"]
audio-encoder = ["dep:moosicbox_audio_encoder"]
audio-output = ["dep:moosicbox_audio_output"]
audio-zone = ["dep:moosicbox_audio_zone"]
audio-zone-models = ["dep:moosicbox_audio_zone_models"]
auth = ["dep:moosicbox_auth"]
channel-utils = ["dep:moosicbox_channel_utils"]
config = ["dep:moosicbox_config"]
downloader = ["dep:moosicbox_downloader"]
env-utils = ["dep:moosicbox_env_utils"]
files = ["dep:moosicbox_files", "moosicbox_files?/files"]
image = [
    "dep:moosicbox_files",
    "dep:moosicbox_image",
    "moosicbox_files?/image",
    "moosicbox_image?/image",
]
json-utils = ["dep:moosicbox_json_utils"]
library = ["dep:moosicbox_library"]
library-models = ["dep:moosicbox_library_models"]
load-balancer = ["dep:moosicbox_load_balancer"]
logging = ["dep:moosicbox_logging"]
menu = ["dep:moosicbox_menu"]
middleware = ["dep:moosicbox_middleware"]
music-api = ["dep:moosicbox_music_api"]
paging = ["dep:moosicbox_paging"]
player = ["dep:moosicbox_player"]
profiles = ["dep:moosicbox_profiles"]
remote-library = ["dep:moosicbox_remote_library"]
resampler = ["dep:moosicbox_resampler"]
scan = [
    "dep:moosicbox_scan",
    "moosicbox_admin_htmx?/scan",
    "moosicbox_qobuz?/scan",
    "moosicbox_tidal?/scan",
    "moosicbox_yt?/scan",
]
schema = ["dep:moosicbox_schema"]
search = ["dep:moosicbox_search"]
session = ["dep:moosicbox_session"]
session-models = ["dep:moosicbox_session_models"]
stream-utils = ["dep:moosicbox_stream_utils"]
tunnel = ["dep:moosicbox_tunnel", "moosicbox_middleware?/tunnel"]
tunnel-sender = ["dep:moosicbox_tunnel_sender"]
ws = ["dep:moosicbox_ws", "moosicbox_ws?/ws"]

admin-htmx-default        = ["moosicbox_admin_htmx/default"]
app-models-default        = ["moosicbox_app_models/default"]
app-native-ui-default     = ["moosicbox_app_native_ui/default"]
arb-default               = ["moosicbox_arb/default"]
assert-default            = ["moosicbox_assert/default"]
async-service-default     = ["moosicbox_async_service/default"]
audio-decoder-default     = ["moosicbox_audio_decoder/default"]
audio-encoder-default     = ["moosicbox_audio_encoder/default"]
audio-output-default      = ["moosicbox_audio_output/default"]
audio-zone-default        = ["moosicbox_audio_zone/default"]
audio-zone-models-default = ["moosicbox_audio_zone_models/default"]
auth-default              = ["moosicbox_auth/default"]
channel-utils-default     = ["moosicbox_channel_utils/default"]
config-default            = ["moosicbox_config/default"]
downloader-default        = ["moosicbox_downloader/default"]
env-utils-default         = ["moosicbox_env_utils/default"]
files-default             = ["moosicbox_files/default"]
image-default             = ["moosicbox_image/default"]
json-utils-default        = ["moosicbox_json_utils/default"]
library-default           = ["moosicbox_library/default"]
library-models-default    = ["moosicbox_library_models/default"]
load-balancer-default     = ["moosicbox_load_balancer/default"]
logging-default           = ["moosicbox_logging/default"]
menu-default              = ["moosicbox_menu/default"]
middleware-default        = ["moosicbox_middleware/default"]
music-api-default         = ["moosicbox_music_api/default"]
paging-default            = ["moosicbox_paging/default"]
player-default            = ["moosicbox_player/default"]
profiles-default          = ["moosicbox_profiles/default"]
remote-library-default    = ["moosicbox_remote_library/default"]
resampler-default         = ["moosicbox_resampler/default"]
scan-default              = ["moosicbox_scan/default"]
schema-default            = ["moosicbox_schema/default"]
search-default            = ["moosicbox_search/default"]
session-default           = ["moosicbox_session/default"]
session-models-default    = ["moosicbox_session_models/default"]
stream-utils-default      = ["moosicbox_stream_utils/default"]
tunnel-default            = ["moosicbox_tunnel/default"]
tunnel-sender-default     = ["moosicbox_tunnel_sender/default"]
ws-default                = ["moosicbox_ws/default"]
