[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "MoosicBox tunnel sender package"
edition     = { workspace = true }
keywords    = ["api", "tunnel", "websocket"]
license     = { workspace = true }
name        = "moosicbox_tunnel_sender"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_audio_decoder = { workspace = true }
moosicbox_audio_output = { workspace = true }
moosicbox_auth = { workspace = true }
moosicbox_channel_utils = { workspace = true, features = ["futures-channel"] }
moosicbox_env_utils = { workspace = true }
moosicbox_files = { workspace = true, features = [
    "api",
    "files",
    "range",
    "track-range",
] }
moosicbox_image = { workspace = true, features = ["image"] }
moosicbox_music_api = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_player = { workspace = true }
moosicbox_stream_utils = { workspace = true }

moosicbox_tunnel = { workspace = true }
moosicbox_ws     = { workspace = true, features = ["ws"] }
switchy_async    = { workspace = true, features = ["tokio"] }
switchy_database = { workspace = true }
switchy_http     = { workspace = true, features = ["json", "reqwest"] }
switchy_random   = { workspace = true, features = ["rand"] }

# Base64 dependencies
base64 = { workspace = true, optional = true }

async-trait       = { workspace = true }
bytes             = { workspace = true }
futures-channel   = { workspace = true }
futures-util      = { workspace = true }
log               = { workspace = true }
regex             = { workspace = true }
serde             = { workspace = true, features = ["derive"] }
serde-aux         = { workspace = true }
serde_json        = { workspace = true }
symphonia         = { workspace = true }
thiserror         = { workspace = true }
tokio             = { workspace = true, features = ["tracing"] }
tokio-tungstenite = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["all-encoders", "base64"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_decoder/fail-on-warnings",
    "moosicbox_audio_output/fail-on-warnings",
    "moosicbox_auth/fail-on-warnings",
    "moosicbox_channel_utils/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_image/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_player/fail-on-warnings",
    "moosicbox_stream_utils/fail-on-warnings",
    "moosicbox_tunnel/fail-on-warnings",
    "moosicbox_ws/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_random/fail-on-warnings",
]

base64 = ["dep:base64", "moosicbox_tunnel/base64"]

all-encoders = [
    "all-os-encoders",
    "encoder-mp3",
    "moosicbox_files/all-encoders",
    "moosicbox_player/all-encoders",
]
all-os-encoders = [
    "encoder-aac",
    "encoder-flac",
    "encoder-opus",
    "moosicbox_files/all-os-encoders",
    "moosicbox_player/all-os-encoders",
]

encoder-aac = [
    "format-aac",
    "moosicbox_audio_output/aac",
    "moosicbox_files/encoder-aac",
    "moosicbox_player/encoder-aac",
]
encoder-flac = [
    "format-flac",
    "moosicbox_audio_output/flac",
    "moosicbox_files/encoder-flac",
    "moosicbox_player/encoder-flac",
]
encoder-mp3 = [
    "format-mp3",
    "moosicbox_audio_output/mp3",
    "moosicbox_files/encoder-mp3",
    "moosicbox_player/encoder-mp3",
]
encoder-opus = [
    "format-opus",
    "moosicbox_audio_output/opus",
    "moosicbox_files/encoder-opus",
    "moosicbox_player/encoder-opus",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_audio_decoder/all-formats",
    "moosicbox_files/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_player/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_audio_decoder/all-os-formats",
    "moosicbox_files/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_player/all-os-formats",
]

format-aac = [
    "moosicbox_files/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_player/format-aac",
    "moosicbox_ws/aac",
]
format-flac = [
    "moosicbox_files/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_player/format-flac",
    "moosicbox_ws/flac",
]
format-mp3 = [
    "moosicbox_files/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_player/format-mp3",
    "moosicbox_ws/mp3",
]
format-opus = [
    "moosicbox_files/format-opus",
    "moosicbox_music_models/opus",
    "moosicbox_player/format-opus",
    "moosicbox_ws/opus",
]
