[package]
authors     = ["Braden Steffaniak"]
categories  = ["network-programming"]
description = "MoosicBox tunnel sender package"
edition     = "2021"
keywords    = ["api", "tunnel", "websocket"]
license     = "MPL-2.0"
name        = "moosicbox_tunnel_sender"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
moosicbox_assert = { version = "0.1.0", path = "../assert", default-features = false }
moosicbox_audio_decoder = { version = "0.1.0", path = "../audio_decoder", default-features = false }
moosicbox_audio_output = { version = "0.1.0", path = "../audio_output", default-features = false }
moosicbox_auth = { version = "0.1.0", path = "../auth", default-features = false }
moosicbox_channel_utils = { version = "0.1.0", path = "../channel_utils", default-features = false, features = [
    "futures-channel",
] }
moosicbox_core = { version = "0.1.0", path = "../core", default-features = false }
moosicbox_database = { version = "0.1.0", path = "../database", default-features = false }
moosicbox_env_utils = { version = "0.1.0", path = "../env_utils", default-features = false }
moosicbox_files = { version = "0.1.0", path = "../files", default-features = false, features = [
    "api",
    "files",
    "range",
    "track-range",
] }
moosicbox_image = { version = "0.1.0", path = "../image", default-features = false, features = [
    "image",
] }
moosicbox_music_api = { version = "0.1.0", path = "../music_api", default-features = false }
moosicbox_player = { version = "0.1.0", path = "../player", default-features = false }
moosicbox_stream_utils = { version = "0.1.0", path = "../stream_utils", default-features = false }
moosicbox_task = { version = "0.1.0", path = "../task", default-features = false }
moosicbox_tunnel = { version = "0.1.0", path = "../tunnel", default-features = false }
moosicbox_ws = { version = "0.1.0", path = "../ws", default-features = false, features = [
    "ws",
] }

# Base64 dependencies
base64 = { workspace = true, optional = true }

async-trait       = { workspace = true }
bytes             = { workspace = true }
futures-channel   = { workspace = true }
futures-util      = { workspace = true }
log               = { workspace = true }
rand              = { workspace = true }
regex             = { workspace = true }
reqwest           = { workspace = true, features = ["json"] }
serde             = { workspace = true, features = ["derive"] }
serde-aux         = { workspace = true }
serde_json        = { workspace = true }
symphonia         = { workspace = true }
thiserror         = { workspace = true }
tokio             = { workspace = true, features = ["tracing"] }
tokio-tungstenite = { workspace = true }
tokio-util        = { workspace = true }

[features]
default = ["aac", "all-sources", "base64", "flac", "mp3", "opus"]

fail-on-warnings = []

base64 = ["dep:base64", "moosicbox_tunnel/base64"]

aac = [
    "moosicbox_audio_output/aac",
    "moosicbox_core/aac",
    "moosicbox_files/aac",
    "moosicbox_ws/aac",
]
flac = [
    "moosicbox_audio_output/flac",
    "moosicbox_core/flac",
    "moosicbox_files/flac",
    "moosicbox_ws/flac",
]
mp3 = [
    "moosicbox_audio_output/mp3",
    "moosicbox_core/mp3",
    "moosicbox_files/mp3",
    "moosicbox_ws/mp3",
]
opus = [
    "moosicbox_audio_output/opus",
    "moosicbox_core/opus",
    "moosicbox_files/opus",
    "moosicbox_ws/opus",
]

all-sources = ["qobuz", "tidal", "yt"]

qobuz = [
    "moosicbox_core/qobuz",
    "moosicbox_files/qobuz",
    "moosicbox_player/qobuz",
]
tidal = [
    "moosicbox_core/tidal",
    "moosicbox_files/tidal",
    "moosicbox_player/tidal",
]
yt = ["moosicbox_core/yt", "moosicbox_files/yt", "moosicbox_player/yt"]
