[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox clippier package"
edition     = { workspace = true }
keywords    = ["clippier", "util", "utilities", "utils"]
license     = { workspace = true }
name        = "clippier"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.1"

[package.metadata]
examples = true

[package.metadata.workspaces]
independent = true

[package.metadata.cargo-machete]
ignored-dirs = ["test-resources"]

[[bin]]
name              = "clippier"
path              = "src/main.rs"
required-features = []

[dependencies]
moosicbox_logging = { workspace = true, features = ["free_log"] }
switchy_random    = { workspace = true, features = ["rand"] }

anyhow     = { workspace = true }
chrono     = { workspace = true }
clap       = { workspace = true }
globset    = { workspace = true }
itertools  = { workspace = true }
log        = { workspace = true }
regex      = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }
tempfile   = { workspace = true }
thiserror  = { workspace = true }
toml       = { workspace = true }

git2 = { workspace = true, optional = true }

[dev-dependencies]
clippier_test_utilities = { workspace = true, features = ["git-diff"] }
insta                   = { workspace = true, features = ["redactions", "yaml"] }
test-log                = { workspace = true }

[features]
default = ["git-diff"]

fail-on-warnings = [
    "moosicbox_logging/fail-on-warnings",
    "switchy_random/fail-on-warnings",
]

git-diff   = ["dep:git2"]
test-utils = []

# Automatically enable test-utils when running tests
[[test]]
name              = "integration_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "external_deps_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "real_world_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "feature_validator_integration"
required-features = ["test-utils"]
