[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox clippier package"
edition     = { workspace = true }
keywords    = ["clippier", "util", "utilities", "utils"]
license     = { workspace = true }
name        = "clippier"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.1"

[package.metadata]
examples = true
tests    = false

[package.metadata.workspaces]
independent = true

[package.metadata.cargo-machete]
ignored-dirs = ["test-resources", "tests/transforms/fixtures"]

[[bin]]
name              = "clippier"
path              = "src/main.rs"
required-features = []

[dependencies]
moosicbox_logging = { workspace = true, features = ["free_log"] }
switchy_async     = { workspace = true, features = ["macros", "process", "tokio"] }
switchy_fs        = { workspace = true, features = ["async", "std", "sync", "tokio"] }
switchy_random    = { workspace = true, features = ["rand"] }

anyhow     = { workspace = true }
chrono     = { workspace = true }
clap       = { workspace = true }
glob       = { workspace = true }
globset    = { workspace = true }
itertools  = { workspace = true }
log        = { workspace = true }
rayon      = { workspace = true, optional = true }
regex      = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }
tempfile   = { workspace = true }
thiserror  = { workspace = true }
toml       = { workspace = true }
which      = { workspace = true, optional = true, features = ["real-sys"] }

git2 = { workspace = true, optional = true }
mlua = { workspace = true, optional = true, features = ["lua54", "serialize"] }

[dev-dependencies]
clippier_test_utilities = { workspace = true, features = ["git-diff"] }
insta                   = { workspace = true, features = ["json", "redactions", "yaml"] }
test-log                = { workspace = true }

[features]
default = ["check", "format", "git-diff", "transforms-vendored"]

fail-on-warnings = [
    "moosicbox_logging/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
    "switchy_random/fail-on-warnings",
]

_tools              = ["dep:rayon", "dep:which"]
_transforms         = []
check               = ["_tools"]
format              = ["_tools"]
git-diff            = ["dep:git2"]
test-utils          = []
transforms-system   = ["_transforms", "dep:mlua"]
transforms-vendored = ["_transforms", "mlua/vendored"]

# Automatically enable test-utils when running tests
[[test]]
name              = "integration_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "external_deps_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "real_world_test"
required-features = ["git-diff", "test-utils"]

[[test]]
name              = "feature_validator_integration"
required-features = ["test-utils"]

[[test]]
name              = "transforms_tests"
required-features = ["_transforms"]
