body {
    font-family:
        Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #080a0b;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background: #080a0b;
    }
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root.dark {
    background-color: #080a0b;
    color: white;
}

.navigation-bar-container {
    background: #080a0b;
    z-index: 17;
    width: max(280px, min(280px, 15vw));
}

.navigation-bar-container,
.navigation-bar {
    width: max(280px, min(280px, 15vw));
    height: 100vh;
    position: relative;
}

.navigation-bar-container.toggled {
    width: 60px;
}

.navigation-bar-container.toggled .navigation-bar {
    transform: translateX(calc(-100% + 60px));
}

.navigation-bar {
    background: #080a0b;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-bar-header {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.navigation-bar-header h1 {
    margin: 0;
}

.navigation-bar-header-action-links > *,
.navigation-bar-header > * {
    margin-right: 5px;
}

.navigation-bar-header-action-links {
    margin-left: auto;
    margin-right: 0;
}

.settings-link {
    margin-left: auto;
}

.settings-link,
.settings-link:hover {
    text-decoration: none;
}

.settings-gear-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.my-collection-header {
    margin-top: 45px;
}

.navigation-bar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 15px;
}

.navigation-bar-and-main-content {
    display: flex;
    flex-grow: 1;
    height: 100px;
}

.toggle-expand-button {
    margin-right: 0;
    margin-left: auto;

    /* Remove default button styles */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.collapse-navigation-bar,
.expand-navigation-bar {
    cursor: pointer;
    width: 22px;
    vertical-align: middle;
}

.navigation-bar-container.default .expand-navigation-bar {
    display: none;
}

.navigation-bar-container.toggled .settings-link {
    display: none;
}

.navigation-bar-container.toggled .collapse-navigation-bar {
    display: none;
}

.main-content {
    position: relative;
    padding-bottom: 20px;
    flex-grow: 1;
    overflow: auto;
    background-color: #181a1b;
}

@media (max-width: 600px) {
    .navigation-bar-container.toggled .navigation-bar {
        /*transform: translateX(calc(-100% + 60px));*/
    }

    .navigation-bar-container {
        width: 60px;
        height: 100vh;
        position: relative;
    }
}

.footer-player-footer {
    position: relative;
    z-index: 18;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #335d92;
}

.footer-player-container {
    display: flex;
    align-items: end;
    text-align: center;
    width: 100%;
    background: #080a0b;
}

.footer-player-container-gradient {
    background: linear-gradient(
        to top,
        rgba(8, 10, 11, 100) 0%,
        rgba(8, 10, 11, 0) 100%
    );
}

.footer-player {
    width: 100%;
    padding-bottom: 10px;
}

.dark .footer-player {
    /*background-color: #080a0b;*/
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #282a2b;
}

*::-webkit-scrollbar-thumb {
    background-color: #181a1b;
    border-radius: 20px;
    border: 3px solid #181a1b;
}

.audio-zones-modal-container {
    width: 100%;
    height: 70vh;
    max-height: calc(100vh - 230px);
}

.audio-zones-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding-bottom: 10px;
}

.audio-zones-modal-header-new-button {
    height: 25px;
    margin-left: 10px;
}

.audio-zones-modal-content {
    overflow: auto;
    overscroll-behavior: contain;
    height: calc(100% - 120px);
}

.audio-zones-modal-close {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
}

.audio-zones-modal-close .cross-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34px;
}

.playback-sessions-modal-container {
    width: 100%;
    height: 70vh;
    max-height: calc(100vh - 230px);
}

.playback-sessions-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding-bottom: 10px;
}

.playback-sessions-modal-header-new-button {
    height: 25px;
    margin-left: 10px;
}

.playback-sessions-modal-content {
    overflow: auto;
    overscroll-behavior: contain;
    height: calc(100% - 120px);
}

.playback-sessions-modal-close {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
}

.playback-sessions-modal-close .cross-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34px;
}

.playback-quality-modal-close {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
}

.playback-quality-modal-close .cross-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34px;
}

.search-header-offset {
    height: 60px;
}

.mobile-toggle-expand-button {
    display: none;
}

.mobile-expand-navigation-bar {
    cursor: pointer;
    width: 22px;
}

.navigation-bar-header-home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigation-bar-header-home-link-logo-icon {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

@media (max-width: 600px) {
    .navigation-bar-container.toggled .settings-link {
        display: inline;
    }

    .main-content.toggled .main-content-back-to-top {
        left: calc((100% - max(280px, min(280px, 15vw))) / 2);
    }

    .navigation-bar-container.default .mobile-toggle-expand-button {
        position: fixed;
        right: 0;
        padding: 9px;
        margin: 20px 30px;
        background-color: white;
        top: 55px;
        z-index: 18;
        display: flex;
        border-radius: 100px;
    }

    .mobile-toggle-expand-button img {
        position: relative;
        right: 1px;
    }

    .main-content-back-to-top {
        left: calc((100% - max(280px, min(280px, 15vw))) / 2);
    }

    .main-content.default .main-content-back-to-top {
        left: calc(100% / 2);
    }

    .main-content.toggled .search-container {
        z-index: 16;
    }

    .navigation-bar-container.default,
    .navigation-bar-container.toggled,
    .navigation-bar-container {
        width: 0;
    }

    .navigation-bar-container.default .navigation-bar {
        background: none;
        transform: unset;
    }

    .navigation-bar-container.toggled .navigation-bar {
        transform: translateX(-100%);
    }

    .navigation-bar-and-main-content {
        flex-direction: row-reverse;
    }
}

.remove-button-styles {
    /* Remove default button styles */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.moosicbox-button {
    padding: 10px;
    background-color: #446b9e1a;
    border-radius: 3px;
    border: 2px solid rgba(68, 107, 158, 0);
    outline: none;
    cursor: pointer;
}

.more-options {
    width: 17px;
}

.moosicbox-select {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    left: 100%;
    top: calc(100% + 10px);
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding: 15px;
    background: #080a0b;
    z-index: 1;
}

.moosicbox-select-option {
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.moosicbox-select-option:not(:last-child) {
    border-bottom: 1px solid #282a2b;
}

.moosicbox-select-option:hover {
    background: #888a8b;
}
