[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox audio zone models package"
edition     = { workspace = true }
keywords    = ["audio", "group", "grouping", "models", "playback"]
license     = { workspace = true }
name        = "moosicbox_audio_zone_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[dependencies]
moosicbox_assert     = { workspace = true }
moosicbox_json_utils = { workspace = true, features = ["database"] }
switchy_database     = { workspace = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

log   = { workspace = true }
serde = { workspace = true }

[features]
default = ["api", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

api     = ["switchy_database/api"]
openapi = ["dep:utoipa"]

[dev-dependencies]
serde_json = { workspace = true }
