[package]
authors     = { workspace = true }
categories  = ["gui", "web-programming"]
description = "HyperChad transformer models package"
edition     = { workspace = true }
keywords    = ["gui", "models", "web"]
license     = { workspace = true }
name        = "hyperchad_transformer_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
moosicbox_arb = { workspace = true, optional = true, features = [
    "serde",
    "xml",
] }
moosicbox_assert = { workspace = true }

log        = { workspace = true }
quickcheck = { workspace = true, optional = true }
serde      = { workspace = true, optional = true }
thiserror  = { workspace = true }

[dev-dependencies]
moosicbox_arb = { workspace = true, features = ["serde", "xml"] }

[features]
default = ["arb", "layout", "serde"]

fail-on-warnings = [
    "moosicbox_arb?/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
]

arb    = ["dep:moosicbox_arb", "dep:quickcheck"]
layout = []

serde = ["dep:serde", "moosicbox_arb?/serde"]
