[package]
authors     = { workspace = true }
categories  = ["gui", "web-programming"]
description = "HyperChad transformer models package"
edition     = { workspace = true }
keywords    = ["gui", "models", "web"]
license     = { workspace = true }
name        = "hyperchad_transformer_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[package.metadata.workspaces]
group = "hyperchad"

[package.metadata.cargo-machete]
ignored = ["proptest"]

[dependencies]
moosicbox_assert = { workspace = true }

log           = { workspace = true }
proptest      = { workspace = true, optional = true }
serde         = { workspace = true, optional = true }
test-strategy = { workspace = true, optional = true }
thiserror     = { workspace = true }

[features]
default = ["arb", "layout", "serde"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

arb    = ["dep:proptest", "dep:test-strategy"]
layout = []

serde = ["dep:serde"]
