[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox Library Music API package"
edition     = { workspace = true }
keywords    = ["audio", "library"]
license     = { workspace = true }
name        = "moosicbox_library_music_api"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_audio_output = { workspace = true, optional = true }
moosicbox_files        = { workspace = true }
moosicbox_library      = { workspace = true }
moosicbox_menu_models  = { workspace = true }
moosicbox_music_api    = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_paging       = { workspace = true }
moosicbox_profiles     = { workspace = true }
moosicbox_scan         = { workspace = true, features = ["local"] }
moosicbox_stream_utils = { workspace = true, optional = true }
switchy_async          = { workspace = true, features = ["sync"] }
switchy_database       = { workspace = true }

actix-web   = { workspace = true, optional = true }
async-trait = { workspace = true }
futures     = { workspace = true }
log         = { workspace = true }
regex       = { workspace = true }

[features]
default = ["all-encoders", "api"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_output?/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_library/fail-on-warnings",
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "moosicbox_scan/fail-on-warnings",
    "moosicbox_stream_utils?/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "moosicbox_audio_output?/api",
    "moosicbox_files/api",
    "moosicbox_library/api",
    "moosicbox_menu_models/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_profiles/api",
    "moosicbox_scan/api",
    "switchy_database/api",
]

all-encoders = [
    "all-os-encoders",
    "encoder-mp3",
    "moosicbox_files/all-encoders",
    "moosicbox_library/all-encoders",
]
all-os-encoders = [
    "encoder-aac",
    "encoder-flac",
    "encoder-opus",
    "moosicbox_files/all-os-encoders",
    "moosicbox_library/all-os-encoders",
]

encoder-aac = [
    "dep:moosicbox_audio_output",
    "dep:moosicbox_stream_utils",
    "format-aac",
    "moosicbox_audio_output/aac",
    "moosicbox_files/encoder-aac",
    "moosicbox_library/encoder-aac",
]
encoder-flac = [
    "dep:moosicbox_audio_output",
    "dep:moosicbox_stream_utils",
    "format-flac",
    "moosicbox_audio_output/flac",
    "moosicbox_files/encoder-flac",
    "moosicbox_library/encoder-flac",
]
encoder-mp3 = [
    "dep:moosicbox_audio_output",
    "dep:moosicbox_stream_utils",
    "format-mp3",
    "moosicbox_audio_output/mp3",
    "moosicbox_files/encoder-mp3",
    "moosicbox_library/encoder-mp3",
]
encoder-opus = [
    "dep:moosicbox_audio_output",
    "dep:moosicbox_stream_utils",
    "format-opus",
    "moosicbox_audio_output/opus",
    "moosicbox_files/encoder-opus",
    "moosicbox_library/encoder-opus",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_files/all-formats",
    "moosicbox_library/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_scan/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_files/all-os-formats",
    "moosicbox_library/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_scan/all-os-formats",
]

format-aac = [
    "moosicbox_files/format-aac",
    "moosicbox_library/format-aac",
    "moosicbox_music_models/aac",
]
format-flac = [
    "moosicbox_files/format-flac",
    "moosicbox_library/format-flac",
    "moosicbox_music_models/flac",
]
format-mp3 = [
    "moosicbox_files/format-mp3",
    "moosicbox_library/format-mp3",
    "moosicbox_music_models/mp3",
]
format-opus = [
    "moosicbox_files/format-opus",
    "moosicbox_library/format-opus",
    "moosicbox_music_models/opus",
]
