[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "MoosicBoxApp bundled package"
edition     = { workspace = true }
keywords    = ["bundled"]
license     = { workspace = true }
name        = "moosicbox_app_native_bundled"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.cargo-machete]
ignored = ["moosicbox_app_models", "strum", "thiserror"]

[dependencies]
moosicbox_app_models    = { workspace = true, optional = true }
moosicbox_assert        = { workspace = true }
moosicbox_async_service = { workspace = true }
moosicbox_config        = { workspace = true }
moosicbox_server        = { workspace = true, features = ["app-apis", "sqlite-sqlx"] }


log           = { workspace = true }
strum         = { workspace = true }
strum_macros  = { workspace = true }
switchy_async = { workspace = true, features = ["sync", "tokio"] }
tauri         = { workspace = true }
thiserror     = { workspace = true }

[features]
default = ["all-decoders", "all-sources"]

fail-on-warnings = [
    "moosicbox_app_models?/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_async_service/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_server/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]

tunnel = ["moosicbox_server/tunnel"]

all-formats = ["all-os-formats", "format-mp3", "moosicbox_server/all-formats"]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_server/all-os-formats",
]

format-aac  = ["moosicbox_server/format-aac"]
format-flac = ["moosicbox_server/format-flac"]
format-mp3  = ["moosicbox_server/format-mp3"]
format-opus = ["moosicbox_server/format-opus"]

all-decoders = [
    "all-os-decoders",
    "decoder-mp3",
    "moosicbox_server/all-decoders",
]
all-os-decoders = [
    "decoder-aac",
    "decoder-flac",
    "decoder-opus",
    "moosicbox_server/all-os-decoders",
]

decoder-aac  = ["moosicbox_server/decoder-aac"]
decoder-flac = ["moosicbox_server/decoder-flac"]
decoder-mp3  = ["moosicbox_server/decoder-mp3"]
decoder-opus = ["moosicbox_server/decoder-opus"]

all-sources = ["moosicbox_server/all-sources", "qobuz", "tidal", "yt"]

qobuz = [
    "format-flac",
    "moosicbox_app_models/auth-username-password",
    "moosicbox_server/qobuz",
]
tidal = [
    "format-flac",
    "moosicbox_app_models/auth-poll",
    "moosicbox_server/tidal",
]
yt = ["format-flac", "moosicbox_server/yt"]

[dev-dependencies]
switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }
test-log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"] }
