[[config]]
os = "ubuntu"

[[config.dependencies]]
command = '''
    sudo apt-get update && sudo apt-get install \
      curl \
      wget \
      file \
      libssl-dev \
      libayatana-appindicator3-dev \
      librsvg2-dev \
      libasound2-dev \
      libwebkit2gtk-4.1-dev \
      build-essential \
      libx11-dev \
      libxext-dev \
      libxft-dev \
      libxinerama-dev \
      libxcursor-dev \
      libxrender-dev \
      libxfixes-dev \
      libpango1.0-dev \
      libgl1-mesa-dev \
      libglu1-mesa-dev \
      libgtk-3-dev \
      libsoup-3.0-dev
'''
