[package]
authors     = { workspace = true }
description = "Simulated async runtime usage example"
edition     = { workspace = true }
license     = { workspace = true }
name        = "async_simulated"
publish     = false
repository  = { workspace = true }
version     = "0.1.0"

[dependencies]
switchy_async  = { workspace = true, features = ["time", "tokio"] }
switchy_random = { workspace = true, features = ["simulator"] }
switchy_time   = { workspace = true, features = ["simulator"] }

pretty_env_logger = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "switchy_async/fail-on-warnings",
    "switchy_random/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

simulator = [
    "switchy_async/simulator",
    "switchy_random/simulator",
    "switchy_time/simulator",
]
