[package]
authors     = { workspace = true }
categories  = ["development-tools", "network-programming"]
description = "MoosicBox Web Server package"
edition     = { workspace = true }
keywords    = ["async", "http", "network", "web"]
license     = { workspace = true }
name        = "moosicbox_web_server"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_assert          = { workspace = true }
moosicbox_web_server_core = { workspace = true }
moosicbox_web_server_cors = { workspace = true, optional = true }
switchy_http_models       = { workspace = true }

actix-cors    = { workspace = true, optional = true }
actix-htmx    = { workspace = true, optional = true }
actix-http    = { workspace = true, optional = true }
actix-service = { workspace = true, optional = true }
actix-test    = { workspace = true, optional = true }
actix-web     = { workspace = true, optional = true }

switchy = { workspace = true, optional = true }

base64            = { workspace = true }
bytes             = { workspace = true }
const_format      = { workspace = true, optional = true }
futures           = { workspace = true }
log               = { workspace = true }
paste             = { workspace = true }
serde             = { workspace = true }
serde-querystring = { workspace = true }
serde_json        = { workspace = true, optional = true }
thiserror         = { workspace = true }
urlencoding       = { workspace = true }
utoipa            = { workspace = true, optional = true }
utoipa-rapidoc    = { workspace = true, optional = true }
utoipa-redoc      = { workspace = true, optional = true }
utoipa-scalar     = { workspace = true, optional = true }
utoipa-swagger-ui = { workspace = true, optional = true }

[dev-dependencies]
switchy_time = { workspace = true, features = ["std"] }
test-log     = { workspace = true }

[features]
default = ["actix", "compress", "cors", "htmx", "openapi-all", "serde", "tls"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_web_server_core/fail-on-warnings",
    "moosicbox_web_server_cors?/fail-on-warnings",
    "switchy?/fail-on-warnings",
    "switchy_http_models/fail-on-warnings",
]

actix = [
    "dep:actix-http",
    "dep:actix-service",
    "dep:actix-test",
    "dep:actix-web",
    "switchy_http_models/actix",
]

serde = ["dep:serde_json", "switchy_http_models/serde"]

compress = []
cors     = ["dep:actix-cors", "dep:moosicbox_web_server_cors"]
htmx     = ["dep:actix-htmx"]
tls      = ["actix-web?/openssl"]

openapi = ["dep:utoipa"]
openapi-all = [
    "openapi-rapidoc",
    "openapi-redoc",
    "openapi-scalar",
    "openapi-swagger-ui",
]
openapi-rapidoc = ["dep:const_format", "dep:utoipa-rapidoc", "openapi"]
openapi-redoc = ["dep:utoipa-redoc", "openapi"]
openapi-scalar = ["dep:utoipa-scalar", "openapi"]
openapi-swagger-ui = ["dep:const_format", "dep:utoipa-swagger-ui", "openapi"]

simulator = ["dep:switchy", "switchy?/fs-tokio", "switchy?/simulator"]
