[package]
authors     = { workspace = true }
categories  = ["multimedia", "network-programming"]
description = "MoosicBox scan package"
edition     = { workspace = true }
keywords    = ["audio", "files", "local", "remote", "scan"]
license     = { workspace = true }
name        = "moosicbox_scan"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["strum", "switchy_database_connection"]

[dependencies]
moosicbox_assert       = { workspace = true }
moosicbox_config       = { workspace = true }
moosicbox_date_utils   = { workspace = true, features = ["chrono"] }
moosicbox_files        = { workspace = true }
moosicbox_json_utils   = { workspace = true, features = ["serde_json"] }
moosicbox_library      = { workspace = true }
moosicbox_music_api    = { workspace = true }
moosicbox_music_models = { workspace = true }
moosicbox_paging       = { workspace = true }
moosicbox_scan_models  = { workspace = true }
moosicbox_search       = { workspace = true }

switchy_async    = { workspace = true, features = ["tokio"] }
switchy_database = { workspace = true }
switchy_http     = { workspace = true, features = ["reqwest"] }
switchy_time     = { workspace = true, features = ["std"] }

# API Dependencies
actix-web      = { workspace = true, optional = true }
moosicbox_auth = { workspace = true, optional = true }
utoipa         = { workspace = true, optional = true }

# Local Dependencies
async-recursion     = { workspace = true, optional = true }
moosicbox_audiotags = { workspace = true, optional = true }
moosicbox_lofty     = { workspace = true, optional = true }
mp3-duration        = { workspace = true, optional = true }

futures      = { workspace = true }
log          = { workspace = true }
regex        = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true }
strum_macros = { workspace = true }
thiserror    = { workspace = true }
tokio        = { workspace = true, features = ["macros", "tracing"] }

[dev-dependencies]
moosicbox_schema = { workspace = true, features = ["sqlite"] }
paste = { workspace = true }
pretty_assertions = { workspace = true }
switchy = { workspace = true, features = ["database-connection-sqlite-sqlx"] }
switchy_database_connection = { workspace = true, features = [
    "sqlite-rusqlite",
    "sqlite-sqlx",
] }
switchy_schema_test_utils = { workspace = true, features = ["sqlite"] }
test-log = { workspace = true }

[features]
default = ["all-formats", "api", "local", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_auth?/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_files/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_library/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_scan_models/fail-on-warnings",
    "moosicbox_search/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_database/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

api = [
    "dep:actix-web",
    "dep:moosicbox_auth",
    "moosicbox_auth?/api",
    "moosicbox_config/api",
    "moosicbox_files/api",
    "moosicbox_library/api",
    "moosicbox_music_api/api",
    "moosicbox_music_models/api",
    "moosicbox_scan_models/api",
    "moosicbox_search/api",
    "switchy_database/api",
]
local = [
    "dep:async-recursion",
    "dep:moosicbox_audiotags",
    "dep:moosicbox_lofty",
    "dep:mp3-duration",
]
openapi = [
    "dep:utoipa",
    "moosicbox_auth?/openapi",
    "moosicbox_config/openapi",
    "moosicbox_files/openapi",
    "moosicbox_library/openapi",
    "moosicbox_music_api/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
    "moosicbox_scan_models/openapi",
    "moosicbox_search/openapi",
]

all-formats = [
    "all-os-formats",
    "moosicbox_files/all-formats",
    "moosicbox_library/all-formats",
    "moosicbox_music_models/all-formats",
    "mp3",
]
all-os-formats = [
    "aac",
    "flac",
    "moosicbox_files/all-os-formats",
    "moosicbox_library/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "opus",
]

aac  = ["moosicbox_library/format-aac", "moosicbox_music_models/aac"]
flac = ["moosicbox_library/format-flac", "moosicbox_music_models/flac"]
mp3  = ["moosicbox_library/format-mp3", "moosicbox_music_models/mp3"]
opus = ["moosicbox_library/format-opus", "moosicbox_music_models/opus"]
