[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "Switchy RNG package"
edition     = { workspace = true }
keywords    = ["generator", "number", "random"]
license     = { workspace = true }
name        = "switchy_random"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
log  = { workspace = true }
rand = { version = "=0.8.5", features = ["small_rng"] }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["rand", "simulator"]

fail-on-warnings = []

rand      = []
simulator = []
