[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox Music models package"
edition     = { workspace = true }
keywords    = ["audio", "models", "music"]
license     = { workspace = true }
name        = "moosicbox_music_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[package.metadata.cargo-machete]
ignored = ["strum_macros"]

[dependencies]
moosicbox_assert        = { workspace = true }
moosicbox_date_utils    = { workspace = true, features = ["chrono"] }
moosicbox_json_utils    = { workspace = true, features = ["serde_json"] }
moosicbox_parsing_utils = { workspace = true }
switchy_database        = { workspace = true, optional = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

# tantivy dependencies
tantivy = { workspace = true, optional = true }

log          = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
strum        = { workspace = true, features = ["derive"] }
strum_macros = { workspace = true }
thiserror    = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["all-formats", "api", "db", "openapi", "tantivy"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_date_utils/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_parsing_utils/fail-on-warnings",
    "switchy_database?/fail-on-warnings",
]

api     = ["switchy_database?/api"]
openapi = ["dep:utoipa"]

db = ["dep:switchy_database", "moosicbox_json_utils/database"]

tantivy = ["dep:tantivy", "moosicbox_json_utils/tantivy"]

all-formats    = ["all-os-formats", "mp3"]
all-os-formats = ["aac", "flac", "opus"]

aac  = []
flac = []
mp3  = []
opus = []
