[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox Session models package"
edition     = { workspace = true }
keywords    = ["models", "session", "state"]
license     = { workspace = true }
name        = "moosicbox_session_models"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false
tests    = false

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_audio_zone_models = { workspace = true }
moosicbox_json_utils        = { workspace = true }
moosicbox_music_models      = { workspace = true, features = ["api"] }
switchy_database            = { workspace = true }

# API Dependencies
utoipa = { workspace = true, optional = true }

log          = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
strum        = { workspace = true }
strum_macros = { workspace = true }

[features]
default = ["api", "openapi"]

fail-on-warnings = [
    "moosicbox_audio_zone_models/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "switchy_database/fail-on-warnings",
]

api = [
    "moosicbox_audio_zone_models/api",
    "moosicbox_music_models/api",
    "switchy_database/api",
]
openapi = [
    "dep:utoipa",
    "moosicbox_audio_zone_models/openapi",
    "moosicbox_music_models/openapi",
]

aac  = ["moosicbox_music_models/aac"]
flac = ["moosicbox_music_models/flac"]
mp3  = ["moosicbox_music_models/mp3"]
opus = ["moosicbox_music_models/opus"]
