[package]
authors     = { workspace = true }
description = "Moosicbox HTTP Simple GET example"
edition     = { workspace = true }
license     = { workspace = true }
name        = "http_simple_get"
publish     = false
repository  = { workspace = true }
version     = "0.1.0"

[package.metadata]
tests = false

[dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
switchy_http  = { workspace = true, features = ["reqwest"] }

log               = { workspace = true }
pretty_env_logger = { workspace = true }
thiserror         = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "switchy_async/fail-on-warnings",
    "switchy_http/fail-on-warnings",
]
