[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "Switchy UPnP package"
edition     = { workspace = true }
keywords    = ["dlna", "network", "upnp"]
license     = { workspace = true }
name        = "switchy_upnp"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[package.metadata.cargo-machete]
ignored = ["tokio"]

[dependencies]
moosicbox_assert = { workspace = true }

switchy_async = { workspace = true, features = [
    "macros",
    "sync",
    "time",
    "tokio",
] }

# API Dependencies
actix-web = { workspace = true, optional = true }
utoipa    = { workspace = true, optional = true }

async-recursion = { workspace = true }
async-trait     = { workspace = true }
futures         = { workspace = true }
itertools       = { workspace = true }
log             = { workspace = true }
pin-utils       = { workspace = true }
regex           = { workspace = true }
roxmltree       = { workspace = true }
rupnp           = { workspace = true }
serde           = { workspace = true }
thiserror       = { workspace = true }
tokio           = { workspace = true, features = ["macros", "tracing"] }
xml             = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "net", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true }

[features]
default = ["api", "openapi", "simulator"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]

api     = ["dep:actix-web"]
openapi = ["dep:utoipa"]

simulator = ["switchy_async/simulator"]
