[package]
authors     = ["Braden Steffaniak"]
categories  = ["database"]
description = "MoosicBox profiles package"
edition     = "2021"
keywords    = ["database", "profiles"]
license     = "MPL-2.0"
name        = "moosicbox_profiles"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
moosicbox_assert = { version = "0.1.0", path = "../assert", default-features = false }

tokio = { workspace = true, features = ["sync"] }

[features]
default = ["events"]

fail-on-warnings = []

events = []
