[package]
authors     = { workspace = true }
categories  = ["database"]
description = "MoosicBox profiles package"
edition     = { workspace = true }
keywords    = ["database", "profiles"]
license     = { workspace = true }
name        = "moosicbox_profiles"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert = { workspace = true }

actix-web = { workspace = true, optional = true }
futures   = { workspace = true, optional = true }
qstring   = { workspace = true, optional = true }
tokio     = { workspace = true, features = ["sync"] }

[dev-dependencies]
serial_test   = { workspace = true }
switchy_async = { workspace = true, features = ["macros", "sync", "time"] }
test-log      = { workspace = true }

[features]
default = ["api", "events"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

events = []

api = ["dep:actix-web", "dep:futures", "dep:qstring"]
