[package]
authors     = { workspace = true }
categories  = ["development-tools::testing", "simulation"]
description = "MoosicBox Server Simulator package"
edition     = { workspace = true }
keywords    = ["deterministic", "harness", "simulator", "test"]
license     = { workspace = true }
name        = "moosicbox_server_simulator"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert    = { workspace = true }
moosicbox_config    = { workspace = true }
moosicbox_env_utils = { workspace = true }
moosicbox_logging   = { workspace = true }
moosicbox_server    = { workspace = true, features = ["simulator"] }
switchy_async       = { workspace = true, features = ["tokio"] }
switchy_env         = { workspace = true, features = ["std"] }

openport = { workspace = true }
simvar = { workspace = true, features = [
    "async",
    "database",
    "fs",
    "http",
    "mdns",
    "random",
    "tcp",
    "telemetry",
    "time",
    "tui",
    "upnp",
] }
switchy_telemetry = { workspace = true }

actix-web  = { workspace = true }
log        = { workspace = true }
net2       = { workspace = true }
serde_json = { workspace = true }
strum      = { workspace = true, features = ["derive"] }
tokio      = { workspace = true }

[features]
default = ["player", "sqlite", "telemetry", "upnp"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_server/fail-on-warnings",
    "openport/fail-on-warnings",
    "simvar/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_telemetry/fail-on-warnings",
]

player    = ["moosicbox_server/player"]
telemetry = ["moosicbox_server/telemetry", "simvar/telemetry"]
upnp      = ["moosicbox_server/upnp", "player", "simvar/upnp"]

sqlite = ["moosicbox_server/sqlite"]
