[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox logging package"
edition     = { workspace = true }
keywords    = ["log", "logger", "logging"]
license     = { workspace = true }
name        = "moosicbox_logging"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_config    = { workspace = true, optional = true }
moosicbox_env_utils = { workspace = true, optional = true }

free_log_client = { workspace = true }
log             = { workspace = true }
thiserror       = { workspace = true }

[features]
default = ["api", "free_log", "macros"]

fail-on-warnings = [
    "moosicbox_config?/fail-on-warnings",
    "moosicbox_env_utils?/fail-on-warnings",
]


api = ["free_log_client/api", "moosicbox_config?/api"]

free_log = ["dep:moosicbox_config", "dep:moosicbox_env_utils"]

macros = []
