[package]
authors     = { workspace = true }
categories  = ["config"]
description = "MoosicBox configuration package"
edition     = { workspace = true }
keywords    = ["config", "configuration"]
license     = { workspace = true }
name        = "moosicbox_config"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert = { workspace = true }
moosicbox_profiles = { workspace = true, optional = true, features = [
    "events",
] }

# DB dependencies
moosicbox_json_utils = { workspace = true, optional = true, features = [
    "database",
] }
nanoid = { workspace = true, optional = true }
switchy_database = { workspace = true, optional = true }

# API dependencies
actix-web = { workspace = true, optional = true }
utoipa    = { workspace = true, optional = true }

# Serialization (used by both file and API modules)
serde      = { workspace = true }
serde_with = { workspace = true, features = ["macros"] }

home       = { workspace = true }
json5      = { workspace = true }
log        = { workspace = true }
switchy_fs = { workspace = true, features = ["std", "sync"] }
thiserror  = { workspace = true }

[dev-dependencies]

[features]
default = ["api", "db", "file", "openapi"]

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_json_utils?/fail-on-warnings",
    "moosicbox_profiles?/fail-on-warnings",
    "switchy_database?/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
]

db = [
    "dep:moosicbox_json_utils",
    "dep:moosicbox_profiles",
    "dep:nanoid",
    "dep:switchy_database",
]

file = []

api = [
    "db",
    "dep:actix-web",
    "moosicbox_profiles?/api",
    "switchy_database?/api",
]
openapi = ["dep:utoipa"]
