[package]
authors     = { workspace = true }
categories  = ["network-programming"]
description = "MoosicBoxApp ws package"
edition     = { workspace = true }
keywords    = ["websocket"]
license     = { workspace = true }
name        = "moosicbox_app_ws"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert    = { workspace = true }
moosicbox_env_utils = { workspace = true }
moosicbox_logging   = { workspace = true, features = ["macros"] }

switchy_async = { workspace = true, features = ["tokio", "util"] }

async-trait       = { workspace = true }
bytes             = { workspace = true }
futures-channel   = { workspace = true }
futures-util      = { workspace = true }
log               = { workspace = true }
thiserror         = { workspace = true }
tokio             = { workspace = true, features = ["macros", "time", "tracing"] }
tokio-tungstenite = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]
