[package]
authors     = { workspace = true }
categories  = ["development-tools", "multimedia", "network-programming"]
description = "MoosicBox music API package"
edition     = { workspace = true }
keywords    = ["album", "api", "artist", "music", "playlist"]
license     = { workspace = true }
name        = "moosicbox_music_api"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_menu_models      = { workspace = true }
moosicbox_music_api_models = { workspace = true, features = ["api-search"] }
moosicbox_music_models     = { workspace = true }
moosicbox_paging           = { workspace = true }
moosicbox_profiles         = { workspace = true }
switchy_async              = { workspace = true, features = ["sync"] }

# API Dependencies
actix-web = { workspace = true, optional = true }

async-trait = { workspace = true }
futures     = { workspace = true }
log         = { workspace = true }
thiserror   = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
switchy_async     = { workspace = true, features = ["macros"] }
test-log          = { workspace = true }

[features]
default = ["all-auth", "api", "openapi"]

fail-on-warnings = [
    "moosicbox_menu_models/fail-on-warnings",
    "moosicbox_music_api_models/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_profiles/fail-on-warnings",
    "switchy_async/fail-on-warnings",
]

openapi = [
    "moosicbox_menu_models/openapi",
    "moosicbox_music_api_models/openapi",
    "moosicbox_music_models/openapi",
    "moosicbox_paging/openapi",
]

api = [
    "dep:actix-web",
    "moosicbox_menu_models/api",
    "moosicbox_music_api_models/api",
    "moosicbox_music_models/api",
    "moosicbox_profiles/api",
]

_auth = []
all-auth = ["auth-poll", "auth-username-password"]
auth-poll = [
    "_auth",
    "switchy_async/macros",
    "switchy_async/time",
    "switchy_async/tokio",
]
auth-username-password = ["_auth"]

models-api-search = ["moosicbox_music_api_models/api-search"]
models-search     = ["moosicbox_music_api_models/search"]
