[package]
authors     = ["Braden Steffaniak"]
categories  = ["development-tools", "multimedia", "network-programming"]
description = "MoosicBox music API package"
edition     = "2021"
keywords    = ["album", "api", "artist", "music", "playlist"]
license     = "MPL-2.0"
name        = "moosicbox_music_api"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[package.metadata.cargo-machete]
ignored = ["strum"]

[dependencies]
moosicbox_database         = { version = "0.1.0", path = "../database", default-features = false }
moosicbox_menu_models      = { version = "0.1.0", path = "../menu/models", default-features = false }
moosicbox_music_api_models = { version = "0.1.0", path = "models", default-features = false }
moosicbox_music_models     = { version = "0.1.0", path = "../music/models", default-features = false }
moosicbox_paging           = { version = "0.1.0", path = "../paging", default-features = false }

# API Dependencies
actix-web = { workspace = true, optional = true }

async-trait = { workspace = true }
futures     = { workspace = true }
log         = { workspace = true }
thiserror   = { workspace = true }
tokio       = { workspace = true, features = ["macros"] }

[dev-dependencies]
pretty_assertions = { workspace = true }
test-log          = { workspace = true }
tokio             = { workspace = true, features = ["macros", "rt"] }

[features]
default = ["api", "db", "openapi"]

fail-on-warnings = []

openapi = ["moosicbox_music_api_models/openapi"]

db = ["moosicbox_database/api"]

api = ["dep:actix-web", "moosicbox_database/api"]
