[package]
authors     = ["Braden Steffaniak"]
categories  = ["gui"]
description = "HyperChad HTML Actix renderer package"
edition     = "2021"
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = "MPL-2.0"
name        = "hyperchad_renderer_html_actix"
readme      = "README.md"
repository  = "https://github.com/MoosicBox/MoosicBox"
version     = "0.1.0"

[dependencies]
hyperchad_renderer = { version = "0.1.0", path = "../../", default-features = false, features = [
    "canvas",
] }
moosicbox_assert = { version = "0.1.0", path = "../../../../assert", default-features = false }
moosicbox_env_utils = { version = "0.1.0", path = "../../../../env_utils", default-features = false }
moosicbox_middleware = { version = "0.1.0", path = "../../../../middleware", default-features = false }
moosicbox_task = { version = "0.1.0", path = "../../../../task", default-features = false }

actix-cors   = { workspace = true }
actix-files  = { workspace = true, optional = true }
actix-web    = { workspace = true }
async-trait  = { workspace = true }
bytes        = { workspace = true }
flate2       = { workspace = true }
flume        = { workspace = true }
futures-util = { workspace = true }
log          = { workspace = true }
serde_json   = { workspace = true, optional = true }
tokio        = { workspace = true }

[features]
default = ["actions", "assets", "debug", "sse"]

fail-on-warnings = []

debug = []

assets = ["dep:actix-files", "hyperchad_renderer/assets"]

actions = ["dep:serde_json"]
sse     = ["dep:serde_json", "hyperchad_renderer/serde"]
