[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad HTML Actix renderer package"
edition     = { workspace = true }
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_html_actix"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_renderer   = { workspace = true, features = ["canvas"] }
moosicbox_assert     = { workspace = true }
moosicbox_env_utils  = { workspace = true }
moosicbox_logging    = { workspace = true }
moosicbox_middleware = { workspace = true }

actix-cors   = { workspace = true }
actix-files  = { workspace = true, optional = true }
actix-web    = { workspace = true }
async-trait  = { workspace = true }
bytes        = { workspace = true }
flate2       = { workspace = true }
flume        = { workspace = true }
futures-util = { workspace = true }
log          = { workspace = true }
serde        = { workspace = true, optional = true }
serde_json   = { workspace = true, optional = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["actions", "assets", "debug", "sse"]

fail-on-warnings = [
    "hyperchad_renderer/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_middleware/fail-on-warnings",
]

debug = []

assets = ["dep:actix-files", "hyperchad_renderer/assets"]

actions = ["dep:serde", "dep:serde_json", "hyperchad_renderer/logic"]
sse     = ["dep:serde_json", "hyperchad_renderer/serde"]
