[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "HyperChad HTML HTTP renderer package"
edition     = { workspace = true }
keywords    = ["gui", "html", "render", "renderer", "web"]
license     = { workspace = true }
name        = "hyperchad_renderer_html_http"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[dependencies]
hyperchad_color         = { workspace = true }
hyperchad_renderer      = { workspace = true, features = ["canvas"] }
hyperchad_renderer_html = { workspace = true }
hyperchad_router        = { workspace = true }
moosicbox_assert        = { workspace = true }
moosicbox_env_utils     = { workspace = true }
switchy_async           = { workspace = true, optional = true, features = ["tokio"] }
switchy_fs              = { workspace = true, optional = true, features = ["tokio"] }

flume      = { workspace = true }
http       = { workspace = true }
log        = { workspace = true }
mime_guess = { workspace = true, optional = true }
serde      = { workspace = true, optional = true }
serde_json = { workspace = true }
thiserror  = { workspace = true }

[dev-dependencies]
bytes         = { workspace = true }
switchy       = { workspace = true, features = ["http"] }
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }

[features]
default = ["actions", "assets", "debug", "json"]

fail-on-warnings = [
    "hyperchad_color/fail-on-warnings",
    "hyperchad_renderer/fail-on-warnings",
    "hyperchad_renderer_html/fail-on-warnings",
    "hyperchad_router/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "switchy_async?/fail-on-warnings",
    "switchy_fs?/fail-on-warnings",
]

debug = ["hyperchad_renderer_html/debug"]

assets = [
    "dep:mime_guess",
    "dep:switchy_async",
    "dep:switchy_fs",
    "hyperchad_renderer/assets",
    "hyperchad_renderer_html/assets",
]

_json = []

actions = [
    "_json",
    "dep:serde",
    "hyperchad_renderer/logic",
    "hyperchad_renderer_html/actions",
    "hyperchad_router/serde",
]
json = [
    "_json",
    "hyperchad_renderer/json",
    "hyperchad_renderer_html/json",
    "hyperchad_router/json",
]
