[package]
authors     = { workspace = true }
categories  = ["compression", "encoding"]
description = "Audio converter helper"
edition     = { workspace = true }
keywords    = ["audio", "convert", "converter", "encoding"]
license     = { workspace = true }
name        = "moosicbox_audio_encoder"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
# Aac dependencies
fdk-aac = { workspace = true, optional = true }

# Flac dependencies
flacenc = { workspace = true, optional = true }

# Opus dependencies
audiopus   = { workspace = true, optional = true }
ogg        = { workspace = true, optional = true }
opus       = { workspace = true, optional = true }
switchy_fs = { workspace = true, optional = true, features = ["std"] }

# Mp3 dependencies
mp3lame-encoder = { workspace = true, optional = true }

log       = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }

[features]
default = ["aac", "flac", "mp3", "opus"]

fail-on-warnings = ["switchy_fs?/fail-on-warnings"]

aac  = ["dep:fdk-aac"]
flac = ["dep:flacenc"]
mp3  = ["dep:mp3lame-encoder"]
opus = ["dep:audiopus", "dep:ogg", "dep:opus", "dep:switchy_fs"]
