---
import Layout from './Layout.astro';
import '~/styles/setup/music.css';
---

<Layout title="Hello | MoosicBox">
    <p>Where do you store your music?</p>
    <button type="button" class="remove-button-styles add-music-folder-button">
        Add Folder
    </button>
</Layout>
