[package]
authors     = { workspace = true }
categories  = ["gui"]
description = "Create config for MoosicBox App"
edition     = { workspace = true }
keywords    = ["config"]
license     = { workspace = true }
name        = "moosicbox_app_create_config"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[[bin]]
name              = "moosicbox_create_config"
path              = "src/main.rs"
required-features = []

[dependencies]
moosicbox_assert  = { workspace = true }
moosicbox_logging = { workspace = true, features = ["free_log"] }
switchy_fs        = { workspace = true, features = ["std"] }

clap       = { workspace = true }
log        = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
]
