[package]
authors     = { workspace = true }
build       = "build.rs"
categories  = ["gui"]
description = "MoosicBox Marketing Website"
edition     = { workspace = true }
keywords    = ["desktop", "gui", "html", "native", "web"]
license     = { workspace = true }
name        = "moosicbox_marketing_site"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[[bin]]
name              = "moosicbox_marketing_site"
path              = "src/main.rs"
required-features = []

[[bin]]
name              = "moosicbox_marketing_site_lambda_vanilla_js"
path              = "src/lambda_vanilla_js.rs"
required-features = ["lambda", "vanilla-js"]

[dependencies]
hyperchad = { workspace = true, features = [
    "actions",
    "actions-logic",
    "app",
    "color",
    "json",
    "renderer",
    "router",
] }
moosicbox_assert = { workspace = true }
moosicbox_env_utils = { workspace = true }
moosicbox_logging = { workspace = true, features = ["free_log"] }
moosicbox_marketing_site_ui = { workspace = true }
switchy_async = { workspace = true, features = [
    "macros",
    "net",
    "rt-multi-thread",
    "time",
    "tokio",
] }
switchy_env = { workspace = true, features = ["std"] }
switchy_http = { workspace = true, features = ["reqwest"] }

chrono             = { workspace = true }
console-subscriber = { workspace = true, optional = true }
log                = { workspace = true }
regex              = { workspace = true }
serde              = { workspace = true }
serde_json         = { workspace = true }

[dev-dependencies]
switchy_async = { workspace = true, features = ["macros", "tokio"] }
test-log      = { workspace = true }
tokio         = { workspace = true, features = ["macros", "rt", "test-util"] }

[features]
default = [
    "actix",
    "console-subscriber",
    "dev",
    "egui-wgpu",
    "fltk",
    "html",
    "lambda",
    "static-routes",
    "unsafe",
    "vanilla-js",
]

fail-on-warnings = [
    "hyperchad/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_marketing_site_ui/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
    "switchy_http/fail-on-warnings",
]

console-subscriber = ["dep:console-subscriber"]

_egui = []
egui-glow = ["_egui", "hyperchad/renderer-egui-glow"]
egui-wgpu = ["_egui", "hyperchad/renderer-egui-wgpu"]
fltk = ["hyperchad/renderer-fltk"]
html = ["hyperchad/renderer-html"]
vanilla-js = [
    "html",
    "hyperchad/renderer-vanilla-js",
    "hyperchad/renderer-vanilla-js-plugin-nav",
    "hyperchad/renderer-vanilla-js-plugin-routing",
]

actix = ["hyperchad/renderer-html-actix"]

wayland = ["hyperchad/wayland"]
x11     = ["hyperchad/x11"]

lambda = ["hyperchad/renderer-html-lambda"]

windows-console = []

debug             = ["hyperchad/debug"]
format            = ["hyperchad/format"]
profiling-puffin  = ["hyperchad/profiling-puffin"]
profiling-tracing = ["hyperchad/profiling-tracing"]
profiling-tracy   = ["hyperchad/profiling-tracy"]
unsafe            = ["hyperchad/unsafe"]

benchmark = ["hyperchad/benchmark"]

assets        = ["hyperchad/renderer-assets"]
static-routes = ["hyperchad/router-static-routes"]

dev = ["assets", "static-routes"]
