[package]
authors     = { workspace = true }
build       = "build.rs"
categories  = ["gui"]
description = "MoosicBox native App package"
edition     = { workspace = true }
keywords    = ["app", "desktop", "gui", "native"]
license     = { workspace = true }
name        = "moosicbox_app_native"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[[bin]]
name              = "moosicbox_app_native"
path              = "src/main.rs"
required-features = []

[package.metadata.bundle]
category          = "Music"
copyright         = "Copyright (c) Braden Steffaniak 2025. All rights reserved."
deb_depends       = []
icon              = ["128x128.png", "128x128@2x.png", "32x32.png"]
identifier        = "com.moosicbox.app"
name              = "MoosicBox"
resources         = []
short_description = "A music app for cows"

[package.metadata.wix]
compiler-args = ["-nologo"]
dbg-build     = false
dbg-name      = false
eula          = false
linker-args   = ["-nologo"]
name          = "MoosicBox"
no-build      = false
product-name  = "MoosicBox"

[dependencies]
hyperchad = { workspace = true, features = [
    "actions",
    "app",
    "logic",
    "renderer",
    "renderer-canvas",
    "router",
    "router-form",
    "router-serde",
    "transformer",
] }
moosicbox_app_models = { workspace = true, features = ["music-api-api"] }
moosicbox_app_native_ui = { workspace = true }
moosicbox_app_state = { workspace = true }
moosicbox_assert = { workspace = true }
moosicbox_audio_zone_models = { workspace = true }
moosicbox_config = { workspace = true }
moosicbox_downloader = { workspace = true, features = ["api"] }
moosicbox_env_utils = { workspace = true }
moosicbox_logging = { workspace = true, features = ["free_log"] }
moosicbox_music_api = { workspace = true }
moosicbox_music_api_api = { workspace = true }
moosicbox_music_api_models = { workspace = true, features = ["api-search"] }
moosicbox_music_models = { workspace = true }
moosicbox_paging = { workspace = true }
moosicbox_player = { workspace = true }
moosicbox_scan_models = { workspace = true, features = ["api"] }
moosicbox_session_models = { workspace = true }

moosicbox_ws = { workspace = true }
switchy = { workspace = true, features = [
    "async-macros",
    "async-net",
    "async-rt-multi-thread",
    "async-sync",
    "async-time",
    "async-tokio",
    "async-util",
    "fs-tokio",
    "http-json",
    "http-reqwest",
    "time-std",
] }
switchy_async = { workspace = true, features = ["tokio"] }
switchy_env = { workspace = true, features = ["std"] }

# Bundled dependencies
moosicbox_app_native_bundled = { workspace = true, optional = true }

console-subscriber = { workspace = true, optional = true }
flume              = { workspace = true }
log                = { workspace = true }
serde              = { workspace = true }
serde_json         = { workspace = true }
strum              = { workspace = true }
thiserror          = { workspace = true }

[features]
default = [
    "all-decoders",
    "all-sources",
    "console-subscriber",
    "dev",
    "egui-wgpu",
    "fltk",
    "html",
    "unsafe",
    "vanilla-js",
]

fail-on-warnings = [
    "hyperchad/fail-on-warnings",
    "moosicbox_app_models/fail-on-warnings",
    "moosicbox_app_native_bundled?/fail-on-warnings",
    "moosicbox_app_native_ui/fail-on-warnings",
    "moosicbox_app_state/fail-on-warnings",
    "moosicbox_assert/fail-on-warnings",
    "moosicbox_audio_zone_models/fail-on-warnings",
    "moosicbox_config/fail-on-warnings",
    "moosicbox_downloader/fail-on-warnings",
    "moosicbox_env_utils/fail-on-warnings",
    "moosicbox_logging/fail-on-warnings",
    "moosicbox_music_api/fail-on-warnings",
    "moosicbox_music_api_api/fail-on-warnings",
    "moosicbox_music_api_models/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "moosicbox_paging/fail-on-warnings",
    "moosicbox_player/fail-on-warnings",
    "moosicbox_scan_models/fail-on-warnings",
    "moosicbox_session_models/fail-on-warnings",
    "moosicbox_ws/fail-on-warnings",
    "switchy/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_env/fail-on-warnings",
]

console-subscriber = ["dep:console-subscriber"]

_calculated_canvas = ["_canvas"]
_canvas = []
_sse = [
    "hyperchad/renderer-html-sse",
    "hyperchad/renderer-vanilla-js-plugin-sse",
]

egui = ["_calculated_canvas", "hyperchad/renderer-egui"]
egui-glow = ["egui", "hyperchad/renderer-egui-glow"]
egui-v1 = ["egui", "hyperchad/renderer-egui-v1"]
egui-v2 = ["egui", "hyperchad/renderer-egui-v2"]
egui-wgpu = ["egui", "hyperchad/renderer-egui-wgpu"]
fltk = ["_calculated_canvas", "hyperchad/renderer-fltk"]
html = ["_canvas", "hyperchad/renderer-html"]
vanilla-js = [
    "_canvas",
    "html",
    "hyperchad/renderer-vanilla-js",
    "hyperchad/renderer-vanilla-js-plugin-actions",
    "hyperchad/renderer-vanilla-js-plugin-canvas",
    "hyperchad/renderer-vanilla-js-plugin-event",
    "hyperchad/renderer-vanilla-js-plugin-form",
    "hyperchad/renderer-vanilla-js-plugin-idiomorph",
    "hyperchad/renderer-vanilla-js-plugin-nav",
    "hyperchad/renderer-vanilla-js-plugin-routing",
    "hyperchad/renderer-vanilla-js-plugin-uuid",
]

insecure = ["hyperchad/renderer-vanilla-js-plugin-uuid-insecure"]

actix  = ["_sse", "hyperchad/renderer-html-actix"]
lambda = ["_sse", "hyperchad/renderer-html-lambda"]

wayland = ["hyperchad/wayland"]
x11     = ["hyperchad/x11"]

bundled = ["all-sources", "dep:moosicbox_app_native_bundled"]

windows-console = []

debug               = ["hyperchad/debug"]
format              = ["hyperchad/format"]
profiling-puffin    = ["hyperchad/profiling-puffin"]
profiling-tracing   = ["hyperchad/profiling-tracing"]
profiling-tracy     = ["hyperchad/profiling-tracy"]
syntax-highlighting = ["hyperchad/router-syntax-highlighting"]
unsafe              = ["hyperchad/unsafe"]

benchmark = ["hyperchad/benchmark"]

all-decoders = [
    "all-os-decoders",
    "decoder-mp3",
    "moosicbox_app_native_bundled?/all-decoders",
    "moosicbox_downloader/all-decoders",
    "moosicbox_player/all-decoders",
]
all-os-decoders = [
    "decoder-aac",
    "decoder-flac",
    "decoder-opus",
    "moosicbox_app_native_bundled?/all-os-decoders",
    "moosicbox_downloader/all-os-decoders",
    "moosicbox_player/all-os-decoders",
]

decoder-aac = [
    "format-aac",
    "moosicbox_app_native_bundled?/decoder-aac",
    "moosicbox_downloader/decoder-aac",
    "moosicbox_player/decoder-aac",
]
decoder-flac = [
    "format-flac",
    "moosicbox_app_native_bundled?/decoder-flac",
    "moosicbox_downloader/decoder-flac",
    "moosicbox_player/decoder-flac",
]
decoder-mp3 = [
    "format-mp3",
    "moosicbox_app_native_bundled?/decoder-mp3",
    "moosicbox_downloader/decoder-mp3",
    "moosicbox_player/decoder-mp3",
]
decoder-opus = [
    "format-opus",
    "moosicbox_app_native_bundled?/decoder-opus",
    "moosicbox_downloader/decoder-opus",
    "moosicbox_player/decoder-opus",
]

all-formats = [
    "all-os-formats",
    "format-mp3",
    "moosicbox_app_native_bundled?/all-formats",
    "moosicbox_app_native_ui/all-formats",
    "moosicbox_downloader/all-formats",
    "moosicbox_music_models/all-formats",
    "moosicbox_player/all-formats",
]
all-os-formats = [
    "format-aac",
    "format-flac",
    "format-opus",
    "moosicbox_app_native_bundled?/all-os-formats",
    "moosicbox_app_native_ui/all-os-formats",
    "moosicbox_downloader/all-os-formats",
    "moosicbox_music_models/all-os-formats",
    "moosicbox_player/all-os-formats",
]

format-aac = [
    "moosicbox_app_native_bundled?/format-aac",
    "moosicbox_app_native_ui/aac",
    "moosicbox_app_state/aac",
    "moosicbox_downloader/format-aac",
    "moosicbox_music_models/aac",
    "moosicbox_player/format-aac",
]
format-flac = [
    "moosicbox_app_native_bundled?/format-flac",
    "moosicbox_app_native_ui/flac",
    "moosicbox_app_state/flac",
    "moosicbox_downloader/format-flac",
    "moosicbox_music_models/flac",
    "moosicbox_player/format-flac",
]
format-mp3 = [
    "moosicbox_app_native_bundled?/format-mp3",
    "moosicbox_app_native_ui/mp3",
    "moosicbox_app_state/mp3",
    "moosicbox_downloader/format-mp3",
    "moosicbox_music_models/mp3",
    "moosicbox_player/format-mp3",
]
format-opus = [
    "moosicbox_app_native_bundled?/format-opus",
    "moosicbox_app_native_ui/opus",
    "moosicbox_app_state/opus",
    "moosicbox_downloader/format-opus",
    "moosicbox_music_models/opus",
    "moosicbox_player/format-opus",
]

all-sources = [
    "moosicbox_app_native_bundled?/all-sources",
    "moosicbox_app_state/all-sources",
    "qobuz",
    "tidal",
    "yt",
]

qobuz = [
    "format-flac",
    "moosicbox_app_native_bundled?/qobuz",
    "moosicbox_app_state/qobuz",
    "moosicbox_music_api_api/auth-username-password",
]
tidal = [
    "format-flac",
    "moosicbox_app_native_bundled?/tidal",
    "moosicbox_app_state/tidal",
    "moosicbox_music_api_api/auth-poll",
]
yt = [
    "format-flac",
    "moosicbox_app_native_bundled?/yt",
    "moosicbox_app_state/yt",
]

assets        = ["hyperchad/renderer-assets"]
static-routes = ["hyperchad/router-static-routes"]

dev = ["assets", "static-routes"]

tauri = ["hyperchad/renderer-vanilla-js-plugin-tauri-event"]
