[package]
authors     = { workspace = true }
categories  = ["date-and-time", "development-tools"]
description = "Switchy Time package"
edition     = { workspace = true }
keywords    = ["time"]
license     = { workspace = true }
name        = "switchy_time"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[package.metadata.workspaces]
group = "switchy"

[dependencies]
switchy_random = { workspace = true, optional = true, features = ["rand"] }

chrono     = { workspace = true, optional = true }
log        = { workspace = true }
scoped-tls = { workspace = true, optional = true }

[dev-dependencies]
test-log = { workspace = true }

[features]
default = ["simulator", "std"]

fail-on-warnings = ["switchy_random?/fail-on-warnings"]

chrono = ["dep:chrono"]
simulator = [
    "dep:scoped-tls",
    "dep:switchy_random",
    "switchy_random?/simulator",
]
std = []
