[package]
authors     = { workspace = true }
categories  = ["encoding", "multimedia", "network-programming"]
description = "MoosicBox Symphomia player package"
edition     = { workspace = true }
keywords    = ["audio", "bytes", "decoder", "file", "stream"]
license     = { workspace = true }
name        = "moosicbox_audio_decoder"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_stream_utils = { workspace = true, features = [
    "remote-bytestream",
    "stalled-monitor",
] }

switchy_async = { workspace = true, features = ["tokio"] }
switchy_http  = { workspace = true, features = ["reqwest"] }
switchy_time  = { workspace = true, features = ["std"] }

bytes          = { workspace = true }
flume          = { workspace = true }
futures        = { workspace = true }
log            = { workspace = true }
moosicbox_opus = { workspace = true, optional = true }
profiling      = { workspace = true, optional = true }
rangemap       = { workspace = true }
symphonia      = { workspace = true }
thiserror      = { workspace = true }
tokio          = { workspace = true, features = ["rt-multi-thread", "tracing"] }

[features]
default = []

fail-on-warnings = [
    "moosicbox_opus?/fail-on-warnings",
    "moosicbox_stream_utils/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_http/fail-on-warnings",
    "switchy_time/fail-on-warnings",
]

profiling = ["dep:profiling"]

all-formats    = ["all-os-formats", "mp3"]
all-os-formats = ["aac", "flac", "opus"]

aac  = []
flac = []
mp3  = []
opus = ["dep:moosicbox_opus"]
