name: Marketing Website Deploy

on:
    workflow_dispatch:
        inputs:
            stage:
                description: 'Stage'
                required: false
                default: 'prod'

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3
              name: Install pnpm
              with:
                  version: 9
                  run_install: false

            - name: Checkout sst
              uses: actions/checkout@v4
              with:
                  repository: BSteffaniak/sst
                  ref: pnpm
                  path: sst

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install SST
              working-directory: sst
              shell: bash
              run: |
                  bun install
                  go mod tidy
                  (cd platform; bun run build)
                  go build ./cmd/sst

            - uses: goto-bus-stop/setup-zig@v2

            - name: Install cargo-lambda
              shell: bash
              run: |
                  pip3 install cargo-lambda

            - name: pnpm install
              working-directory: packages/marketing_site
              shell: bash
              run: |
                  pnpm install

            - name: sst install
              working-directory: packages/marketing_site
              run: |
                  ../../sst/sst install --verbose --print-logs

            - name: Deploy
              working-directory: packages/marketing_site
              shell: bash
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_REGION: us-east-1
              run: |
                  ../../sst/sst deploy --stage ${{ github.event.inputs.stage }} --verbose

            - name: Upload log
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: log
                  path: packages/marketing_site/.sst/log
                  if-no-files-found: error
                  retention-days: 90
