name: Server Simulator

on:
    push:
        branches: ["master", "edge"]
        paths:
            - packages/**
            - "**/*.toml"
            - "**/Cargo.lock"
            - .github/workflows/server-simulator.yml
            - "!packages/marketing_site/**"
            - "!packages/hyperchad/**"
            - "!packages/app/**"
            - "!**/*.nix"
            - "!**/Dockerfile"
            - "!**/*.Dockerfile"
            - "!**/*.dockerignore"
            - "!**/*.md"
    pull_request:
        branches: ["master", "edge"]
    workflow_dispatch:
        inputs:
            edge:
                description: "Edge"
                required: false
                type: boolean
                default: false
env:
    CARGO_TERM_COLOR: always

jobs:
    build-matrix:
        name: Build matrix
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.build-matrix-step.outputs.matrix }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: dtolnay/rust-toolchain@stable

            - name: Build matrix JSON
              id: build-matrix-step
              uses: ./.github/actions/clippier
              with:
                  command: features
                  workspace-path: packages/server
                  features: default
                  transform-name-regex: "^moosicbox_"

    simulator:
        name: Simulator

        runs-on: ${{ matrix.package.runner }}

        needs: build-matrix

        strategy:
            fail-fast: false

            matrix:
                package: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Enable patches
              if: ${{ github.event_name == 'schedule' || github.event.inputs.edge == true }}
              run: |
                  git config user.name "MoosicBoxBot"
                  git config user.email "MoosicBoxBot@gmail.com"
                  git checkout edge
                  git rebase master

            - uses: dtolnay/rust-toolchain@stable

            - name: Setup CI
              if: ${{ matrix.package.ciSteps }}
              run: ${{ matrix.package.ciSteps }}

            - uses: pnpm/action-setup@v3
              if: ${{ contains(matrix.package.toolchains, 'pnpm') || contains(matrix.package.ciToolchains, 'pnpm') }}
              name: Install pnpm
              with:
                  version: latest
                  run_install: false

            - uses: actions/setup-node@v4
              if: ${{ contains(matrix.package.toolchains, 'node') || contains(matrix.package.ciToolchains, 'node') }}
              name: Install node
              with:
                  node-version: latest

            - name: Setup cmake
              uses: jwlawson/actions-setup-cmake@v2
              with:
                  cmake-version: "3.x"

            - name: Install dependencies
              if: ${{ matrix.package.dependencies }}
              shell: bash
              run: ${{ matrix.package.dependencies }}

            - name: Run server simulator
              shell: bash
              env:
                  ENABLE_ASSERT: 1
                  SIMULATOR_DURATION: 10
                  SIMULATOR_RUNS: 30
              run: |
                  while read -r feature; do \
                      ${{ matrix.package.env }} cargo run --release -p moosicbox_server_simulator ${{ runner.debug && '-vv' }} \
                          --no-default-features \
                          --features="fail-on-warnings,$feature" ${{ matrix.package.cargo }}
                  done <<<"$(echo '${{ toJson(matrix.package.features) }}' | jq -r '.[]')"
