[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "HyperChad template macros package"
edition     = { workspace = true }
keywords    = ["async"]
license     = { workspace = true }
name        = "hyperchad_template_macros"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[package.metadata.workspaces]
group = "hyperchad"

[lib]
proc-macro = true

[dependencies]
hyperchad_color                = { workspace = true }
hyperchad_template_actions_dsl = { workspace = true }
hyperchad_transformer          = { workspace = true }
hyperchad_transformer_models   = { workspace = true }
proc-macro2                    = { workspace = true }
proc-macro2-diagnostics        = { workspace = true }
quote                          = { workspace = true }
syn                            = { workspace = true, features = ["extra-traits", "full"] }

log = { workspace = true }

[dev-dependencies]
hyperchad_template = { workspace = true }
test-log           = { workspace = true }

[features]
default = []

fail-on-warnings = [
    "hyperchad_color/fail-on-warnings",
    "hyperchad_template_actions_dsl/fail-on-warnings",
    "hyperchad_transformer/fail-on-warnings",
    "hyperchad_transformer_models/fail-on-warnings",
]
