[package]
authors     = { workspace = true }
categories  = ["development-tools"]
description = "MoosicBox arbitrary arb package"
edition     = { workspace = true }
keywords    = ["arb", "arbitrary", "testing"]
license     = { workspace = true }
name        = "moosicbox_arb"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = false

[dependencies]
moosicbox_assert = { workspace = true }

log        = { workspace = true }
proptest   = { workspace = true }
serde_json = { workspace = true, optional = true }

[dev-dependencies]

[features]
default = ["css", "serde", "xml"]

fail-on-warnings = ["moosicbox_assert/fail-on-warnings"]

css   = []
serde = ["dep:serde_json", "xml"]
xml   = []
