[package]
authors     = { workspace = true }
categories  = ["database"]
description = "MoosicBox search package"
edition     = { workspace = true }
keywords    = ["api", "database", "search", "tantivy"]
license     = { workspace = true }
name        = "moosicbox_search"
readme      = "README.md"
repository  = { workspace = true }
version     = "0.1.4"

[package.metadata]
examples = true

[dependencies]
moosicbox_config           = { workspace = true }
moosicbox_json_utils       = { workspace = true, features = ["tantivy"] }
moosicbox_music_api_models = { workspace = true, features = ["api-search"] }
moosicbox_music_models     = { workspace = true, features = ["tantivy"] }

switchy_async = { workspace = true, features = ["sync", "tokio"] }
switchy_fs    = { workspace = true, features = ["std"] }

# API Dependencies
actix-web = { workspace = true, optional = true }

itertools = { workspace = true }
log       = { workspace = true }
regex     = { workspace = true }
serde     = { workspace = true }
tantivy   = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
moosicbox_config = { workspace = true }
switchy_async    = { workspace = true, features = ["macros"] }
switchy_fs       = { workspace = true, features = ["simulator", "simulator-real-fs"] }

pretty_assertions = { workspace = true }
serial_test       = { workspace = true }
static_init       = { workspace = true }
test-log          = { workspace = true }

[features]
default = ["api", "db", "openapi"]

fail-on-warnings = [
    "moosicbox_config/fail-on-warnings",
    "moosicbox_json_utils/fail-on-warnings",
    "moosicbox_music_api_models/fail-on-warnings",
    "moosicbox_music_models/fail-on-warnings",
    "switchy_async/fail-on-warnings",
    "switchy_fs/fail-on-warnings",
]

api = [
    "db",
    "dep:actix-web",
    "moosicbox_config/api",
    "moosicbox_music_api_models/api",
    "moosicbox_music_models/api",
]
db = [
    "moosicbox_config/db",
    "moosicbox_music_api_models/db",
    "moosicbox_music_models/db",
]
openapi = [
    "moosicbox_config/openapi",
    "moosicbox_music_api_models/openapi",
    "moosicbox_music_models/openapi",
]

simulator = [
    "switchy_async/simulator",
    "switchy_async/time",
    "switchy_fs/simulator",
]
